{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}
{% block boton %}
     
        <a  href="{{ path('lineainvestigacion_new') }}"><button type="button" class="btn btn-warning warning_22"><span class="glyphicon glyphicon-plus"  id="pencil"></span>   Nuevo</button></a>
        <a target="_blank" href="{{ path('generarpdf_linea') }}"><button type="button" class="btn btn-warning warning_22"><span class="glyphicon glyphicon-export"  id="pencil"></span>Exportar</button></a>

   
</br>
        </br>
    {% endblock %}

    {% block title %} Líneas de Investigación {% endblock %}

{% block body -%}

 
    <div class="table-responsive">
   <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example">


        
    
        <thead>
            <tr>
                
                <th>Título</th>
                <th>Resumen</th>
                <th>Objetivos</th>
                <th>Impacto</th>
                <th>Proyectos</th>

                <th>Editar</th>
                <th>Eliminar</th>

            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                 <td>{{ entity.titulo }}</td>
                <td><p>{{ entity.resumen}}</p></td>
                <td><p>{{ entity.objetivo }}</p></td>
                <td><p>{{ entity.impacto }}</p></td>

                <td>


                    {% for p in entity.proyecto %}


                {{ p.titulo|striptags|title }} .  </br>





                     {% endfor %}
                </td>
               
             <!--   <td>


               {% for p in entity.proyecto %}
                    {% for r in p.rrhh %}


                {{ r.nombre|striptags|title }} {{ r.apellidos|striptags|title }}.  </br>





                     {% endfor %}
                    {% endfor %}
               </td>-->
                <td>
                
                        


                       

                        <a title="Editar" href="{{ path('lineainvestigacion_edit', { 'id': entity.id 
                        }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                        </td>


                        <td>
                        <a title="Eliminar" data-toggle="modal" href="#{{ entity.id }}"><span class="glyphicon glyphicon-trash"></span></a>
                   
                </td>
            </tr>

            <div class="modal fade" id="{{ entity.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h2 class="modal-title">Confirmación de Eliminar</h2>
                            </div>
                            <div class="modal-body">
                                <h5 class="modal-title">¿Estás seguro que deseas eliminar la Línea de Investigación: {{ entity.titulo|striptags|title }} ?</h5>
                            </div>
                            <div class="modal-footer">

                                <a title="Editar" href="{{ path('lineainvestigacion_delete', { 'id': entity.id }) }}"><button type="button" class="btn btn-primary">Sí</button></a>
                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                
           </div>
        {% endfor %}
        </tbody>
    </table>

    <div class="alert alert-success">
        {% for flashMessage in app.session.flashbag.get('msg') %}
            <div class="msg">
                {{ flashMessage }}
                {% endfor %}
            </div>

        
    

     <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('#dataTables-example').DataTable({
                    responsive: true
                });
            });
        </script>
    {% endblock %}
