{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block title %}Nueva Línea de Investigación{% endblock %}
{% block body -%}
   <div class="bs-example4" >


   
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(form.titulo,"Título") }}</div>

        <div class="col-sm-8">
            <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(form.titulo, { "attr": {"class": "form-control1"} }) }}
        </div>
        </div>

        <div style="float: right" class="col-sm-6">
            <p class="help-block"> {{ form_errors(form.titulo) }}</p>
        </div>
    </div>
    
<div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(form.resumen) }}</div>

        <div class="col-sm-8">
            <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>

            {{ form_widget(form.resumen, { "attr": {"class": "form-control"} }) }}
        </div>
        </div>
    <div style="float: right" class="col-sm-6">
            <p class="help-block">{{ form_errors(form.resumen) }}</p>
        </div>
    </div>



    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.objetivo) }}</div>
        <div class="col-sm-8">
            <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
        {{ form_widget(form.objetivo, { "attr": {"class": "form-control"} }) }}
            </div>
            </div>
        <div style="float: right" class="col-sm-6">
            <p class="help-block">{{ form_errors(form.objetivo) }}</p>
        </div>

    </div>



    <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(form.impacto) }}</div>

        <div class="col-sm-8">
            <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(form.impacto, { "attr": {"class": "form-control"} }) }}
        </div>
        </div>

        <div style="float: right" class="col-sm-6">
            <p class="help-block"> {{ form_errors(form.impacto) }}</p>
        </div>
    </div>







    


    <div class="panel-footer">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {{ form_widget(form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
       
        <a href="{{ path('lineainvestigacion') }}">
            <button type="button" class="btn btn-warning warning_22">Cancelar</button>
        </a>
    </div>
    </div>
    </div>



    {{ form_end(form) }}


       <script type="text/javascript">
           $(".js-example-basic-responsables").select2();

           var $exampleMulti1 = $(".js-example-basic-curso").select2();
           $(".js-programmatic-multi-clear1").on("click", function () { $exampleMulti1.val(null).trigger("change"); });

       </script>




        <script type="text/javascript">
         $(function () {
        $('#gedeltur_bundle_lineainvestigacion_titulo').keydown(letras);
        $('#gedeltur_bundle_lineainvestigacion_resumen').keydown(let);
        $('#gedeltur_bundle_lineainvestigacion_objetivo').keydown(let);
        $('#gedeltur_bundle_lineainvestigacion_impacto').keydown(let);

})
</script>

{% endblock %}
