{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}


{% block title %} Linea de Investigación {% endblock %}
{% block body -%}
<div class="bs-example4" >
{{ form_start(delete_form) }}
    {{ form_errors(delete_form) }}
<div class="input-group">
        

        <div class="col-sm-8">
 

    <table class="table table-striped table-bordered table-hover dataTable no-footer">
    
    
        <tbody>
           <tr>
                <th>Título</th>
                <td>{{ entity.titulo }}</td>
            </tr>
            <tr>
                <th>Resumen</th>
                <td>{{ entity.resumen }}</td>
            </tr>
            <tr>
                <th>Objetivo</th>
                <td>{{ entity.objetivo }}</td>
            </tr>
            <tr>
                <th>Impacto</th>
                <td>{{ entity.impacto }}</td>
            </tr>
            
        </tbody>
    </table>

       

        <a href="{{ path('lineainvestigacion') }}">
           <button type="button" class="btn btn-warning warning_22">Listar</button>
        </a>
   
        <a href="{{ path('lineainvestigacion_edit', { 'id': entity.id }) }}">
           <button type="button" class="btn btn-primary">Editar</button>
        </a>
    
    {{ form_widget(delete_form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
   {{ form_end(delete_form) }}

{% endblock %}
