{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}
{% block boton %}
     
        <a  href="{{ path('otrasrelaciones_new') }}"><button type="button" class="btn btn-warning warning_22"><span class="glyphicon glyphicon-plus"  id="pencil"></span>   Nuevo</button></a>
         <a  href="{{ path('intitucion') }}"><button type="button" class="btn btn-warning warning_22"><span class="glyphicon glyphicon-trash"  id="pencil"></span>  Institución</button></a>
    
</br>
        </br>
    {% endblock %}

    {% block title %}Relaciones{% endblock %}
{% block body -%}

   <div class="bs-example4" >
   
   <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example">
   

    
        <thead>
            <tr>
               
                <th>Institución</th>
                <th>Concepto</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
        
            <tr>
               
                 <td>{{ entity.institucion|striptags|title }}</td>
                <td>
                
                
                    {{ entity.concepto|striptags|title }}.</br>

                  
                    </td>

                <td>

                        

                        <a title="Editar" href="{{ path('otrasrelaciones_edit', { 'id': entity.id 
                        }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                         </td>

                          <td>
                        <a title="Eliminar" data-toggle="modal" href="#{{ entity.id}}"><span class="glyphicon glyphicon-trash"></span></a>
                
                        
                    
                </td>
            </tr>

            <div class="modal fade" id="{{ entity.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h2 class="modal-title">Confirmación de Eliminar</h2>
                            </div>
                            <div class="modal-body">
                                <h5 class="modal-title">¿Estás seguro que deseas eliminar la Relación con la Intitución: {{ entity.institucion|striptags|title }} ?</h5>
                            </div>
                            <div class="modal-footer">

                                <a  href="{{ path('otrasrelaciones_delete', { 'id': entity.id }) }}"><button type="button" class="btn btn-primary">Sí</button></a>
                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                
           </div>
        
         {% endfor %}
        </tbody>
    </table>

       <div class="alert alert-success">
        {% for flashMessage in app.session.flashbag.get('msg') %}
            <div class="msg">
                {{ flashMessage }}
                {% endfor %}
            </div>
             <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('#dataTables-example').DataTable({
                    responsive: true
                });
            });
        </script> 
        
   
     
    
    {% endblock %}
