{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}
{% block boton %}
     
        <a  href="{{ path('otrasrelaciones') }}"><button type="button" class="btn btn-warning warning_22"><span class="glyphicon glyphicon-arrow-left"  id="pencil"></span>   Atras</button></a>
         
    
</br>
        </br>
    {% endblock %}

    {% block title %}Relaciones por Intitución{% endblock %}
{% block body -%}

   <div class="bs-example4" >
   
   <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example">
   

    
        <thead>
            <tr>
               
                <th>Institución</th>
                <th>Concepto</th>
                
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
         {% for entidad in res %}
        
            <tr>
               
                 <td>{{ entidad.institucion|striptags|title }}</td>
                <td>
                {% for entity in entities %}
                 {% if entity.institucion==entidad.institucion %}
                    {{ entity.concepto|striptags|title }}.</br>

                    {% endif %}
                    {% endfor %}
                    </td>

                

                          <td>
                        <a title="Eliminar" data-toggle="modal" href="#{{ entidad.id}}"><span class="glyphicon glyphicon-trash"></span></a>
                
                        
                    
                </td>
            </tr>

            <div class="modal fade" id="{{ entidad.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h2 class="modal-title">Confirmación de Eliminar</h2>
                            </div>
                            <div class="modal-body">
                                <h5 class="modal-title">¿Estás seguro que deseas eliminar la Relación con la Intitución: {{ entidad.institucion|striptags|title }} ?</h5>
                            </div>
                            <div class="modal-footer">

                                <a  href="{{ path('institucion_eliminar', { 'id': entidad.institucion.id }) }}"><button type="button" class="btn btn-primary">Sí</button></a>
                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                
           </div>
        
         {% endfor %}
        </tbody>
    </table>

       <div class="alert alert-success">
        {% for flashMessage in app.session.flashbag.get('msg') %}
            <div class="msg">
                {{ flashMessage }}
                {% endfor %}
            </div>
             <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('#dataTables-example').DataTable({
                    responsive: true
                });
            });
        </script> 
        
   
     
    
    {% endblock %}
