{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block title %} Nueva Relación {% endblock %}
{% block body -%}
    <div class="bs-example4" >

  
{{ form_start(form) }}
    {{ form_errors(form) }}
    


    <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(form.concepto) }}</div>

        <div class="col-sm-8"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(form.concepto, { "attr": {"class": "form-control1"} }) }}
        </div>
        </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(form.concepto) }}</p>
        </div>
    </div>



    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.institucion, "Institución") }}</div>
        <div class="col-sm-3"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
        {{ form_widget(form.institucion, { "attr": {"class": "form-control1 js-example-basic-single"} }) }}
            </div>
            </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(form.institucion) }}</p>
        </div>

    </div>



    


    <div class="panel-footer">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {{ form_widget(form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
       
        <a href="{{ path('otrasrelaciones') }}">
            <button type="button" class="btn btn-warning warning_22">Cancelar</button>
        </a>
    </div>
    </div>
    </div>

  <div class="alert alert-success">
        {% for flashMessage in app.session.flashbag.get('msg') %}
            <div class="msg">
                {{ flashMessage }}
                {% endfor %}
            </div>

    {{ form_end(form) }}



      <script type="text/javascript">
          $(document).ready(function() {
              $(".js-example-basic-single").select2();
          });
      </script>

<script type="text/javascript">
         $(function () {
        $('#gedeltur_bundle_otrasrelaciones_concepto').keydown(letras);
       

})
</script>
        
{% endblock %}
