{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}
{% block title %} Relación {% endblock %}
{% block body -%}
<div class="bs-example4" >
{{ form_start(delete_form) }}
    {{ form_errors(delete_form) }}
<div class="input-group">
        

        <div class="col-sm-8">
   

    <table class="table table-striped table-bordered table-hover dataTable no-footer">
    

    
        <tbody>
            
            <tr>
                <th>Institución</th>
                <td>{{ entity.institucion }}</td>
            </tr>
            <tr>
                <th>Concepto</th>
                <td>{{ entity.concepto }}</td>
            </tr>
        </tbody>
    </table>

       
        <a href="{{ path('otrasrelaciones') }}">
            <button type="button" class="btn btn-warning warning_22">Listar</button>
        </a>
    
        <a href="{{ path('otrasrelaciones_edit', { 'id': entity.id }) }}">
             <button type="button" class="btn btn-primary">Editar</button>
        </a>
    {{ form_widget(delete_form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
      {{ form_end(delete_form) }}

</div>
</div>
</div>
</div>
</div>
{% endblock %}
