{% extends 'layout.html.twig' %}

{% block evento %}

    {% if cant_eventos>0 %}


        <li xmlns="http://www.w3.org/1999/html"><a href="#" >Evento</a>

            <ul class="dropdown">
                {% for entity in eventos %}




                    <li><a href="{{ path('eventos', { 'id': entity.id }) }}" >{{ entity.nombre }}</a>
                    </li>
                {% endfor %}

            </ul>
        </li>


    {% endif %}


{% endblock %}

{% block superacion %}




  {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

<div class="section service">
            <div class="main">
      <div class="container">
        
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">

            <div class="alert alert-success" style="width: 55%">
            {% for flashMessage in app.session.flashbag.get('msg') %}


            <div class="msg">
                {{ flashMessage }}
                {% endfor %}
            </div>

                </div>
          <div class="col-md-12 col-sm-9">



            <h1>Cambiar Contraseña</h1>
            <div class="content-form-page">
              <div class="row">
                <div class="col-md-7 col-sm-7">



                    <div class="form-group">
                        <div class="col-lg-4 control-label">{{ form_label(edit_form.contrasennaantigua) }}<span class="require">*</span></div>


                        <div class="col-lg-8">
                            {{ form_widget(edit_form.contrasennaantigua, { "attr": {"class": "form-control" ,"id":"firstname"} }) }}
                            <div class="col-sm-2">
                                <div class="alert">
                                    {% for mensaje in app.session.flashbag.get('error') %}
                                    <div class="msg">{{ mensaje }}</div>
                                    {% endfor %}</div>

            </div>
                            </div>
                        </div>





                    <fieldset>
                      <legend>Tu contraseña</legend>
                      
                      <div class="form-group">

                      <div class="col-lg-4 control-label">{{ form_label(edit_form.contrasenna.first) }}<span class="require">*</span></div>
                         
                        <div class="col-lg-8">

                        {{ form_widget(edit_form.contrasenna.first, { "attr": {"class": "form-control","id": "lastname"} }) }}
                          <div class="col-sm-2">
                          <p >{{ form_errors(edit_form.contrasenna.first) }}</p>
                          </div>
                        </div>
                      </div>


                      
                       <div class="form-group">

                      <div class="col-lg-4 control-label">{{ form_label(edit_form.contrasenna.second) }}<span class="require">*</span></div>
                         
                        <div class="col-lg-8">

                        {{ form_widget(edit_form.contrasenna.second, { "attr": {"class": "form-control","id": "lastname"} }) }}

                            <div class="col-sm-2">
                          <p class="help-block">{{ form_errors(edit_form.contrasenna.second) }}</p>
                          </div>


                        </div>
                      </div>

                    </fieldset>
                    
                    <div class="row">
                      <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20"> 
                     <button id="a" data-toggle="tooltip" title="Salvar" type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-save"></span>
                </button>                      
                        
                        <a href="{{ path('gedeltur_homepage') }}">
            <button type="button" class="btn btn-success">Salir</button>
        </a>
                      </div>
                    </div>


               
                </div>
                  <!--   <div class="col-md-4 col-sm-4 pull-right">
                      <div class="form-info">
                        <h2><em>Información</em> Importante</h2>



                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
              <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>
            <!-- .container -->
        </div>
		
		
		


   




		{{ form_end(edit_form) }}


		
{% endblock %}
