{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}
{% block title %}Editar Usuario{% endblock %}
{% block body -%}
   
<div class="bs-example4" >
  

{{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}



    <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(edit_form.role) }}</div>

        <div class="col-sm-8">
            {{ form_widget(edit_form.role, { "attr": {"class": "form-control1"} }) }}
        </div>

        <div class="col-sm-2">
            <p class="help-block"> {{ form_errors(edit_form.role) }}</p>
        </div>
    </div>


    <div id="contenido3"  class="input-group">
        <div class="col-sm-2 control-label"> {{ form_label(edit_form.contrasenna.first) }}</div>

        <div class="col-sm-8">
            <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-key"></i>
                                    </span>

                {{ form_widget(edit_form.contrasenna.first, { "attr": {"class": "form-control1","id":"exampleInputPassword1" } }) }}
            </div>
        </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(edit_form.contrasenna.first) }}</p>
        </div>

    </div>


    <div id="contenido4" class="input-group">
        <div class="col-sm-2 control-label"> {{ form_label(edit_form.contrasenna.second) }}</div>

        <div class="col-sm-8">
            <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-key"></i>
                                    </span>

                {{ form_widget(edit_form.contrasenna.second, { "attr": {"class": "form-control1","id":"exampleInputPassword1" } }) }}
            </div>
        </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(edit_form.contrasenna.second) }}</p>
        </div>

    </div>




    
    <div  id="contenido"  class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(edit_form.nombre) }}</div>

        <div class="col-sm-8">
            {{ form_widget(edit_form.nombre, { "attr": {"class": "form-control1"} }) }}
        </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(edit_form.nombre) }}</p>
        </div>
    </div>


    <div id="contenido1" class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(edit_form.apellido) }}</div>

        <div class="col-sm-8">
            {{ form_widget(edit_form.apellido, { "attr": {"class": "form-control1"} }) }}
        </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(edit_form.apellido) }}</p>
        </div>
    </div>






    <div id="contenido2" class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(edit_form.usuario) }}</div>

        <div class="col-sm-8">
            {{ form_widget(edit_form.usuario, { "attr": {"class": "form-control1"} }) }}
        </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(edit_form.usuario) }}</p>
        </div>
    </div>






    <div class="panel-footer">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {{ form_widget(edit_form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
       
        <a href="{{ path('usuarios') }}">
            <button type="button" class="btn btn-warning warning_22">Cancelar</button>
        </a>
    </div>
    </div>
    </div>



    {{ form_end(edit_form) }}
    <script type="text/javascript">

    $('#contenido').css('visibility', 'hidden');
    $('#contenido1').css('visibility', 'hidden');
    $('#contenido2').css('visibility', 'hidden');
    $('#contenido3').css('visibility', 'hidden');
    $('#contenido4').css('visibility', 'hidden');
    </script>
    {% endblock %}
