{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block title %}Nuevo Usuario{% endblock %}
{% block body -%}
   
<div class="bs-example4" >
  



    {{ form_start(form) }}
    {{ form_errors(form) }}
    



 <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(form.nombre) }}</div>

        <div class="col-sm-8">
         <div class="input-group">
                                   <span class="input-group-addon">N</span>
            {{ form_widget(form.nombre, { "attr": {"class": "form-control1"} }) }}
        </div>
        </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(form.nombre) }}</p>
        </div>
    </div>



    <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(form.apellido) }}</div>

        <div class="col-sm-8">
         <div class="input-group">
                                   <span class="input-group-addon">A</span>
            {{ form_widget(form.apellido, { "attr": {"class": "form-control1"} }) }}
        </div>
        </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(form.apellido) }}</p>
        </div>
    </div>






    <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(form.usuario) }}</div>

        <div class="col-sm-8">
         <div class="input-group">
                                   <span class="input-group-addon">@</span>
            {{ form_widget(form.usuario, { "attr": {"class": "form-control1"} }) }}
        </div>
        </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(form.usuario) }}</p>
        </div>
    </div>



    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.contrasenna.first) }}</div>
        
        <div class="col-sm-8">
        <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-key"></i>
                                    </span>

        {{ form_widget(form.contrasenna.first, { "attr": {"class": "form-control1","id":"exampleInputPassword1" } }) }}
            </div>
            </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(form.contrasenna.first) }}</p>
        </div>

    </div>


     <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.contrasenna.second) }}</div>
        
        <div class="col-sm-8">
        <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-key"></i>
                                    </span>

        {{ form_widget(form.contrasenna.second, { "attr": {"class": "form-control1","id":"exampleInputPassword1" } }) }}
            </div>
            </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(form.contrasenna.second) }}</p>
        </div>

    </div>



    <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(form.role,"Rol") }}</div>

        <div class="col-sm-8">
            {{ form_widget(form.role, { "attr": {"class": "form-control1"} }) }}
        </div>

        <div class="col-sm-2">
            <p class="help-block"> {{ form_errors(form.role) }}</p>
        </div>
    </div>


    <div class="panel-footer">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {{ form_widget(form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
       
        <a href="{{ path('usuarios') }}">
            <button type="button" class="btn btn-warning warning_22">Cancelar</button>
        </a>
    </div>
    </div>
    </div>



    {{ form_end(form) }}


    <script type="text/javascript">
         $(function () {



                 $('#gedeltur_bundle_usuarios_nombre').keydown(letras);
                 $('#gedeltur_bundle_usuarios_apellido').keydown(letras);




})
</script>

 <div class="alert alert-success">
        {% for flashMessage in app.session.flashbag.get('msg') %}
            <div class="msg">
                {{ flashMessage }}
                {% endfor %}
            </div>

{% endblock %}
