{% extends 'layout.html.twig' %}

{% block evento %}

    {% if cant_eventos>0 %}


        <li xmlns="http://www.w3.org/1999/html"><a href="#" >Evento</a>

            <ul class="dropdown">
                {% for entity in eventos %}




                    <li><a href="{{ path('eventos', { 'id': entity.id }) }}" >{{ entity.nombre }}</a>
                    </li>
                {% endfor %}

            </ul>
        </li>


    {% endif %}


{% endblock %}

{% block superacion %}

  {{ form_start(form) }}
    {{ form_errors(form) }}

<div class="section service">
            <div class="main">
      <div class="container">
        
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">

            <div class="alert alert-success" style="width: 55%">
            {% for flashMessage in app.session.flashbag.get('msg') %}


            <div class="msg">
                {{ flashMessage }}
                {% endfor %}
            </div>

                </div>
          <div class="col-md-12 col-sm-9">



            <h1>Crear una cuenta</h1>
            <div class="content-form-page">
              <div class="row">
                <div class="col-md-7 col-sm-7">



                  
                    <fieldset>

                      <legend>Detalles personales</legend>
                      

                      <div class="form-group">
                       <div class="col-lg-4 control-label">{{ form_label(form.nombre) }}<span class="require">*</span></div>
                       
                        
                        <div class="col-lg-8">
                          {{ form_widget(form.nombre, { "attr": {"class": "form-control" ,"id":"firstname"} }) }}
                          <div class="col-sm-2">
                          <p class="help-block">{{ form_errors(form.nombre) }}</p>
                          </div>
                          </div>
                          </div>


                      <div class="form-group">

                      <div class="col-lg-4 control-label">{{ form_label(form.apellido) }} <span class="require">*</span></div>
                        
                        <div class="col-lg-8">

                        {{ form_widget(form.apellido, { "attr": {"class": "form-control","id": "lastname"} }) }}
                          <div class="col-sm-2">
                          <p class="help-block">{{ form_errors(form.apellido) }}</p>
                          </div>
                        </div>
                      </div>


                      <div class="form-group">

                      <div class="col-lg-4 control-label">{{ form_label(form.usuario) }}<span class="require">*</span></div>
                         
                        <div class="col-lg-8">

                        {{ form_widget(form.usuario, { "attr": {"class": "form-control","id": "lastname"} }) }}
                          <div class="col-sm-2">
                          <p class="help-block">{{ form_errors(form.usuario) }}</p>
                          </div>
                        </div>
                      </div>


                    </fieldset>



                    <fieldset>
                      <legend>Tu contraseña</legend>
                      
                      <div class="form-group">

                      <div class="col-lg-4 control-label">{{ form_label(form.contrasenna.first) }}<span class="require">*</span></div>
                         
                        <div class="col-lg-8">

                        {{ form_widget(form.contrasenna.first, { "attr": {"class": "form-control","id": "lastname"} }) }}
                          <div class="col-sm-2">
                          <p >{{ form_errors(form.contrasenna.first) }}</p>
                          </div>
                        </div>
                      </div>


                      
                       <div class="form-group">

                      <div class="col-lg-4 control-label">{{ form_label(form.contrasenna.second) }}<span class="require">*</span></div>
                         
                        <div class="col-lg-8">

                        {{ form_widget(form.contrasenna.second, { "attr": {"class": "form-control","id": "lastname"} }) }}

                            <div class="col-sm-2">
                          <p class="help-block">{{ form_errors(form.contrasenna.second) }}</p>
                          </div>


                        </div>
                      </div>

                    </fieldset>
                    
                    <div class="row">
                      <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20"> 
                     <button id="a" data-toggle="tooltip" title="Registrar" type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-save"></span>
                </button>                      
                        
                        <a href="{{ path('gedeltur_homepage') }}">
            <button type="button" class="btn btn-success">Cancelar</button>
        </a>
                      </div>
                    </div>


               
                </div>
                  <!-- <div class="col-md-4 col-sm-4 pull-right">
                    <div class="form-info">
                      <h2><em>Información</em> Importante</h2>



                    </div>
                  </div>-->
                </div>
              </div>
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>
            <!-- .container -->
        </div>
		
		
		


   




		{{ form_end(form) }}


		
{% endblock %}
