{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block title %}Usuario{% endblock %}
{% block body -%}
<div class="bs-example4" >
{{ form_start(delete_form) }}
    {{ form_errors(delete_form) }}
<div class="input-group">
        

        <div class="col-sm-8">
    

    <table class="table table-striped table-bordered table-hover dataTable no-footer">

   
        <tbody>
            
            <tr>
                <th>Usuario</th>
                <td>{{ entity.usuario }}</td>
            </tr>
            <tr>
                <th>Contraseña</th>
                <td>{{ entity.contrasenna }}</td>
            </tr>
            <tr>
                <th>Rol</th>
                <td>{{ entity.role }}</td>
            </tr>
        </tbody>
    </table>

       
        <a href="{{ path('usuarios') }}">
          <button type="button" class="btn btn-warning warning_22">Listar</button>
        </a>
   
        <a href="{{ path('usuarios_edit', { 'id': entity.id }) }}">
              <button type="button" class="btn btn-primary">Editar</button>
        </a>
    {{ form_widget(delete_form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
      {{ form_end(delete_form) }}
</div>
</div>
</div>

{% endblock %}
