{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block title %}
    Editar Estudiante
{% endblock %}

{% block body -%}
 <div class="bs-example4" >


  
 {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    

<div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(edit_form.id.ci, 'Carné de Identidad') }}</div>

        <div class="col-sm-8">
            <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.id.ci, { "attr": {"class": "form-control1"} }) }}
        </div>
        </div>
    <div style="float: right" class="col-sm-6">

    <p class="help-block">{{ form_errors(edit_form.id.ci) }}</p>
        </div>
    </div>



    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(edit_form.id.nombre) }}</div>
        <div class="col-sm-8">
            <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
        {{ form_widget(edit_form.id.nombre, { "attr": {"class": "form-control1"} }) }}
            </div>
            </div>
        <div style="float: right" class="col-sm-6">

        <p class="help-block">{{ form_errors(edit_form.id.nombre) }}</p>
        </div>

    </div>



    <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(edit_form.id.apellidos, 'Apellidos') }}</div>

        <div class="col-sm-8">
            <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.id.apellidos, { "attr": {"class": "form-control1"} }) }}
        </div>
        </div>

        <div style="float: right" class="col-sm-6">

        <p class="help-block"> {{ form_errors(edit_form.id.apellidos) }}</p>
        </div>
    </div>


    <div class="input-group">
        <div class="col-sm-2 control-label"> {{ form_label(edit_form.id.direccion, 'Dirección') }}</div>
        <div class="col-sm-8">
            <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.id.direccion, { "attr": {"class": "form-control1"} }) }}
        </div>
        </div>
        <div style="float: right" class="col-sm-6">

        <p class="help-block">  {{ form_errors(edit_form.id.direccion) }}</p>
        </div>
    </div>


    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(edit_form.id.image, 'Imagen') }}</div>


        <div class="col-sm-8">

            {{ form_widget(edit_form.id.image, { "attr": {"id": "exampleInputFile"} }) }}
            <p class="help-block">No debe exceder de los 500 kb.</p>
        </div>

        <div style="float: right" class="col-sm-6">

        <p class="help-block">   {{ form_errors(edit_form.id.image) }}</p>
        </div>

    </div>

    <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(edit_form.facultad) }}</div>

        <div class="col-sm-3">
            <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.facultad, { "attr": {"class": "form-control1 js-example-basic-single"} }) }}
        </div>
        </div>


        <div class="col-sm-2 control-label">  <label>Carrera</label></div>
        <div class="col-sm-3">
            <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            <select id="carrera" name="sd" class="form-control select2">

                <option value="">

                </option>

            </select>
        </div>
        </div>

        <div style="float: right" class="col-sm-6">

        <p class="help-block"> {{ form_errors(edit_form.carrera) }}</p>
        </div>
    </div>










     <div class="input-group">
         <div class="col-sm-2 control-label"> {{ form_label(edit_form.anyo, 'Año Académico') }}</div>
         <div class="col-sm-3">
             <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
             {{ form_widget(edit_form.anyo, { "attr": {"class": "form-control1 js-example-basic-singles"} }) }}
         </div>
         </div>

         <div class="col-sm-2">
             <p class="help-block">{{ form_errors(edit_form.anyo) }}</p>
         </div>
     </div>
    

    


    <div class="panel-footer">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {{ form_widget(edit_form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
       
        <a href="{{ path('gce') }}">
            <button type="button" class="btn btn-warning warning_22">Cancelar</button>
        </a>
    </div>
    </div>
    </div>




     <script type="text/javascript">
        $(function () {

            var elements={
                'Facultad de Ciencias Técnicas':["Informática","Mecánica","Telecomunicaciones","Geología"],
                'Facultad de Ciencias Económicas y Empresariales':["Economía","Industrial","Contabilidad"],
                'Facultad de Ciencias Sociales y Humanísticas':["Derecho","Socio Cultural","Periodismo"],
                'Facultad de Ciencias Forestales y Agropecuarias':["Agronomía","Forestal"]

            }
            //validaciones js
            $('#gedeltur_bundle_gce_id_ci').keydown(ci);
              $('#gedeltur_bundle_gce_facultad').keydown(letras);
             $('#gedeltur_bundle_gce_carrera').keydown(letras);
        
            $('#gedeltur_bundle_gce_id_nombre').keydown(letras);
           $('#gedeltur_bundle_gce_id_apellidos').keydown(letras);
            $('#gedeltur_bundle_gce_id_direccion').keydown(adress);



            $('#gedeltur_bundle_gce_facultad').on('change', function(obj) {
                var valores=elements[obj.target.value];
                var options='<option></option>'
                for (var a in valores)
                {
                    options+='<option value="'+valores[a]+'">'+valores[a]+'</option>'
                }

               // alert(options);


                $('#carrera').html(options);
            });

           var f= $('#gedeltur_bundle_gce_facultad').val()
            var valor=elements[f];
            var opt='<option></option>'

            for (var a in valor)
            {
                if(valor[a]==$('#gedeltur_bundle_gce_carrera').val())
                opt+='<option value="'+valor[a]+'" selected="selected">'+valor[a]+'</option>'
                else
                opt+='<option value="'+valor[a]+'">'+valor[a]+'</option>'
            }

            //alert(opt);


            $('#carrera').html(opt);


            $('#carrera').on('change', function(obj) {



                $('#gedeltur_bundle_gce_carrera').val(obj.target.value);
            });
        })
    </script>


    <div class="alert alert-success">
        {% for flashMessage in app.session.flashbag.get('msg') %}
            <div class="msg">
                {{ flashMessage }}
            </div>
        {% endfor %}
    </div>
      {{ form_end(edit_form) }}


     <script type="text/javascript">
         $(document).ready(function() {
             $(".js-example-basic-single").select2();
         });
     </script>

     <script type="text/javascript">
         $(document).ready(function() {
             $(".js-example-basic-singles").select2();
         });
     </script>



      
{% endblock %}
