{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block boton %}
     <div style="float: right">
        <a  href="{{ path('plantillaproyecto_new') }}"><button type="button" class="btn btn-warning warning_22"><span class="glyphicon glyphicon-pencil"  id="pencil"></span>   Nuevo</button></a>
         
    </div>
</br>
        </br>
    {% endblock %}

    {% block title %}Proyectos Activos{% endblock %}


{% block body -%}

<div class="bs-example4" >





        
    <table class="table table-striped table-bordered table-hover dataTable no-footer"  id="dataTables-example">





   

    
        <thead>
            <tr>
                
                <th>Empleado</th>
                <th>Proyecto</th>
                <th>Responsable</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
               
                <td>{{ entity.plantilla }}</td>
                <td>{{ entity.proyecto }}</td>
                <td>{% if entity.responsable ==0 %}
                NO
                 {% endif %}{% if entity.responsable ==1 %}
                SI
                 {% endif %}</td>
                <td>
               
                        <a title="Mostrar" href="{{ path('plantillaproyecto_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                    
                        <a title="Editar" href="{{ path('plantillaproyecto_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                        
                        <a title="Eliminar" href="{{ path('plantillaproyecto_delete', { 'id': entity.id}) }}"><span class="glyphicon glyphicon-trash"></span></a>



                    
                        
                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="alert alert-success">
        {% for flashMessage in app.session.flashbag.get('msg') %}
            <div class="msg">
                {{ flashMessage }}
                {% endfor %}
            </div>
      </div>
  

        <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('#dataTables-example').DataTable({
                    responsive: true
                });
            });
        </script>
          
       
    {% endblock %}
