{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block title %}
    Nuevo Proyecto Activo
{% endblock %}

{% block body -%}
 <div class="bs-example4" >

   

    {{ form_start(form) }}
    {{ form_errors(form) }}
    


    <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(form.plantilla,"Empleado") }}</div>

        <div class="col-sm-8">
            {{ form_widget(form.plantilla, { "attr": {"class": "form-control1"} }) }}
        </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(form.plantilla) }}</p>
        </div>
    </div>



    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.proyecto) }}</div>
        <div class="col-sm-8">
        {{ form_widget(form.proyecto, { "attr": {"class": "form-control1"} }) }}
            </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(form.proyecto) }}</p>
        </div>

    </div>



    <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(form.responsable, 'Responsable') }}</div>

        <div class="col-sm-8">
            {{ form_widget(form.responsable, { "attr": {"class": "ng-invalid ng-invalid-required"} }) }}
        </div>

        <div class="col-sm-2">
            <p class="help-block"> {{ form_errors(form.responsable) }}</p>
        </div>
    </div>


    <div class="panel-footer">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {{ form_widget(form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
       
        <a href="{{ path('plantillaproyecto') }}">
            <button type="button" class="btn btn-warning warning_22">Cancelar</button>
        </a>
    </div>
    </div>
    </div>



    {{ form_end(form) }}

       
{% endblock %}
