{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}
{% block title %}
    Asignaturas
{% endblock %}
{% block body -%}
<div class="bs-example4" >
{{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    


    <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(edit_form.nombre) }}</div>

        <div class="col-sm-8">
        <div class="input-group">
                                    <span class="input-group-addon">
                                       <span class="glyphicon glyphicon-asterisk">
                                        
                                    </span> 
                                    </span>
            {{ form_widget(edit_form.nombre, { "attr": {"class": "form-control1"} }) }}
        </div>
        </div>
        <div style="float: right" class="col-sm-6">

        <p class="help-block">{{ form_errors(edit_form.nombre) }}</p>
        </div>
    </div>



    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(edit_form.carrera) }}</div>
        <div class="col-sm-8">
        <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">
                                        
                                    </span> 
                                    </span>
        {{ form_widget(edit_form.carrera, { "attr": {"class": "form-control1"} }) }}
            </div>
            </div>
        <div style="float: right" class="col-sm-6">

        <p class="help-block">{{ form_errors(edit_form.carrera) }}</p>
        </div>

    </div>



    <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(edit_form.plantilla, 'Docente') }}</div>

        <div class="col-sm-3">
        <div class="input-group">
                                    <span class="input-group-addon">
                                       <span class="glyphicon glyphicon-asterisk">
                                        
                                    </span> 
                                    </span>
            {{ form_widget(edit_form.plantilla, { "attr": {"class": "form-control1 js-example-basic-responsable"} }) }}
        </div>
        </div>

        <div style="float: right" class="col-sm-6">

        <p class="help-block"> {{ form_errors(edit_form.plantilla) }}</p>
        </div>
    </div>


    <div class="panel-footer">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {{ form_widget(edit_form.submit,{ "attr": {"class": "btn btn-warning warning_22"} }) }}
       
        <a href="{{ path('asignatura') }}">
            <button type="button" class="btn btn-primary">Cancelar</button>
            
        </a>
    </div>
    </div>
    </div>
<div class="alert alert-success">
        {% for flashMessage in app.session.flashbag.get('msg') %}
            <div class="msg">
                {{ flashMessage }}
            </div>
        {% endfor %}
    </div>


    {{ form_end(edit_form) }}

    <script type="text/javascript">
        $(document).ready(function() {
            $(".js-example-basic-responsable").select2();
        });
    </script>
    
<script type="text/javascript">
         $(function () {
        $('#gedeltur_bundle_asignatura_carrera').keydown(letras);
       $('#gedeltur_bundle_asignatura_nombre').keydown(let);

})
</script>
    
{% endblock %}
