{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}
{% block title %} Nueva Norma {% endblock %}
{% block body -%}
   
 <div class="bs-example4" >
    {{ form_start(form) }}
    {{ form_errors(form) }}
    


    <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(form.nombre) }}</div>

        <div class="col-sm-8"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(form.nombre, { "attr": {"class": "form-control1"} }) }}
        </div>
        </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(form.nombre) }}</p>
        </div>
    </div>

<div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(form.idioma) }}</div>

        <div class="col-sm-8"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(form.idioma, { "attr": {"class": "form-control1 js-example-basic-responsablesss"} }) }}
        </div>
        </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(form.idioma) }}</p>
        </div>
    </div>

    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.pautas) }}</div>
        <div class="col-sm-8"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
        {{ form_widget(form.pautas, { "attr": {"class": "form-control"} }) }}
            </div>
            </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(form.pautas) }}</p>
        </div>

    </div>



    <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(form.estructuraTrabajo, 'Estructura del Trabajo') }}</div>

        <div class="col-sm-8"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(form.estructuraTrabajo, { "attr": {"class": "form-control"} }) }}
        </div>
        </div>

        <div class="col-sm-2">
            <p class="help-block"> {{ form_errors(form.estructuraTrabajo) }}</p>
        </div>
    </div>


    <div class="panel-footer">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {{ form_widget(form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
       
        <a href="{{ path('norma') }}">
            <button type="button" class="btn btn-warning warning_22">Cancelar</button>
        </a>
    </div>
    </div>
    </div>


     <script type="text/javascript">
        $(function () {
            //validaciones js
            $('#gedeltur_bundle_norma_nombre').keydown(adress);
              $('#gedeltur_bundle_norma_pautas').keydown(adress);

        
            $('#gedeltur_bundle_norma_estructuraTrabajo').keydown(adress);
          
        })
    </script>

     <script type="text/javascript">
         $(".js-example-basic-responsablesss").select2();

         var $exampleMulti1 = $(".js-example-basic-responsablesss").select2();
         $(".js-programmatic-multi-clear1").on("click", function () { $exampleMulti1.val(null).trigger("change"); });

     </script>

    {{ form_end(form) }}





        
 
{% endblock %}
