{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}
{% block title %}Norma{% endblock %}
{% block body -%}
 <div class="bs-example4" >
{{ form_start(delete_form) }}
    {{ form_errors(delete_form) }}
<div class="input-group">
        

        <div class="col-sm-8">
    

    <table class="table table-striped">
 

   
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Estructuratrabajo</th>
                <td>{{ entity.estructuraTrabajo }}</td>
            </tr>
            <tr>
                <th>Pautas</th>
                <td>{{ entity.pautas }}</td>
            </tr>
            <tr>
                <th>Idioma</th>
                <td>{{ entity.idioma }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
        </tbody>
    </table>

       
   
        <a href="{{ path('norma') }}">
           <button type="button" class="btn btn-warning warning_22">Listar</button>
        </a>
    
        <a href="{{ path('norma_edit', { 'id': entity.id }) }}">
            <button type="button" class="btn btn-primary">Editar</button>
        </a>
    
    {{ form_widget(delete_form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
      {{ form_end(delete_form) }}
</ul>
</div>
</div>
</div>

{% endblock %}
