
<!DOCTYPE HTML>
<html>
<head>
    <title>GEDELTUR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="{{asset('bundles/gedeltur/css/bootstrap.min.css')}}" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="{{asset('bundles/gedeltur/css/style.css')}}" rel='stylesheet' type='text/css' />
    <link href="{{asset('bundles/gedeltur/css/font-awesome.css')}}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/gedeltur/css/dataTables.bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/gedeltur/css/dataTables.responsive.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/gedeltur/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/gedeltur/css/bootstrap-datetimepicker.css') }}" />



    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/gedeltur/dist/css/select2.min.css') }}" />

    
    {% block stylesheets %}{% endblock %}




    





    <!-- jQuery -->
    <script src="{{asset('bundles/gedeltur/js/jquery.min.js')}}"></script>
    <!----webfonts--->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Bootstrap Core JavaScript -->
    <script src="{{asset('bundles/gedeltur/js/bootstrap.min.js')}}"></script>
    <!----Calender -------->
    <link rel="stylesheet" href="{{asset('bundles/gedeltur/css/clndr.css')}}" type="text/css" />
    <script src="{{asset('bundles/gedeltur/js/underscore-min.js')}}" type="text/javascript"></script>
    <script src= "{{asset('bundles/gedeltur/js/moment-2.2.1.js')}}" type="text/javascript"></script>
    <script src="{{asset('bundles/gedeltur/js/clndr.js')}}" type="text/javascript"></script>
    <script src="{{asset('bundles/gedeltur/js/site.js')}}" type="text/javascript"></script>

    <script src="{{ asset('bundles/gedeltur/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/gedeltur/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/gedeltur/js/moment-with-locales.js') }}"></script>

    <script src="{{ asset('bundles/gedeltur/js/bootstrap-datetimepicker.js') }}"></script>





    <script src="{{ asset('bundles/gedeltur/dist/js/select2.min.js') }}"></script>




 
{% block javascript %}


 {% endblock %}










     
            <!----End Calender -------->
</head>
<body>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a title="Centro de Estudios de Gerencia, Desarrollo Local y Turismo" class="navbar-brand" href="{{path('gedeltur_homepage')}}">GEDELTUR</a>

        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right">

        <li><a href="{{path('home')}}"><span class="glyphicon glyphicon-home"></span>
                    Inicio</a>
            </li>

 <li class="dropdown">

                      <a class="dropdown-toggle" data-toggle="dropdown" href="{{path('gedeltur_homepage')}}">Reportes<span class="caret"></span></a>



                    
                    <ul class="dropdown-menu">



             <li>
                            <a href="{{path('sct_entidad')}}">Servicios Científico Técnicos brindados por Institución</a>
                        </li>
                        <li>
                            <a href="{{path('ws_sct')}}">Trabajadores por Servicio Científico Técnico </a>
                        </li>
                        <li>
                            <a href="{{path('ws_li')}}">Trabajadores por Líneas de investigación</a>
                        </li>
                        <li>
                            <a href="{{path('ws_pro')}}">Trabajadores por Proyectos</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>

            


               
                <!-- /.dropdown -->
                
                <!-- /.dropdown -->
                <li class="dropdown">

                    <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#">
                         {% block user %}{% endblock %}<i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">



                        
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %} 
 
 
 

                       
                        {% block usuario %}{% endblock %}
                         {% endif %}

                          <li><a href="{{path('logout')}}"><i class="fa fa-sign-out fa-fw"></i> Salir</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
         <!--<form class="navbar-form navbar-right">
            <input type="text" class="form-control" value="Search..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search...';}">
        </form> -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    
                    <li>
                        <a href="#">Recursos Humanos<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            
                             <li>
                                <a href="{{path('plantilla')}}" >Trabajadores</a>
                            </li>
                            <li>
                                <a href="{{path('gce')}}">Estudiantes</a>
                            </li>
                            <li>
                                <a href="{{path('colaborador')}}">Colaboradores</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="{{path('contacto')}}">Contactos</a>
                        
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="{{path('lineainvestigacion')}}">Líneas de Investigación</a>

                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a class="active" href="{{path('proyecto')}}">Proyectos</a>
                        
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="{{path('curso')}}">Cursos</a>
                    </li>
                    
                    <li>
                        <a href="#">Pregrado<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{path('asignatura')}}">Asignaturas</a>
                            </li>
                            
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>

                    <li>
                        <a href="#">Postgrado<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{path('especialidad')}}">Especialidades</a>
                            </li>
                            <li>
                                <a href="{{path('diplomado')}}">Diplomados</a>
                            </li>
                             <li>
                                <a href="{{path('maestria')}}">Maestrías</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>

                    <li>
                        <a href="#">Servicios Científico Técnicos<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                             <li>
                                <a href="{{path('servicioscienticotecnicos')}}">Servicios</a>
                            </li>
                           
                            <li>
                                <a href="{{path('tematicasct')}}">Temáticas</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#">Eventos<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{path('norma')}}">Normas</a>
                            </li>
                            <li>
                                <a href="{{path('tematica')}}">Temáticas</a>
                            </li>
                            <li>
                                <a href="{{path('taller')}}">Taller</a>
                            </li>
                            <li>
                                <a href="{{path('evento')}}">Convocatoria</a>
                            </li>

                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="{{path('institucion')}}">Relaciones Institucionales<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{path('institucion')}}">Instituciones</a>
                            </li>
                             <li>
                                <a href="{{path('otrasrelaciones')}}">Otras Relaciones</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>

                    <li><a href="{{path('usuarios')}}">Usuarios</a>
                        </li>
                    <li><a href="{{path('correo')}}"> Foro</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>


    <div id="page-wrapper" >
        
        <div class="col-md-12 graphs">
            <div class="xs">


                   
                   
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading"> {% block title %}{% endblock %}     </div>
                        <div class="bs-example4" >

                         {% block boton %}{% endblock %}
                        {% block body %}{% endblock %}
                        


                        </div>
                    </div>
                </div>

            </div>

           
           <div class="copy_layout">
            <p>UPR © 2016 GEDELTUR |  Contáctenos en <a href="mailto:wilfredo.lugo@nauta.cu" target="_blank">wilfredo.lugo@nauta.cu</a> </p>
           </div>


        </div>



 
    </div>

          
           
    
</div>


<!-- /#wrapper -->
<!-- Nav CSS -->

<link href="{{asset('bundles/gedeltur/css/custom.css')}}" rel="stylesheet">


<!-- Metis Menu Plugin JavaScript -->

<script src="{{asset('bundles/gedeltur/js/metisMenu.min.js')}}"></script>
<script src="{{asset('bundles/gedeltur/js/custom.js')}}"></script>



{% block js %}{% endblock %}
</body>
</html>

