<!doctype html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->
<html lang="en">

<head>

  <!-- Basic -->
  <title>GEDELTUR</title>

  <!-- Define Charset -->
  <meta charset="utf-8">

  <!-- Responsive Metatag -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Page Description and Author -->
  <meta name="description" content="Margo - Responsive HTML5 Template">
  <meta name="author" content="iThemesLab">

  <!-- Bootstrap CSS  -->










    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/gedeltur/css/dataTables.bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/gedeltur/css/dataTables.responsive.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/gedeltur/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/gedeltur/css/bootstrap-datetimepicker.css') }}" />











  <link rel="stylesheet" href="{{asset('bundles/gedeltur/principal/asset/css/bootstrap.min.css')}}" type="text/css" media="screen">

  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="{{asset('bundles/gedeltur/principal/css/font-awesome.min.css')}}" type="text/css" media="screen">

  <!-- Slicknav -->
  <link rel="stylesheet" type="text/css" href="{{asset('bundles/gedeltur/principal/css/slicknav.css')}}" media="screen">

  <!-- Margo CSS Styles  -->
  <link rel="stylesheet" type="text/css" href="{{asset('bundles/gedeltur/principal/css/style.css')}}" media="screen">

  <!-- Responsive CSS Styles  -->
  <link rel="stylesheet" type="text/css" href="{{asset('bundles/gedeltur/principal/css/responsive.css')}}" media="screen">

  <!-- Css3 Transitions Styles  -->
  <link rel="stylesheet" type="text/css" href="{{asset('bundles/gedeltur/principal/css/animate.css')}}" media="screen">

  <!-- Color CSS Styles  -->
  <link rel="stylesheet" type="text/css" href="{{asset('bundles/gedeltur/principal/css/colors/red.css')}}" title="red" media="screen" />

  <link rel="stylesheet" type="text/css" href="{{asset('bundles/gedeltur/principal/css/colors/jade.css')}}" title="jade" media="screen" />

  <link rel="stylesheet" type="text/css" href="{{asset('bundles/gedeltur/principal/css/colors/green.css')}}" title="green" media="screen" />

  <link rel="stylesheet" type="text/css" href="{{asset('bundles/gedeltur/principal/css/colors/blue.css')}}" title="blue" media="screen" />

  <link rel="stylesheet" type="text/css" href="{{asset('bundles/gedeltur/principal/css/colors/beige.css')}}" title="beige" media="screen" />

  <link rel="stylesheet" type="text/css" href="{{asset('bundles/gedeltur/principal/css/colors/cyan.css')}}" title="cyan" media="screen" />

  <link rel="stylesheet" type="text/css" href="{{asset('bundles/gedeltur/principal/css/colors/orange.css')}}" title="orange" media="screen" />

  <link rel="stylesheet" type="text/css" href="{{asset('bundles/gedeltur/principal/css/colors/peach.css')}}" title="peach" media="screen" />

  <link rel="stylesheet" type="text/css" href="{{asset('bundles/gedeltur/principal/css/colors/pink.css')}}" title="pink" media="screen" />

  <link rel="stylesheet" type="text/css" href="{{asset('bundles/gedeltur/principal/css/colors/purple.css')}}" title="purple" media="screen" />

  <link rel="stylesheet" type="text/css" href="{{asset('bundles/gedeltur/principal/css/colors/sky-blue.css')}}" title="sky-blue" media="screen" />

  <link rel="stylesheet" type="text/css" href="{{asset('bundles/gedeltur/principal/css/colors/yellow.css')}}" title="yellow" media="screen" />
  
  
  <!-- registrar
  <link href="asset/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">-->
  <link href="{{asset('bundles/gedeltur/principal/asset/global/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <!-- Global styles END --> 
  <!-- Page level plugin styles START --> 
  <link href="{{asset('bundles/gedeltur/principal/asset/global/plugins/fancybox/source/jquery.fancybox.css')}}" rel="stylesheet">

  <link href="{{asset('bundles/gedeltur/principal/asset/global/plugins/uniform/css/uniform.default.css')}}" rel="stylesheet" type="text/css">

  <!-- Page level plugin styles END --><!-- Theme styles START 
  <link href="asset/global/css/components.css" rel="stylesheet"> --> 
  
  <link href="{{asset('bundles/gedeltur/principal/asset/frontend/layout/css/style.css')}}" rel="stylesheet">
  
  
  <link href="{{asset('bundles/gedeltur/principal/asset/frontend/layout/css/style-responsive.css')}}" rel="stylesheet">

  <link href="{{asset('bundles/gedeltur/principal/asset/frontend/layout/css/themes/red.css')}}" rel="stylesheet" id="style-color">

  <link href="{{asset('bundles/gedeltur/principal/asset/frontend/layout/css/custom.css')}}" rel="stylesheet">

















  <!-- registrar -->
  
   <script type="text/javascript" src="{{asset('bundles/gedeltur/js/jquery.js')}}" >
  </script>

  <!-- Margo JS  -->
  <script type="text/javascript" src="{{asset('bundles/gedeltur/principal/js/jquery-2.1.4.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/gedeltur/principal/js/jquery.migrate.js')}}"></script>

  <script type="text/javascript" src="{{asset('bundles/gedeltur/principal/js/modernizrr.js')}}"></script>

  <script type="text/javascript" src="{{asset('bundles/gedeltur/principal/asset/js/bootstrap.min.js')}}"></script>

  <script type="text/javascript" src="{{asset('bundles/gedeltur/principal/js/jquery.fitvids.js')}}"></script>

  <script type="text/javascript" src="{{asset('bundles/gedeltur/principal/js/owl.carousel.min.js')}}"></script>


  <script type="text/javascript" src="{{asset('bundles/gedeltur/principal/js/nivo-lightbox.min.js')}}"></script>

  <script type="text/javascript" src="{{asset('bundles/gedeltur/principal/js/jquery.isotope.min.js')}}"></script>

  <script type="text/javascript" src="{{asset('bundles/gedeltur/principal/js/jquery.appear.js')}}"></script>

  <script type="text/javascript" src="{{asset('bundles/gedeltur/principal/js/count-to.js')}}"></script>

  <script type="text/javascript" src="{{asset('bundles/gedeltur/principal/js/jquery.textillate.js')}}"></script>

  <script type="text/javascript" src="{{asset('bundles/gedeltur/principal/js/jquery.lettering.js')}}"></script>

  <script type="text/javascript" src="{{asset('bundles/gedeltur/principal/js/jquery.easypiechart.min.js')}}"></script>

  <script type="text/javascript" src="{{asset('bundles/gedeltur/principal/js/jquery.nicescroll.min.js')}}"></script>

  <script type="text/javascript" src="{{asset('bundles/gedeltur/principal/js/jquery.parallax.js')}}"></script>

  <script type="text/javascript" src="{{asset('bundles/gedeltur/principal/js/mediaelement-and-player.js')}}"></script>

  <script type="text/javascript" src="{{asset('bundles/gedeltur/principal/js/jquery.slicknav.js')}}"></script>






    {% block grafica %}

    {% endblock %}

    <script src="{{ asset('bundles/gedeltur/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/gedeltur/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/gedeltur/js/moment-with-locales.js') }}"></script>





    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
            });
        });
    </script>









       

 

  <!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>

<body>

  <!-- Full Body Container -->

  
   
  <div id="container">


    <!-- Start Header Section -->
    <div class="hidden-header"></div>
    <header class="clearfix">

      <!-- Start Top Bar -->
      <div class="top-bar">
        <div class="container">
        
        
          <div class="row">
          
          
         <div class="col-md-3"  >
              <!-- Start Contact Info -->
              <ul class="contact-details">
              
               

        

                {% if is_granted('IS_AUTHENTICATED_FULLY') %} 
 
                   Bienvenido: {{ app.user.getNombre()|striptags|title }}   {{ app.user.getApellido()|striptags|title }}

                  {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')%}
                      <li> <a href="{{ path('cambiar_password') }}"><span class="glyphicon glyphicon-edit"></span> Cambiar Contraseña</a></li>
                  {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
 
                <li><a href="{{path('home')}}"><span class="glyphicon glyphicon-folder-open"></span> Administrar</a>
                
                </li>


                 {% endif %}

                   <li><a href="{{path('logout')}}"><span class="glyphicon glyphicon-off"></span> Salir</a>
                
                </li>

                {% else %}
                 <li><a href="{{path('usuarios_registro')}}"><span class="glyphicon glyphicon-user"></span>
 Registrarse</a>
                </li>

                <li><a href="{{path('_bienvenid')}}"><span class="glyphicon glyphicon-lock"></span>Autentificar</a>
                
                </li>
 
                  {% endif %}

                
              </ul>
              <!-- End Contact Info -->
            </div>
          
          
            <div class="col-md-5">
              <!-- Start Contact Info -->
              <ul class="contact-details">
                <li><a href="#"><i class="fa fa-map-marker"></i> Martí-270/final, Pinar de Río, Cuba</a>
                </li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> gedeltur@upr.edu.cu</a>
                </li>
                <li><a href="#"><i class="fa fa-phone"></i> 48779361</a>
                </li>
              </ul>
              <!-- End Contact Info -->
            </div>
            
            
            
            
            
            
            
            
            
            
            <!-- .col-md-6 -->
            <div class="col-md-4">
              <!-- Start Social Links -->
              <ul class="social-list">
                <li>
                  <a  data-placement="bottom" title="Directorio" href="http://directorio.upr.edu.cu" target="_blank">
                  <img style="max-height: 20px; max-width: 20px; margin-top: 12px; margin-left: 5px; margin-right: 5px;"  src="{{asset('bundles/gedeltur/principal/images/iconos/directorio.svg')}}"></a>
                </li>
                <li>
                 <a  data-placement="bottom" title="Teléfonos" href="http://telefonos.upr.edu.cu" target="_blank">
                  <img style="max-height: 20px; max-width: 20px; margin-top: 12px; margin-left: 5px; margin-right: 5px;"  src="{{asset('bundles/gedeltur/principal/images/iconos/telef.svg')}}"></a>
                </li>
                <li>
                 <a  data-placement="bottom" title="Correo" href="http://correo.upr.edu.cu" target="_blank">
                  <img style="max-height: 20px; max-width: 20px; margin-top: 12px; margin-left: 5px; margin-right: 5px;"  src="{{asset('bundles/gedeltur/principal/images/iconos/mail_p.svg')}}"></a>
                </li>
                <li>
                 <a  data-placement="bottom" title="Lupa" href="http://lupa.upr.edu.cu" target="_blank">
                  <img style="max-height: 20px; max-width: 20px; margin-top: 12px; margin-left: 5px; margin-right: 5px;"  src="{{asset('bundles/gedeltur/principal/images/iconos/lupa.svg')}}"></a>
                </li>

                <li>
                  <a  data-placement="bottom" title="Noticias"href="http://noticias.upr.edu.cu" target="_blank">
                  <img style="max-height: 20px; max-width: 20px; margin-top: 12px; margin-left: 5px; margin-right: 5px;"  src="{{asset('bundles/gedeltur/principal/images/iconos/news.svg')}}"></a>
                </li>
               
              </ul>
              <!-- End Social Links -->
            </div>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            <!-- .col-md-6 -->
          </div>
          <!-- .row -->
        </div>
        <!-- .container -->
      </div>
      <!-- .top-bar -->
      <!-- End Top Bar -->


      <!-- Start  Logo & Naviagtion  -->
      <div class="navbar navbar-default navbar-top">
        <div class="container">
          <div class="navbar-header">
            <!-- Stat Toggle Nav Link For Mobiles -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <i class="fa fa-bars"></i>
            </button>
            <!-- End Toggle Nav Link For Mobiles -->
            <a class="navbar-brand" href="">
              <h1 style="color:#FFF">GEDELTUR</h1>

            </a>
          </div>
          <div class="navbar-collapse collapse">
            <!-- Stat Search
            <div class="search-side">
              <a class="show-search"><i class="fa fa-search"></i></a>
              <div class="search-form">
                <form autocomplete="off" role="search" method="get" class="searchform" action="#">
                  <input type="text" value="" name="s" id="s" placeholder="Search the site...">
                </form>
              </div>
            </div>
            <!-- End Search -->
            <!-- Start Navigation List -->
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a  href="{{path('gedeltur_homepage')}}">Inicio</a>
                 

              </li>

                


               
              <li>
                <a href="#" class="scroll">Pregrado</a>
                <ul class="dropdown">
                  <li><a href="{{path('asignaturas')}}" >Asignaturas</a>
                  </li>

                </ul>
              </li>
              <li>
                <a  href="#" >Postgrado</a>
                <ul class="dropdown">
                  <li><a href="{{path('diplomados')}}" >Diplomados</a>
                  </li>
                  <li><a href="{{path('maestrias')}}" >Maestrías</a>
                  </li>
                  <li><a href="{{path('especialidades')}}" >Especialidades</a>
                  </li>

                </ul>
              </li>
              <li>
                <a  href="{{path('cursos')}}" >Cursos</a>

              </li>
              <li>
                <a title="Investigacion, Desarrollo e Inovación" href="#" > I+D+I </a>

                <ul class="dropdown">

                  <li><a href="{{path('pro')}}" >Proyectos</a>
                  </li>
                  <li><a href="{{path('li')}}" >Líneas de Investigación</a>
                  </li>
                
                 
                 </ul>
              </li>

              <li><a title="Servicios Científico Técnicos" href="{{path('servicios')}}" >SCT</a>
              </li>

                <li><a href="#" >Recursos Humanos</a>
                 <ul class="dropdown">
                  <li><a href="{{path('trabajadores')}}" >Trabajadores</a>
                  </li>
                  <li><a href="{{path('estudiantes')}}" >Estudiantes</a>
                  </li>
                  <li><a href="{{path('colaboradores')}}" >Colaboradores</a>
                  </li>

                </ul>
                </li>


                  {% block evento %}


                  {% endblock %}

                 {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')%}





                <li><a href="{{path('correo_nuevo')}}" >Foro</a>
                </li>

                {% endif %}

                <li>
                    <a  href="{{path('sobre')}}">Acerca de</a>

                    <ul class="dropdown">
                        <li>
                            <a target="_blank" href="{{ asset('Ayuda/GEDELTUR.html') }}">Ayuda</a>


                        </li>

                    </ul>



                </li>
                
            </ul>

            <!-- End Navigation List -->
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="wpb-mobile-menu">
          <li>

            <a class="active" href="">GEDELTUR</a>
            <ul class="dropdown">




                <li>
                    <a href="">Usuario</a>
                    <ul class="dropdown">


                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                            Bievenido: {{ app.user.getNombre()|striptags|title }}   {{ app.user.getApellido()|striptags|title }}

                            {% if is_granted('ROLE_ADMIN') %}

                                <li><a href="{{path('home')}}"><span class="glyphicon glyphicon-folder-open"></span> Administrar</a>

                                </li>


                            {% endif %}

                            <li><a href="{{path('logout')}}"><span class="glyphicon glyphicon-off"></span> Salir</a>

                            </li>

                        {% else %}
                            <li><a href="{{path('usuarios_registro')}}"><span class="glyphicon glyphicon-user"></span>
                                    Registrarse</a>
                            </li>

                            <li><a href="{{path('_bienvenid')}}"><span class="glyphicon glyphicon-lock"></span> Login</a>

                            </li>

                        {% endif %}


                    </ul>

                </li>


                <li>
                    <a class="active" href="{{path('gedeltur_homepage')}}">Inicio</a>

                </li>
                <li>
                    <a href="">Pregrado</a>
                    <ul class="dropdown">


                        <li><a href="{{path('asignaturas')}}">Asignaturas</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a  href="">Postgrado</a>
                    <ul class="dropdown">

                        <li><a href="{{path('diplomados')}}" >Diplomados</a>
                        </li>
                        <li><a href="{{path('maestrias')}}" >Maestrías</a>
                        </li>
                        <li><a href="{{path('especialidades')}}" >Especialidades</a>
                        </li>


                    </ul>
                </li>
                <li>
                    <a href="{{path('cursos')}}">Cursos</a>

                </li>
                <li><a href="{{path('pro')}}" >Proyectos</a>
                </li>
                <li><a href="{{path('li')}}" >Lineas de Investigación</a>
                </li>


                <li><a title="Sercios Científico Técnicos" href="{{path('servicios')}}" >SCT</a>
                </li>

                <li><a href="#" >Recursos Humanos</a>
                    <ul class="dropdown">
                        <li><a href="{{path('trabajadores')}}" >Trabajador</a>
                        </li>
                        <li><a href="{{path('estudiantes')}}" >Estudiantes</a>
                        </li>
                        <li><a href="{{path('colaboradores')}}" >Colaboradores</a>
                        </li>

                    </ul>
                </li>



                {% if is_granted('IS_AUTHENTICATED_FULLY') %}





                    <li><a href="{{path('correo_nuevo')}}" >Foro</a>
                    </li>

                {% endif %}
        </ul>
        <!-- Mobile Menu End -->


      <!-- End Header Logo & Naviagtion -->

    </header>
    <!-- End Header Section -->

 
        
        
        </br>
         
         <div class="container">

        {% block superacion %}


        {% endblock %}

           </div>





    <!-- Start Team Member Section -->
    
 <!-- Trabajadores -->



    <!--   End Trabajadores -->



    <!-- Start Footer Section -->
    </div>
    

    <div class="row links">
        <div class="container">
                            <div class="row titlelink" id="universidad">
                    <h2>Universidad</h2>
                </div>
                <div class="row linkul">
                                <div class="col-md-4 col-sm-4 nopadding">
            <ul>
                            <li>
                    <a href="http://vrfp.upr.edu.cu/" target="_blank">VRFP</a>
                </li>
                        <li>
                    <a href="http://vrip.upr.edu.cu/" target="_blank">VRIIP</a>
                </li>
                        <li>
                    <a href="http://ri.upr.edu.cu/" target="_blank">RI</a>
                </li>
                        <li>
                    <a href="http://dict.upr.edu.cu/" target="_blank">Biblioteca</a>
                </li>
                        <li>
                    <a href="http://ceces.upr.edu.cu/" target="_blank">CECES</a>
                </li>
                        <li>
                    <a href="http://cemarnaweb.upr.edu.cu/" target="_blank">CEMARNA</a>
                </li>
                        <li>
                    <a href="http://cedecom.upr.edu.cu/" target="_blank">CEDECOM</a>
                </li>
                </ul>
        </div>
                        <div class="col-md-4 col-sm-4 nopadding">
            <ul>
                            <li>
                    <a href="http://progintec.upr.edu.cu/" target="_blank">ProGintec</a>
                </li>
                        <li>
                    <a href="http://di.upr.edu.cu/" target="_blank">UPRedes</a>
                </li>
                        <li>
                    <a href="http://www.upr.edu.cu/" target="_blank">Internet</a>
                </li>
                        <li>
                    <a href="http://gedeltur.upr.edu.cu/" target="_blank">Gedeltur</a>
                </li>
                        <li>
                    <a href="http://feu.upr.edu.cu/" target="_blank">FEU</a>
                </li>
                        <li>
                    <a href="http://sgc.upr.edu.cu/" target="_blank">Gestion de la Calidad</a>
                </li>
                        <li>
                    <a href="http://ceetes.upr.edu.cu/" target="_blank">CEETES</a>
                </li>
                </ul>
        </div>
                        <div class="col-md-4 col-sm-4 nopadding">
            <ul>
                            <li>
                    <a href="http://cum.upr.edu.cu/" target="_blank">CUM</a>
                </li>
                        <li>
                    <a href="http://cef.upr.edu.cu/" target="_blank">Centro de Estudios Forestales</a>
                </li>
                        <li>
                    <a href="http://cvforestal.upr.edu.cu/" target="_blank">Comunidad Virtual de Recursos Forestales</a>
                </li>
                        <li>
                    <a href="http://observatorio.progintec.upr.edu.cu/" target="_blank">Observatorio Tecnológico de la UPR</a>
                </li>
                        <li>
                    <a href="http://interfaz.upr.edu.cu/" target="_blank">Observatorio Interfaz Universidad - Empresa</a>
                </li>
                        <li>
                    <a href="https://cv.progintec.upr.edu.cu/paginas/index.php" target="_blank">CV</a>
                </li>
                        <li>
                    <a href="http://preguntas.upr.edu.cu/" target="_blank">blog</a>
                </li>
                </ul>
        </div>
            
                </div>
                            <div class="row titlelink" id="reduniv">
                    <h2>RedUniv</h2>
                </div>
                <div class="row linkul">
                                <div class="col-md-4 col-sm-4 nopadding">
            <ul>
                            <li>
                    <a href="http://intranet.mes.gob.cu/" target="_blank">MES</a>
                </li>
                        <li>
                    <a href="http://www.jovenclub.cu/" target="_blank">Joven Club</a>
                </li>
                        <li>
                    <a href="http://www.sld.cu/" target="_blank">Infomed</a>
                </li>
                </ul>
        </div>
                        <div class="col-md-4 col-sm-4 nopadding">
            <ul>
                            <li>
                    <a href="http://www.rimed.cu/" target="_blank">MINED</a>
                </li>
                        <li>
                    <a href="http://www.uci.cu/" target="_blank">UCI</a>
                </li>
                        <li>
                    <a href="http://www.cubarte.cult.cu/" target="_blank">Cubarte</a>
                </li>
                </ul>
        </div>
                        <div class="col-md-4 col-sm-4 nopadding">
            <ul>
                            <li>
                    <a href="http://www.habananuestra.cu/" target="_blank">Hist. Habana</a>
                </li>
                        <li>
                    <a href="http://www.uh.cu/sitios/reddees/" target="_blank">Red-dees</a>
                </li>
                        <li>
                    <a href="http://www.reduniv.edu.cu/" target="_blank">reduniv</a>
                </li>
                </ul>
        </div>
                        <div class="col-md-4 col-sm-4 nopadding">
            <ul>
                            <li>
                    <a href="http://redcuba.reduniv.edu.cu/" target="_blank">Red Cuba</a>
                </li>
                </ul>
        </div>
            
                </div>
                            <div class="row titlelink" id="de-interes">
                    <h2>De interés</h2>
                </div>
                <div class="row linkul">
                                <div class="col-md-4 col-sm-4 nopadding">
            <ul>
                            <li>
                    <a href="http://www.ecured.cu/" target="_blank">EcuRed</a>
                </li>
                        <li>
                    <a href="http://segurinfo.upr.edu.cu/" target="_blank">SegurInfo</a>
                </li>
                        <li>
                    <a href="http://hsaiz.upr.edu.cu/" target="_blank">Hermanos Saíz</a>
                </li>
                        <li>
                    <a href="http://pinux.upr.edu.cu/" target="_blank">Pinux</a>
                </li>
                        <li>
                    <a href="http://coodes.upr.edu.cu/" target="_blank">COODES</a>
                </li>
                        <li>
                    <a href="http://cifam.upr.edu.cu/" target="_blank">CIFAM</a>
                </li>
                </ul>
        </div>
                        <div class="col-md-4 col-sm-4 nopadding">
            <ul>
                            <li>
                    <a href="http://cfores.upr.edu.cu/" target="_blank">CEFORES</a>
                </li>
                        <li>
                    <a href="http://relcoop.upr.edu.cu/" target="_blank">RELCOOP</a>
                </li>
                        <li>
                    <a href="http://pialpr.upr.edu.cu/" target="_blank">Proyecto PIALPR</a>
                </li>
                        <li>
                    <a href="http://www.ahs.pinarte.cult.cu/" target="_blank">Asociación Hermanos Saíz</a>
                </li>
                        <li>
                    <a href="http://www.granma.cu/discursos-raul" target="_blank">Discursos de Raúl</a>
                </li>
                        <li>
                    <a href="http://www.granma.cu/reflexiones-fidel" target="_blank">Reflexiones del compañero Fidel</a>
                </li>
                </ul>
        </div>
                        <div class="col-md-4 col-sm-4 nopadding">
            <ul>
                            <li>
                    <a href="http://www.esceg.cu/" target="_blank">Escuela Superior de Cuadros del Estado y Gobierno</a>
                </li>
                        <li>
                    <a href="http://www.rguama.icrt.cu/" target="_blank">Radio Guamá</a>
                </li>
                        <li>
                    <a href="http://composer.upr.edu.cu/" target="_blank">Composer</a>
                </li>
                        <li>
                    <a href="http://mendive.upr.edu.cu/" target="_blank">Revista Mendive</a>
                </li>
                        <li>
                    <a href="http://podium.upr.edu.cu/" target="_blank"> Revista Podium</a>
                </li>
                </ul>
        </div>
            
                </div>
                    </div>
    </div>

    <div id="footer" class="footer-style">
  <div class="container">
    <p><a href="http://elnodo.upr.edu.cu/" target="_blank">UPR</a> © 2016 | Contáctenos en <a href="mailto:wilfredo.lugo@nauta.cu">wilfredo.lugo@nauta.cu</a></p>
  </div>
</div>
    <!-- End Footer Section -->

 </div> 

  <!-- End Full Body Container -->

  <!-- Go To Top Link -->
  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <div id="loader">
    <div class="spinner">
      <div class="dot1"></div>
      <div class="dot2"></div>
    </div>
  </div>

  <!-- Style Switcher -->


  <script type="text/javascript" src="{{asset('bundles/gedeltur/principal/js/script.js')}}"></script>
  
  <!-- <script src="asset/global/plugins/jquery.min.js" type="text/javascript"></script>-->
    <script src="{{asset('bundles/gedeltur/principal/asset/global/plugins/jquery-migrate.min.js')}}" type="text/javascript"></script>
    
    
     <script src="{{asset('bundles/gedeltur/principal/asset/global/plugins/bootstrap/js/bootstrap.min.js')}}" type="text/javascript"></script>      
   <!-- <script src="asset/frontend/layout/scripts/back-to-top.js" type="text/javascript"></script> -->
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="{{asset('bundles/gedeltur/principal/asset/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript')}}"></script><!-- pop up--> 


    <script src="{{asset('bundles/gedeltur/principal/asset/frontend/layout/scripts/layout.js')}}" type="text/javascript"></script>


    <script src="{{asset('bundles/gedeltur/js/highcharts.js')}}" type="text/javascript"></script>


  <script type="text/javascript">
      jQuery(document).ready(function() {
          jQuery('#dataTables-example').DataTable({
              responsive: true
          });
      });
  </script>




</body>

</html>