{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block title %}
    Nuevo Curso
{% endblock %}

{% block body -%}
 <div class="bs-example4" >

    
 {{ form_start(form) }}
    {{ form_errors(form) }}
    
<div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(form.nombre) }}</div>

        <div class="col-sm-8"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(form.nombre, { "attr": {"class": "form-control1"} }) }}
        </div>
        </div>
    <div style="float: right" class="col-sm-6">

    <p class="help-block">{{ form_errors(form.nombre) }}</p>
        </div>
    </div>


     <div class="input-group">
         <div class="col-sm-2 control-label"> {{ form_label(form.descripcion,"Objetivos") }}</div>
         <div class="col-sm-8"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
             {{ form_widget(form.objetivos, { "attr": {"class": "form-control"} }) }}
         </div>
         </div>
         <div style="float: right" class="col-sm-6">

         <p class="help-block">{{ form_errors(form.objetivos) }}</p>
         </div>

     </div>



    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.descripcion,"Descripción") }}</div>
        <div class="col-sm-8"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
        {{ form_widget(form.descripcion, { "attr": {"class": "form-control"} }) }}
            </div>
            </div>
        <div style="float: right" class="col-sm-6">

        <p class="help-block">{{ form_errors(form.descripcion) }}</p>
        </div>

    </div>




     <div class="input-group">
         <div class="col-sm-2 control-label"> {{ form_label(form.plantilla,"Docente") }}</div>
         <div class="col-sm-3"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
             {{ form_widget(form.plantilla, { "attr": {"class": "form-control js-example-basic-single"} }) }}
         </div>
         </div>
         <div style="float: right" class="col-sm-6">

         <p class="help-block">{{ form_errors(form.plantilla) }}</p>
         </div>

     </div>






   

    


    <div class="panel-footer">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {{ form_widget(form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
       
        <a href="{{ path('curso') }}">
            <button type="button" class="btn btn-warning warning_22">Cancelar</button>
        </a>
    </div>
    </div>
    </div>



    {{ form_end(form) }}


     <script type="text/javascript">
         $(document).ready(function() {
             $(".js-example-basic-single").select2();
         });
     </script>

       <script type="text/javascript">
         $(function () {
        $('#gedeltur_bundle_curso_nombre').keydown(letras);
        $('#gedeltur_bundle_curso_descripcion').keydown(let);
             $('#gedeltur_bundle_curso_objetivos').keydown(let);

        
       

})
</script> 
{% endblock %}
