{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}


{% block title %}
    Nueva Maestria
{% endblock %}

{% block body -%}
 <div class="bs-example4" >
   

    
 {{ form_start(form) }}
    {{ form_errors(form) }}
    


    <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(form.id.titulo,"Nombre") }}</div>

        <div class="col-sm-8"> <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(form.id.titulo, { "attr": {"class": "form-control1"} }) }}
        </div>
        </div>

        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(form.id.titulo) }}</p>
        </div>
    </div>



    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.id.perfilEgresado,"Perfil del Egresado") }}</div>
        <div class="col-sm-8"> <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
        {{ form_widget(form.id.perfilEgresado, { "attr": {"class": "form-control"} }) }}
            </div>
            </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(form.id.perfilEgresado) }}</p>
        </div>

    </div>

     <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.id.tituloEgresado,"Título del Egresado" ) }}</div>


        <div class="col-sm-8"> <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(form.id.tituloEgresado, { "attr": {"class": "form-control1"} }) }}
        </div>
        </div>
        <div class="col-sm-2">
        <div class="col-sm-2">
            <p class="help-block">   {{ form_errors(form.id.tituloEgresado) }}</p>
        </div>

    </div>



            <div class="input-group">
                <div class="col-sm-2 control-label">{{ form_label(form.id.objetivos,"Objetivos") }}</div>

                <div class="col-sm-8"> <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>

                    {{ form_widget(form.id.objetivos, { "attr": {"class": "form-control1"} }) }}
                </div>
                </div>


                <div class="col-sm-2">
                    <p class="help-block">{{ form_errors(form.id.objetivos) }}</p>
                </div>
            </div>


     <div class="input-group">
         <div class="col-sm-2 control-label"> {{ form_label(form.id.inicio, 'Fecha de Inicio') }}</div>


         <div class="col-sm-3"> <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
             {{ form_widget(form.id.inicio, { "attr": {"class": "form-control1 dtp"} }) }}
         </div>
         </div>

         <div class="col-sm-2 control-label"> {{ form_label(form.id.fin, 'Fecha de Fin') }}</div>
         <div class="col-sm-3"> <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
             {{ form_widget(form.id.fin, { "attr": {"class": "form-control1 dtp"} }) }}
         </div>
         </div>
         <div class="col-sm-2">
             <p class="help-block">   {{ form_errors(form.id.inicio) }}</p>
         </div>

     </div>



     <div class="input-group">
         <div class="col-sm-2 control-label"> {{ form_label(form.diplomado, 'Diplomados') }}</div>


         <div class="col-sm-8"> <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
             {{ form_widget(form.diplomado, { "attr": {"class": "form-control1  js-example-basic-responsabless"} }) }}
         </div>
         </div>


         <div class="col-sm-2">
             <p class="help-block">   {{ form_errors(form.diplomado) }}</p>
         </div>

     </div>





    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.id.requisitos) }}</div>


        <div class="col-sm-8"> <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(form.id.requisitos, { "attr": {"class": "form-control"} }) }}
        </div>
        </div>
        <div class="col-sm-2">
            <p class="help-block">   {{ form_errors(form.id.requisitos) }}</p>
        </div>

    </div>


   

    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.id.tarifa ,"Costo (CUP)") }}</div>


        <div class="col-sm-8">
            {{ form_widget(form.id.tarifa, { "attr": {"class": "form-control1"} }) }}
        </div>
        <div class="col-sm-2">
            <p class="help-block">   {{ form_errors(form.id.tarifa) }}</p>
        </div>

    </div>






    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.programa ) }}</div>


        <div class="col-sm-8"> <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(form.programa, { "attr": {"class": "form-control"} }) }}
        </div>
        </div>
        <div class="col-sm-2">
            <p class="help-block">   {{ form_errors(form.programa) }}</p>
        </div>

    </div>

 <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.acreditada ) }}</div>


        <div class="col-sm-8">
            {{ form_widget(form.acreditada, { "attr": {"class": "ng-invalid ng-invalid-required"} }) }}
        </div>
        <div class="col-sm-2">
            <p class="help-block">   {{ form_errors(form.acreditada) }}</p>
        </div>

    </div>

     <div class="input-group">
         <div class="col-sm-2 control-label"> {{ form_label(form.id.encargado,"Responsable" ) }}</div>


         <div class="col-sm-8"> <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
             {{ form_widget(form.id.encargado, { "attr": {"class": "form-control1 js-example-basic-responsable"} }) }}
         </div>
         </div>
         <div class="col-sm-2">
             <p class="help-block">   {{ form_errors(form.id.encargado) }}</p>
         </div>

     </div>



    <div class="panel-footer">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {{ form_widget(form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
       
        <a href="{{ path('maestria') }}">
            <button type="button" class="btn btn-warning warning_22">Cancelar</button>
        </a>
    </div>
    </div>
    </div>


         <div class="alert alert-success">
             {% for flashMessage in app.session.flashbag.get('msg') %}
             <div class="msg">
                 {{ flashMessage }}
                 {% endfor %}
             </div>
    {{ form_end(form) }}


     <script type="text/javascript">
         $(document).ready(function() {
             $(".js-example-basic-responsable").select2();
         });
     </script>

     <script type="text/javascript">
         $(document).ready(function() {
             $(".js-example-basic-responsabless").select2();
         });
     </script>


<script type="text/javascript">
    $(function () {
        //solo cuaando hay datepicker
        $('.dtp').datetimepicker({
            format: 'DD/MM/YYYY',
            locale: 'es'
        });
        //--------------------

        //validaciones js
        $('#gedeltur_bundle_maestria_id_inicio').keydown(function(){return false;});//para campos fecha
        $('#gedeltur_bundle_maestria_id_inicio').keydown(function(){return false;});
        
        //--------------------


              $('#gedeltur_bundle_maestria_id_titulo').keydown(letras);
            
        
            $('#gedeltur_bundle_maestria_id_tituloEgresado').keydown(letras);
             $('#gedeltur_bundle_maestria_programa').keydown(let);
           $('#gedeltur_bundle_maestria_id_perfilEgresado').keydown(let);
           $('#gedeltur_bundle_maestria_id_objetivos').keydown(let);

           $('#gedeltur_bundle_maestria_id_requisitos').keydown(let);
           $('#gedeltur_bundle_maestria_id_tarifa').keydown(floats);
    })
</script>

{% endblock %}
