{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block title %}
    Editar Proyecto 
{% endblock %}

{% block body -%}
 <div class="bs-example4" >
  

    
{{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    


    <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(edit_form.titulo ,"Título") }}</div>

        <div class="col-sm-8">
            <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.titulo, { "attr": {"class": "form-control1"} }) }}
        </div>
        </div>
        <div style="float: right" class="col-sm-6">
            <p class="help-block">{{ form_errors(edit_form.titulo) }}</p>
        </div>
    </div>



    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(edit_form.objetivo ,"Objetivos") }}</div>
        <div class="col-sm-8">
            <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
        {{ form_widget(edit_form.objetivo, { "attr": {"class": "form-control"} }) }}
            </div>
            </div>
        <div style="float: right" class="col-sm-6">
            <p class="help-block">{{ form_errors(edit_form.objetivo) }}</p>
        </div>

    </div>



    <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(edit_form.impacto) }}</div>

        <div class="col-sm-8">
            <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.impacto, { "attr": {"class": "form-control"} }) }}
        </div>
        </div>

        <div style="float: right" class="col-sm-6">
            <p class="help-block"> {{ form_errors(edit_form.impacto) }}</p>
        </div>
    </div>

 <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(edit_form.rrhh,"Integrantes") }}</div>

        <div class="col-sm-8">
            <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.rrhh, { "attr": {"class": "form-control1 js-example-basic-proyecto"} }) }}
        </div>
        </div>

     <div style="float: right" class="col-sm-6">
            <p class="help-block"> {{ form_errors(edit_form.rrhh) }}</p>
        </div>
    </div>


     <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(edit_form.lineas,"Lineas de Investigación") }}</div>

         <div class="col-sm-8">
             <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
             {{ form_widget(edit_form.lineas, { "attr": {"class": "form-control1 js-example-basic-responsabless"} }) }}
         </div>
         </div>

         <div style="float: right" class="col-sm-6">
             <p class="help-block"> {{ form_errors(edit_form.lineas) }}</p>
         </div>
     </div>



     <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(edit_form.plantilla, 'Jefe de Proyecto') }}</div>

         <div class="col-sm-3">
             <div class="input-group">
                 <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
                 {{ form_widget(edit_form.plantilla, { "attr": {"class": "form-control1 js-example-basic-responsable"} }) }}
             </div>
         </div>

             <div style="float: right" class="col-sm-6">
             <p class="help-block"> {{ form_errors(edit_form.plantilla) }}</p>
         </div>
     </div>
     </div>



    <div class="panel-footer">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {{ form_widget(edit_form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
       
        <a href="{{ path('proyecto') }}">
            <button type="button" class="btn btn-warning warning_22">Cancelar</button>
        </a>
    </div>
    </div>
    </div>


     <script type="text/javascript">
         $(document).ready(function() {
             $(".js-example-basic-responsable").select2();
         });
     </script>


     <div class="alert alert-success">
         {% for flashMessage in app.session.flashbag.get('msg') %}
         <div class="msg">
             {{ flashMessage }}
             {% endfor %}
         </div>
    {{ form_end(edit_form) }}


     <script type="text/javascript">
         $(".js-example-basic-proyecto").select2();

         var $exampleMulti1 = $(".js-example-basic-curso").select2();
         $(".js-programmatic-multi-clear1").on("click", function () { $exampleMulti1.val(null).trigger("change"); });

     </script>


     <script type="text/javascript">
         $(".js-example-basic-responsabless").select2();

         var $exampleMulti1 = $(".js-example-basic-curso").select2();
         $(".js-programmatic-multi-clear1").on("click", function () { $exampleMulti1.val(null).trigger("change"); });

     </script>

        <script type="text/javascript">
        $(function () {
            //validaciones js
            $('#gedeltur_bundle_proyecto_titulo').keydown(letras);
              $('#gedeltur_bundle_proyecto_objetivo').keydown(let);
            
        
            $('#gedeltur_bundle_proyecto_impacto').keydown(let);
          
        })
    </script> 
  

{% endblock %}
