{% set pagina = 'proyecto' %}
{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block boton %}
    
         
   <a  href="{{ path('proyecto_new') }}"><button type="button" class="btn btn-warning warning_22"><span class="glyphicon glyphicon-plus"  id="pencil"></span>   Nuevo</button></a>
   <a target="_blank" href="{{ path('generarpdf_proyecto') }}"><button type="button" class="btn btn-warning warning_22"><span class="glyphicon glyphicon-export"  id="pencil"></span>   Exportar</button></a>



</br>
</br>



    {% endblock %}

    {% block title %}Proyectos{% endblock %}


{% block body -%}

 

 








        
    <table class="table table-striped "  id="dataTables-example">
        <thead>
            <tr>
              
                <th>Título</th>
                <th>Impacto</th>
                <th>Objetivos</th>
                <th>Líneas de Investigación</th>
                 <th>Integrantes</th>
                <th>Jefe de Proyecto</th>

                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
               
                <td>{{ entity.titulo }}</td>
                <td>{{ entity.impacto }}</td>
                <td>{{ entity.objetivo }}</td>
                <td>


                    {% for l in entity.lineas %}


                {{ l.titulo }}  . </br>





                     {% endfor %}
                </td>
                <td>

           
               {% for r in entity.rrhh %}
               
            
                {{ r.nombre|striptags|title }} {{ r.apellidos|striptags|title }} . </br>
            
            
                
            
               
                     {% endfor %}
               </td>

                <td>{{ entity.plantilla.id.nombre|striptags|title }}  {{ entity.plantilla.id.apellidos|striptags|title }}</td>
                <td>
                
                        


                        

                        <a title="Editar" href="{{ path('proyecto_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>

                        </td>
                        <td>
                        
                        <a title="Eliminar" data-toggle="modal" href="#{{ entity.id }}"><span class="glyphicon glyphicon-trash"></span></a>
                    
                </td>
            </tr>

             <div class="modal fade" id="{{ entity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h2 class="modal-title">Confirmación de Eliminar</h2>
                            </div>
                            <div class="modal-body">
                                <h5 class="modal-title">¿Estás seguro que desea eliminar el Proyecto: {{ entity.titulo }}? </h5>
                            </div>
                            <div class="modal-footer">

                                <a title="Eliminar" href="{{ path('proyecto_delete', { 'id': entity.id }) }}"><button type="button" class="btn btn-primary">Sí</button></a>
                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                
           </div>
        {% endfor %}
        </tbody>
    </table>
<div class="alert alert-success">
        {% for flashMessage in app.session.flashbag.get('msg') %}
            <div class="msg">
                {{ flashMessage }}
                {% endfor %}
           
            
          
           
      
    

     <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('#dataTables-example').DataTable({
                    responsive: true
                });
            });
        </script>
    {% endblock %}
