{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block title %}
  Proyecto
{% endblock %}

{% block body -%}
   <div class="bs-example4" >



{{ form_start(delete_form) }}
    {{ form_errors(delete_form) }}
<div class="input-group">
        

        <div class="col-sm-8">
    

    <table class="table table-striped table-bordered table-hover dataTable no-footer">
    
        <tbody>
           
            <tr>
                <th>Título</th>
                <td>{{ entity.titulo }}</td>
            </tr>
            <tr>
                <th>Impacto</th>
                <td>{{ entity.impacto }}</td>
            </tr>
            <tr>
                <th>Objetivos</th>
                <td>{{ entity.objetivo }}</td>
            </tr>
        </tbody>
    </table>

       
        <a href="{{ path('proyecto') }}">
           <button type="button" class="btn btn-warning warning_22">Listar</button>
        </a>
    
        <a href="{{ path('proyecto_edit', { 'id': entity.id }) }}">
             <button type="button" class="btn btn-primary">Editar</button>
        </a>
         {{ form_widget(delete_form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
    
{{ form_end(delete_form) }}
</div>
</div>
</div>
</div>
{% endblock %}
