{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}
{% block body -%}
    <h1>Recursos Humanos</h1>

    
{{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(edit_form.ci, 'Cedula') }}</div>

        <div class="col-sm-8">
            {{ form_widget(edit_form.ci, { "attr": {"class": "form-control1"} }) }}
        </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(edit_form.ci) }}</p>
        </div>
    </div>



    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(edit_form.nombre) }}</div>
        <div class="col-sm-8">
        {{ form_widget(edit_form.nombre, { "attr": {"class": "form-control1"} }) }}
            </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(edit_form.nombre) }}</p>
        </div>

    </div>



    <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(edit_form.apellidos, 'Apellidos') }}</div>

        <div class="col-sm-8">
            {{ form_widget(edit_form.apellidos, { "attr": {"class": "form-control1"} }) }}
        </div>

        <div class="col-sm-2">
            <p class="help-block"> {{ form_errors(edit_form.apellidos) }}</p>
        </div>
    </div>


    <div class="input-group">
        <div class="col-sm-2 control-label"> {{ form_label(edit_form.direccion, 'Direcciòn') }}</div>
        <div class="col-sm-8">
            {{ form_widget(edit_form.direccion, { "attr": {"class": "form-control1"} }) }}
        </div>
        <div class="col-sm-2">
            <p class="help-block">  {{ form_errors(edit_form.direccion) }}</p>
        </div>
    </div>


    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(edit_form.image, 'Imagen') }}</div>


        <div class="col-sm-8">
            {{ form_widget(edit_form.image, { "attr": {"class": "form-control1"} }) }}
        </div>
        <div class="col-sm-2">
            <p class="help-block">   {{ form_errors(edit_form.image) }}</p>
        </div>

    </div>

    <div class="panel-footer">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {{ form_widget(edit_form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
       {{ form_end(edit_form) }}


        <a href="{{ path('recursoshumanos') }}">
            <button type="button" class="btn btn-warning warning_22">Listar</button>

        </a>

        
</br>
       
     
    
    </div>
    </div>
    </div>

    



       
    
   

{% endblock %}
