{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block body -%}

<a style="float:right" href="{{ path('recursoshumanos_new') }}">
                <button type="button" class="btn btn_5 btn-lg btn-primary"> Nuevo</button> 
            </a>
    <h1>  Recursos Humanos </h1>

<div class="panel panel-warning" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
 <div class="panel-body no-padding">
    <table class="table table-striped">
  
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Ci</th>
                <th>Direccion</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('recursoshumanos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.image }}</td>
                <td>{{ entity.ci }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.apellidos }}</td>
                <td>
                
                        <a href="{{ path('recursoshumanos_show', { 'id': entity.id }) }}"><button type="button" class="btn btn-warning warning_22">Ver</button></a>
                    
                        <a href="{{ path('recursoshumanos_edit', { 'id': entity.id }) }}"><button type="button" class="btn btn-primary">Editar</button></a>
                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    </div>
    {% endblock %}
