{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}
{% block body -%}
    <h1>Recursos Humanos </h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    


    <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(form.ci, 'Cedula') }}</div>

        <div class="col-sm-8">
            {{ form_widget(form.ci, { "attr": {"class": "form-control1"} }) }}
        </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(form.ci) }}</p>
        </div>
    </div>



    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.nombre) }}</div>
        <div class="col-sm-8">
        {{ form_widget(form.nombre, { "attr": {"class": "form-control1"} }) }}
            </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(form.nombre) }}</p>
        </div>

    </div>



    <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(form.apellidos, 'Apellidos') }}</div>

        <div class="col-sm-8">
            {{ form_widget(form.apellidos, { "attr": {"class": "form-control1"} }) }}
        </div>

        <div class="col-sm-2">
            <p class="help-block"> {{ form_errors(form.apellidos) }}</p>
        </div>
    </div>


    <div class="input-group">
        <div class="col-sm-2 control-label"> {{ form_label(form.direccion, 'Direcciòn') }}</div>
        <div class="col-sm-8">
            {{ form_widget(form.direccion, { "attr": {"class": "form-control1"} }) }}
        </div>
        <div class="col-sm-2">
            <p class="help-block">  {{ form_errors(form.direccion) }}</p>
        </div>
    </div>


    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.image, 'Imagen') }}</div>


        <div class="col-sm-8">
            {{ form_widget(form.image, { "attr": {"class": "form-control1"} }) }}
        </div>
        <div class="col-sm-2">
            <p class="help-block">   {{ form_errors(form.image) }}</p>
        </div>

    </div>

    <div class="panel-footer">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {{ form_widget(form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
       
        <a href="{{ path('recursoshumanos') }}">
            <button type="button" class="btn btn-warning warning_22">Listar</button>
        </a>
    </div>
    </div>
    </div>



    {{ form_end(form) }}









{% endblock %}
