{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block body -%}
<div class="input-group">
    {{ form_start(delete_form) }}
    {{ form_errors(delete_form) }}    

        <div class="col-sm-8">
<div class="panel panel-warning" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
 <div class="panel-body no-padding">
    <h1>Recursos Humanos</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ entity.image }}</td>
            </tr>
            <tr>
                <th>Ci</th>
                <td>{{ entity.ci }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ entity.apellidos }}</td>
            </tr>
        </tbody>
    </table>

        
        <a href="{{ path('recursoshumanos') }}">
            <button type="button" class="btn btn-warning warning_22">Listar</button>
        </a>
    
        <a href="{{ path('recursoshumanos_edit', { 'id': entity.id }) }}">
            <button type="button" class="btn btn-primary">Editar</button>
        </a>
   
    {{ form_widget(delete_form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
{{ form_end(delete_form) }}
</div>
</div>
</div>
</div>
</div>
{% endblock %}
