{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block title %}
    Responder
{% endblock %}


{% block body -%}



<div class="bs-example4" >


    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(edit_form.respuesta) }}</div>

        <div class="col-sm-8">
            {{ form_widget(edit_form.respuesta, { "attr": {"class": "form-control1"} }) }}
        </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(edit_form.respuesta) }}</p>
        </div>
    </div>








    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                {{ form_widget(edit_form.submit,{ "attr": {"class": "btn btn-primary"} }) }}

                <a href="{{ path('correo_nuevo') }}">
                    <button type="button" class="btn btn-warning warning_22">Cancelar</button>
                </a>
            </div>
        </div>
    </div>



    {{ form_end(edit_form) }}
{% endblock %}
