{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Correo</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ entity.correo }}</td>
            </tr>
            <tr>
                <th>Sujeto</th>
                <td>{{ entity.sujeto }}</td>
            </tr>
            <tr>
                <th>Mensaje</th>
                <td>{{ entity.mensaje }}</td>
            </tr>
            <tr>
                <th>Respuesta</th>
                <td>{{ entity.respuesta }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('correo') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('correo_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
