{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block title %}
    Editar Contacto 
{% endblock %}

{% block body -%}
 <div class="bs-example4" >

   
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    
<div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(edit_form.movil,"Celular") }}</div>
        <div class="col-sm-8">
        {{ form_widget(edit_form.movil, { "attr": {"class": "form-control1"} }) }}
            </div>
    <div style="float: right" class="col-sm-6">

    <p class="help-block">{{ form_errors(edit_form.movil) }}</p>
        </div>

    </div>

    <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(edit_form.fijo, "Fijo") }}</div>

        <div class="col-sm-8">
            <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.fijo, { "attr": {"class": "form-control1"} }) }}
        </div>
        </div>
        <div style="float: right" class="col-sm-6">

        <p class="help-block">{{ form_errors(edit_form.fijo) }}</p>
        </div>
    </div>

    <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(edit_form.facebook, "Facebook") }}</div>

        <div class="col-sm-8">
            {{ form_widget(edit_form.facebook, { "attr": {"class": "form-control1"} }) }}
        </div>
        <div style="float: right" class="col-sm-6">

        <p class="help-block">{{ form_errors(edit_form.facebook) }}</p>
        </div>
    </div>

     <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(edit_form.twiter, "Twitter") }}</div>

        <div class="col-sm-8">
            {{ form_widget(edit_form.twiter, { "attr": {"class": "form-control1"} }) }}
        </div>
         <div style="float: right" class="col-sm-6">

         <p class="help-block">{{ form_errors(edit_form.twiter) }}</p>
        </div>
    </div>

    <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(edit_form.correo, "Correo") }}</div>

        <div class="col-sm-8">
            <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.correo, { "attr": {"class": "form-control1"} }) }}
        </div>
        </div>
        <div style="float: right" class="col-sm-6">

        <p class="help-block">{{ form_errors(edit_form.correo) }}</p>
        </div>
    </div>
 


    <div id="trabajador" class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(edit_form.rrhh, "Empleado") }}</div>
        <div class="col-sm-8">
        {{ form_widget(edit_form.rrhh, { "attr": {"class": "form-control1"} }) }}
            </div>
        <div style="float: right" class="col-sm-6">

        <p class="help-block">{{ form_errors(edit_form.rrhh) }}</p>
        </div>

    </div>


   


    <div class="panel-footer">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {{ form_widget(edit_form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
       
        <a href="{{ path('contacto') }}">
            <button type="button" class="btn btn-warning warning_22">Cancelar</button>
        </a>
    </div>
    </div>
    </div>



    {{ form_end(edit_form) }}

      <script type="text/javascript">
         $(function () {

        $('#gedeltur_bundle_contacto_fijo').keydown(floats);
       
         $('#gedeltur_bundle_contacto_movil').keydown(floats);

           
         $('#trabajador').css('visibility', 'hidden');
             

            
})
</script> 


      
{% endblock %}
