{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}
{% block title %}
    Nuevo Contacto 
{% endblock %}

{% block body -%}
 <div class="bs-example4" >

    

    

    {{ form_start(form) }}
    {{ form_errors(form) }}




    

<div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.movil,"Celular") }}</div>
        <div class="col-sm-8">
        {{ form_widget(form.movil, { "attr": {"class": "form-control1"} }) }}
            </div>
    <div style="float: right" class="col-sm-6">

    <p class="help-block">{{ form_errors(form.movil) }}</p>
        </div>

    </div>

     <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(form.fijo, "Fijo") }}</div>

        <div class="col-sm-8">
            <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(form.fijo, { "attr": {"class": "form-control1"} }) }}
        </div>
        </div>
         <div style="float: right" class="col-sm-6">

         <p class="help-block">{{ form_errors(form.fijo) }}</p>
        </div>
    </div>

    <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(form.facebook, "Facebook") }}</div>

        <div class="col-sm-8">
            {{ form_widget(form.facebook, { "attr": {"class": "form-control1"} }) }}
        </div>
        <div style="float: right" class="col-sm-6">

        <p class="help-block">{{ form_errors(form.facebook) }}</p>
        </div>
    </div>

     <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(form.twiter, "Twitter") }}</div>

        <div class="col-sm-8">
            {{ form_widget(form.twiter, { "attr": {"class": "form-control1"} }) }}
        </div>
         <div style="float: right" class="col-sm-6">

         <p class="help-block">{{ form_errors(form.twiter) }}</p>
        </div>
    </div>

    <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(form.correo, "Correo") }}</div>

        <div class="col-sm-8">
            <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(form.correo, { "attr": {"class": "form-control1"} }) }}
        </div>
        </div>
        <div style="float: right" class="col-sm-6">

        <p class="help-block">{{ form_errors(form.correo) }}</p>
        </div>
    </div>



     <div  class="input-group">
         <div class="col-sm-2 control-label"> {{ form_label(form.rrhh, "Trabajador") }}</div>
         <div class="col-sm-3">
             {{ form_widget(form.rrhh, { "attr": {"class": "form-control1 js-example-basic-single"} }) }}
         </div>
         <div style="float: right" class="col-sm-6">

         <p class="help-block">{{ form_errors(form.rrhh) }}</p>
         </div>

     </div>


     <script type="text/javascript">
         $(document).ready(function() {
             $(".js-example-basic-single").select2();
         });
     </script>

     <!-- <script type="text/javascript">
         $(".js-example-basic-multiple").select2();
     </script> -->








   


    <div  class="panel-footer">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {{ form_widget(form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
       
        <a href="{{ path('contacto') }}">
            <button type="button" class="btn btn-warning warning_22">Cancelar</button>
        </a>
    </div>
    </div>
    </div>



    {{ form_end(form) }}


     <script type="text/javascript">
         $(function () {

        $('#gedeltur_bundle_contacto_fijo').keydown(floats);
       
         $('#gedeltur_bundle_contacto_movil').keydown(floats);

           
        
             

            
})
</script> 

        
{% endblock %}
