{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block title %}
    Contacto
{% endblock %}

{% block body -%}
   <div class="bs-example4" >
{{ form_start(delete_form) }}
    {{ form_errors(delete_form) }}
<div class="input-group">
        

        <div class="col-sm-8">
    

    <table class="table table-striped table-bordered table-hover dataTable no-footer">





    

    
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.rrhh.nombre }}</td>
            </tr>
            <tr>
                <th>Fijo</th>
                <td>{{ entity.fijo }}</td>
            </tr>
            <tr>
                <th>Móvil</th>
                <td>{{ entity.movil }}</td>
            </tr>
        </tbody>
    </table>

       
        <a href="{{ path('contacto') }}">
            <button type="button" class="btn btn-warning warning_22">Listar</button>
        </a>
   
        <a href="{{ path('contacto_edit', { 'id': entity.id }) }}">
             <button type="button" class="btn btn-primary">Editar</button>
        </a>
    
     {{ form_widget(delete_form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
      {{ form_end(delete_form) }}

{% endblock %}
