{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}
{% block title %}Editar Institución{% endblock %}
{% block body -%}
     <div class="bs-example4" >


    
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    


    <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(edit_form.nombre) }}</div>

        <div class="col-sm-8"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.nombre, { "attr": {"class": "form-control1"} }) }}
        </div>
        </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(edit_form.nombre) }}</p>
        </div>
    </div>



    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(edit_form.organismo) }}</div>
        <div class="col-sm-8"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
        {{ form_widget(edit_form.organismo, { "attr": {"class": "form-control1"} }) }}
            </div>
            </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(edit_form.organismo) }}</p>
        </div>

    </div>





    <div class="panel-footer">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {{ form_widget(edit_form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
       
        <a href="{{ path('institucion') }}">
            <button type="button" class="btn btn-warning warning_22">Cancelar</button>
        </a>
    </div>
    </div>
    </div>



<script type="text/javascript">
         $(function () {
        $('#gedeltur_bundle_institucion_nombre').keydown(letras);
        $('#gedeltur_bundle_institucion_organismo').keydown(letras);

})
</script>

    {{ form_end(edit_form) }}

       
{% endblock %}
