{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}




{% block boton %}
   
        <a  href="{{ path('tematicasct_new') }}"><button type="button" class="btn btn-warning warning_22"><span class="glyphicon glyphicon-plus"  id="pencil"></span>   Nuevo</button></a>
         
    
</br>
        </br>
    {% endblock %}

    {% block title %}Temáticas de Servicios Científico Técnicos {% endblock %}
{% block body -%}


   
        


    <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example">
    

   
        <thead>
            <tr>
              
                <th>Nombre</th>
                <th style="min-width:  200px">Descripción</th>
                 <th>Responsable(s)</th>
                <th>Editar</th>
                 <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
               
                <td>{{ entity.nombre }}</td>

                <td><p>{{ entity.descrpcion }}</p></td>

                <td>
                {% for res in entity.plantilla %}

                            {{ res.id.nombre|striptags|title  }} {{ res.id.apellidos|striptags|title  }}. </br>

                      {% endfor %}
               


                </td>

                <td>
                
                       



                       

                        <a title="Editar" href="{{ path('tematicasct_edit', { 'id': entity.id 
                        }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                        </td>


                        <td>
                        <a title="Eliminar" data-toggle="modal" href="#{{ entity.id }}"><span class="glyphicon glyphicon-trash"></span></a>
                    
                </td>
            </tr>

            <div class="modal fade" id="{{ entity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h2 class="modal-title">Confirmación de Eliminar</h2>
                            </div>
                            <div class="modal-body">
                                <h5 class="modal-title">¿Estás seguro que deseas eliminar la Temática: {{ entity.nombre|striptags|title }} ?</h5>
                            </div>
                            <div class="modal-footer">

                                <a title="Eliminar" href="{{ path('tematicasct_delete', { 'id': entity.id }) }}"><button type="button" class="btn btn-primary">Sí</button></a>
                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                
           </div>
        {% endfor %}
        </tbody>
    </table>
<div class="alert alert-success">
        {% for flashMessage in app.session.flashbag.get('msg') %}
            <div class="msg">
                {{ flashMessage }}
                {% endfor %}
            </div>
  
   

        <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('#dataTables-example').DataTable({
                    responsive: true
                });
            });
        </script>
    {% endblock %}
