{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block title %}Nueva Temática de Servicios Científico Técnicos{% endblock %}
{% block body -%}
   
<div class="bs-example4" >
  

   
{{ form_start(form) }}
    {{ form_errors(form) }}
    


   



    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.nombre) }}</div>
        <div class="col-sm-8">
        {{ form_widget(form.nombre, { "attr": {"class": "form-control1"} }) }}
            </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(form.nombre) }}</p>
        </div>

    </div>

    <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(form.descrpcion , "Descripción") }}</div>

        <div class="col-sm-8">
            {{ form_widget(form.descrpcion, { "attr": {"class": "form-control"} }) }}
        </div>

        <div class="col-sm-2">
            <p class="help-block"> {{ form_errors(form.descrpcion) }}</p>
        </div>
    </div>



     <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(form.plantilla, 'Responsable(s)') }}</div>

        <div class="col-sm-8">
            {{ form_widget(form.plantilla, { "attr": {"class": "form-control1 js-example-basic-responsables"} }) }}
        </div>

        <div class="col-sm-2">
            <p class="help-block"> {{ form_errors(form.plantilla) }}</p>
        </div>
    </div>


    <div class="panel-footer">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {{ form_widget(form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
       
        <a href="{{ path('tematicasct') }}">
            <button type="button" class="btn btn-warning warning_22">Cancelar</button>
        </a>
    </div>
    </div>
    </div>

    <div class="alert alert-success">
        {% for flashMessage in app.session.flashbag.get('msg') %}
            <div class="msg">
                {{ flashMessage }}
                {% endfor %}
            </div>

 <script type="text/javascript">
         $(function () {
        $('#gedeltur_bundle_tematicasct_nombre').keydown(letras);
             $('#gedeltur_bundle_tematicasct_descrpcion').keydown(let);
       

})
</script>

    {{ form_end(form) }}


        <script type="text/javascript">
            $(".js-example-basic-responsables").select2();

            var $exampleMulti1 = $(".js-example-basic-curso").select2();
            $(".js-programmatic-multi-clear1").on("click", function () { $exampleMulti1.val(null).trigger("change"); });

        </script>
       
{% endblock %}
