{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}




{% block title %}
    Servicios Científico Técnicos prestados por Institución
{% endblock %}



 {% block body %}



 
             <div>

      <table   class="table table-hover" id="dataTables-example">
        <thead>
          <tr>
            
           
            <th>Nombre de la Entidad</th>
            <th>Servicios Científico Técnicos</th>
             <th>Otro Servicio Prestado</th>

          </tr>
        </thead>
        <tbody>
          <tr>
           
          
            
           
            {% for int in institucion %}

            <td>

               <strong>{{ int.nombre|striptags|title }} </strong>

            </td>



            <td>
     {% for sct in servicios %}
         {% for ins in sct.insitucion %}
             {% if ins.id==int.id %}

                    <strong>{{ sct.nombre|striptags|title }}  </strong> .</br>

             {% endif %}
         {% endfor %}



     {% endfor %}

            </td>

     <td>
         {% for otra in otra %}
         {% if otra.institucion.id==int.id %}

             <strong>{{ otra.concepto|striptags|title }}  </strong> .</br>
         {% endif %}
         {% endfor %}

     </td>

          </tr>
 {% endfor %}
          
        </tbody>
</table>
     <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('#dataTables-example').DataTable({
                    responsive: true
                });
            });
        </script>
   
          

        



 {% endblock %}

 