{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}



{% block title %}
   Trabajadores por Linea de Investigación 
{% endblock %}

 {% block body %}




             <div>

      <table   class="table table-hover" id="dataTables-example">
        <thead>
          <tr>

              <th>Linea de Investigación</th>

            <th>Nombre  Completo  de los Trabajadores</th>




          </tr>
        </thead>
        <tbody>
          <tr>
           
          
            
           
            {% for li in linea %}

            <td >

               <strong>{{ li.titulo|striptags|title }} </strong>

            </td>




            <td>



                {% for p in li.proyecto %}
                    {% for r in p.rrhh %}


                {{ r.nombre|striptags|title }} {{ r.apellidos|striptags|title }}.  </br>





                     {% endfor %}
                    {% endfor %}





            </td>



          </tr>
 {% endfor %}
          
        </tbody>
</table>

 
    
 <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('#dataTables-example').DataTable({
                    responsive: true
                });
            });
        </script>


 {% endblock %}

 