{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}




{% block title %}
  Trabajadores por Proyecto 
{% endblock %}

 {% block body %}



 
             <div>

      <table   class="table table-hover" id="dataTables-example">
        <thead>
          <tr>

              <th>Proyecto</th>

            <th>Nombre  Completo  de los Trabajadores</th>




          </tr>
        </thead>
        <tbody>
          <tr>
           
          
            
           
            {% for pro in proyecto %}

            <td >

               <strong>{{ pro.titulo|striptags|title }} </strong>

            </td>




            <td>

         {% for w in pro.rrhh %}


                    <strong>{{ w.nombre }}  {{ w.apellidos|striptags|title }} </strong> </br>


         {% endfor %}





            </td>



          </tr>
 {% endfor %}
          
        </tbody>
</table>

   
    <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('#dataTables-example').DataTable({
                    responsive: true
                });
            });
        </script>
    



 {% endblock %}

 