{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}



{% block title %}
   Trabajadores por Servicios Científico Técnicos 
{% endblock %}

 {% block body %}




           <div>

      <table   class="table table-hover" id="dataTables-example">
        <thead>
          <tr>

              <th>Servicios Cinetífico Técnicos</th>
              <th>Responsable</th>





          </tr>
        </thead>
        <tbody>
          <tr>
           
          
            
           
            {% for ser in servicios %}

            <td>

               <strong>{{ ser.nombre|striptags|title }} </strong>

            </td>


              <td>

                  <strong>{{ ser.rrhh.id.nombre|striptags|title }}  {{ ser.rrhh.id.apellidos|striptags|title }} </strong>

              </td>



           



          </tr>
 {% endfor %}
          
        </tbody>
</table>

  <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('#dataTables-example').DataTable({
                    responsive: true
                });
            });
        </script>

   

    



 {% endblock %}

 