{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}
{% block title %}Editar de Taller {% endblock %}
{% block body -%}
   

   <div class="bs-example4" >
{{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    


   



    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(edit_form.nombre) }}</div>
        <div class="col-sm-8"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
        {{ form_widget(edit_form.nombre, { "attr": {"class": "form-control1"} }) }}
            </div>
            </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(edit_form.nombre) }}</p>
        </div>

    </div>



    <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(edit_form.descripcion , "Descripción") }}</div>

        <div class="col-sm-8"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.descripcion, { "attr": {"class": "form-control"} }) }}
        </div>
        </div>

        <div class="col-sm-2">
            <p class="help-block"> {{ form_errors(edit_form.descripcion) }}</p>
        </div>
    </div>

 
     
<div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(edit_form.tematica,"Temáticas") }}</div>

        <div class="col-sm-8"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.tematica, { "attr": {"class": "form-control1 js-example-basic-tematicas"} }) }}
        </div>
        </div>

        <div class="col-sm-2">
            <p class="help-block"> {{ form_errors(edit_form.tematica) }}</p>
        </div>
    </div>


       <div class="input-group">
           <div class="col-sm-2 control-label">{{ form_label(edit_form.encargado,"Responsable") }}</div>

           <div class="col-sm-3"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
               {{ form_widget(edit_form.encargado, { "attr": {"class": "form-control1 js-example-basic-responsable"} }) }}
           </div>
           </div>

           <div class="col-sm-2">
               <p class="help-block"> {{ form_errors(edit_form.encargado) }}</p>
           </div>
       </div>

    <div class="panel-footer">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {{ form_widget(edit_form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
       
        <a href="{{ path('taller') }}">
            <button type="button" class="btn btn-warning warning_22">Cancelar</button>
        </a>
    </div>
    </div>
    </div>


<script type="text/javascript">
        $(function () {
            //validaciones js
            $('#gedeltur_bundle_taller_nombre').keydown(letras);
              $('#gedeltur_bundle_taller_descripcion').keydown(let);
            
        
           
          
        })
    </script>
    {{ form_end(edit_form) }}


       <script type="text/javascript">
           $(document).ready(function() {
               $(".js-example-basic-responsable").select2();
           });
       </script>




       <script type="text/javascript">
           $(".js-example-basic-tematicas").select2();

           var $exampleMulti1 = $(".js-example-basic-curso").select2();
           $(".js-programmatic-multi-clear1").on("click", function () { $exampleMulti1.val(null).trigger("change"); });

       </script>
{% endblock %}
