{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}


   {% block boton %}
    
        <a  href="{{ path('contenido_new') }}"><button type="button" class="btn btn-warning warning_22"><span class="glyphicon glyphicon-plus"  id="pencil"></span>   Nuevo</button></a>
         
    
</br>
        </br>
    {% endblock %}

    {% block title %} Capacitación  {% endblock %}
{% block body -%}
  
        

    

    <div class="table-responsive">
   <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example">
    

    
        <thead>
            <tr>
               
                 <th>Nombre de la Capacitación</th>
                 <th>Entidad/es</th>
                
                <th>Tarifa</th>
                <th>Descripción</th>
                <th>Contenido</th>
                <th>Temáticas</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
               
                <td>{{ entity.id.nombre }}</td>
                 <td> {% for ins in entity.id.insitucion %}

                            {{ ins.nombre  }} ;

                      {% endfor %}
                 </td>
                
                <td>{{ entity.id.tarifa }}</td>
                <td>{{ entity.id.descripcion }}</td>

                 <td>{{ entity.contenido }}</td>
                <td> {% for tem in entity.id.tematica %}

                        {{ tem.nombre  }} ;

                    {% endfor %}
                </td>
                <td>
                
                        



                       

                        <a title="Editar" href="{{ path('contenido_edit', { 'id': entity.id.id 
                        }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                        </td>

                        <td>
                        <a title="Eliminar" data-toggle="modal" href="#{{ entity.id.id }}"><span class="glyphicon glyphicon-trash"></span></a>






                        
                    
                </td>
            </tr>
             <div class="modal fade" id="{{ entity.id.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h2 class="modal-title">Confirmación de Eliminar</h2>
                            </div>
                            <div class="modal-body">
                                <h5 class="modal-title">¿Estás seguro que desea eliminar el servicio científico técnico: {{ entity.id.nombre }} ?</h5>
                            </div>
                            <div class="modal-footer">

                                <a  href="{{ path('contenido_delete', { 'id': entity.id.id }) }}"><button type="button" class="btn btn-primary">Sí</button></a>
                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                
           </div>
        {% endfor %}
        </tbody>
    </table>

     <div class="alert alert-success">
        {% for flashMessage in app.session.flashbag.get('msg') %}
            <div class="msg">
                {{ flashMessage }}
            </div>
        {% endfor %}
  </div>

 


        <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('#dataTables-example').DataTable({
                    responsive: true
                });
            });
        </script>
       
    {% endblock %}
