{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block title %}Nueva Capacitación{% endblock %}
{% block body -%}
    
<div class="bs-example4" >
  

    
{{ form_start(form) }}
    {{ form_errors(form) }}
    
<div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(form.id.nombre) }}</div>

        <div class="col-sm-8">
            {{ form_widget(form.id.nombre, { "attr": {"class": "form-control1"} }) }}
        </div>
    <div style="float: right" class="col-sm-6">

    <p class="help-block">{{ form_errors(form.id.nombre) }}</p>
        </div>
    </div>

   



    



    <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(form.id.descripcion,"Descripción") }}</div>

        <div class="col-sm-8">
            {{ form_widget(form.id.descripcion, { "attr": {"class": "form-control1"} }) }}
        </div>

        <div style="float: right" class="col-sm-6">

        <p class="help-block"> {{ form_errors(form.id.descripcion) }}</p>
        </div>
    </div>

     <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(form.id.insitucion, 'Institución') }}</div>

        <div class="col-sm-8">
            {{ form_widget(form.id.insitucion, { "attr": {"class": "form-control1"} }) }}
        </div>

         <div style="float: right" class="col-sm-6">

         <p class="help-block"> {{ form_errors(form.id.insitucion) }}</p>
        </div>
    </div>


    <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(form.id.rrhh,"Responsable") }}</div>

        <div class="col-sm-8">
            {{ form_widget(form.id.rrhh, { "attr": {"class": "form-control1"} }) }}
        </div>

        <div style="float: right" class="col-sm-6">

        <p class="help-block"> {{ form_errors(form.id.rrhh) }}</p>
        </div>
    </div>


     <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(form.id.tematica,"Temáticas") }}</div>

        <div class="col-sm-8">
            {{ form_widget(form.id.tematica, { "attr": {"class": "form-control1"} }) }}
        </div>

         <div style="float: right" class="col-sm-6">

         <p class="help-block"> {{ form_errors(form.id.tematica) }}</p>
        </div>
    </div>



    <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(form.contenido) }}</div>

        <div class="col-sm-8">
            {{ form_widget(form.contenido, { "attr": {"class": "form-control"} }) }}
        </div>

        <div style="float: right" class="col-sm-6">

        <p class="help-block"> {{ form_errors(form.contenido) }}</p>
        </div>
    </div>

    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.id.tarifa) }}</div>
        <div class="col-sm-8">
        {{ form_widget(form.id.tarifa, { "attr": {"class": "form-control1"} }) }}
            </div>
        <div style="float: right" class="col-sm-6">

        <p class="help-block">{{ form_errors(form.id.tarifa) }}</p>
        </div>

    </div>


    <div class="panel-footer">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {{ form_widget(form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
       
        <a href="{{ path('contenido') }}">
            <button type="button" class="btn btn-warning warning_22">Cancelar</button>
        </a>
    </div>
    </div>
    </div>



    {{ form_end(form) }}

      <script type="text/javascript">
         $(function () {
        $('#gedeltur_bundle_contenido_id_nombre').keydown(letras);
        $('#gedeltur_bundle_contenido_id_descripcion').keydown(letras);
         $('#gedeltur_bundle_contenido_id_tarifa').keydown(floats);

})
</script> 
{% endblock %}
