﻿/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6 /* Font Style */
{
}
span.rvts7
{
 font-size: 12pt;
}
span.rvts8
{
 font-size: 12pt;
 color: #000000;
}
span.rvts9 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts10, span.rvts10 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 12pt;
 font-weight: bold;
}
span.rvts12
{
 font-size: 12pt;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2 /* Paragraph Style */
{
}
.rvps3
{
 text-align: justify;
 line-height: 1.50;
 margin: 8px 0px 8px 0px;
}
.rvps4
{
 text-align: justify;
 line-height: 1.50;
 margin: 8px 0px 8px 0px;
}
.rvps5 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps6
{
 text-align: justify;
 line-height: 1.50;
 margin: 8px 0px 0px 0px;
}
.rvps7
{
 line-height: 1.50;
}
.rvps8
{
 text-align: justify;
 line-height: 1.50;
 margin: 16px 0px 8px 0px;
}
.rvps9
{
 text-align: justify;
 text-indent: -23px;
 line-height: 1.50;
 margin: 0px 0px 0px 42px;
}
