{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block boton %}
     
        <a  href="{{ path('plantillalineainvestigacion_new') }}"><button type="button" class="btn btn-warning warning_22"><span class="glyphicon glyphicon-plus"  id="pencil"></span>   Nuevo</button></a>
         
    
</br>
        </br>
    {% endblock %}

    {% block title %}Investigaciones Activas{% endblock %}


{% block body -%}







        
    <table class="table table-striped table-bordered table-hover dataTable no-footer"  id="dataTables-example">


















    

  
        <thead>
            <tr>
              
                <th>Empleado</th>
                <th>Linea de Investigación Activa</th>
                <th>Responsable</th>
                <th>Editar</th>
                th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
               
                <td>{{ entity.plantilla }}</td>
                <td>{{ entity.linea }}</td>
                <td>{% if entity.responsable ==0 %}
                NO
                 {% endif %}{% if entity.responsable ==1 %}
                SI
                 {% endif %}</td>
                <td>
                        

                       
                    
                        <a title="Editar" href="{{ path('plantillalineainvestigacion_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                         </td>
                          
                          <td>

                        <a title="Eliminar" href="{{ path('plantillalineainvestigacion_delete', { 'id': entity.id}) }}"><span class="glyphicon glyphicon-trash"></span></a>



                       
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   
<div class="alert alert-success">
        {% for flashMessage in app.session.flashbag.get('msg') %}
            <div class="msg">
                {{ flashMessage }}
                {% endfor %}
            </div>
         <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('#dataTables-example').DataTable({
                    responsive: true
                });
            });
        </script>
    {% endblock %}
