{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block title %}
  Linea de  Investigación Activa
{% endblock %}

{% block body -%}
   <div class="bs-example4" >



{{ form_start(delete_form) }}
    {{ form_errors(delete_form) }}
<div class="input-group">
        

        <div class="col-sm-8">
    

    <table class="table table-striped table-bordered table-hover dataTable no-footer">
    

    
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
             <tr>
                <th>Empleado</th>
                <td>{{ entity.plantilla }}</td>
            </tr>
            <tr>
                <th>Proyecto</th>
                 <td>{{ entity.linea }}</td>
            </tr>
            
               
            <tr>
                <th>Responsable</th>
                <td>{% if entity.responsable ==0 %}
                NO
                 {% endif %}{% if entity.responsable ==1 %}
                SI
                 {% endif %}</td>
            </tr>

           
        </tbody>
    </table>

        
        <a href="{{ path('plantillalineainvestigacion') }}">
            <button type="button" class="btn btn-warning warning_22">Listar</button>
        </a>
   
        <a href="{{ path('plantillalineainvestigacion_edit', { 'id': entity.id }) }}">
            <button type="button" class="btn btn-primary">Editar</button>
        </a>
    {{ form_widget(delete_form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
      {{ form_end(delete_form) }}
{% endblock %}
