{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block title %}
  Diplomado 
{% endblock %}

{% block body -%}
   <div class="bs-example4" >



{{ form_start(delete_form) }}
    {{ form_errors(delete_form) }}
<div class="input-group">
        

        <div class="col-sm-8">
    

    <table class="table table-striped table-bordered table-hover dataTable no-footer">
    
        <tbody>
            
            <tr>
                <th>Título</th>
                <td>{{ entity.id.titulo }}</td>
            </tr>
            <tr>
                <th>Perfil del Egresado</th>
                <td>{{ entity.id.perfilEgresado}}</td>
            </tr>
            <tr>
                <th>Título del Egresado</th>
                <td>{{ entity.id.tituloEgresado}}</td>
            </tr>
             <tr>
                <th>Objetivos</th>
                <td>{{ entity.id.objetivos}}</td>
            </tr>
            <tr>
                <th>Fecha de Inicio</th>
                <td>{{ entity.id.inicio|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Duración(meses)</th>
                <td>{{ entity.id.tiempo}}</td>
            </tr>
            <tr>
                <th>Requisitos</th>
                <td>{{ entity.id.requisitos}}</td>
            </tr>
            
             <tr>
                <th>Tarifa</th>
                <td>{{ entity.id.tarifa}}</td>
            </tr>
            <tr>
                <th>Cursos</th>
                <td>{% for cur in entity.curso %} 

                            {{ cur.nombre }} ;


                         {% endfor %}</td>
            </tr>

        </tbody>
    </table>

       
   
        <a href="{{ path('diplomado') }}">
            <button type="button" class="btn btn-warning warning_22">Listar</button>
        </a>
    
        <a href="{{ path('diplomado_edit', { 'id': entity.id.id }) }}">
           <button type="button" class="btn btn-primary">Editar</button>
        </a>
    {{ form_widget(delete_form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
   {{ form_end(delete_form) }}

</div>
</div>
</div>

{% endblock %}
