{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block title %}
    Nuevo Colaborador 
{% endblock %}

{% block body -%}
 <div class="bs-example4" >
  
    
{{ form_start(form) }}
    {{ form_errors(form) }}
    


    
 <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(form.id.ci, 'Carné de Identidad') }}</div>

        <div class="col-sm-8">
            <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(form.id.ci, { "attr": {"class": "form-control1"} }) }}
        </div>
        </div>
        <div style="float: right;"  class="col-sm-6">
            <p class="help-block">{{ form_errors(form.id.ci) }}</p>
        </div>
    </div>



    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.id.nombre) }}</div>
        <div class="col-sm-8">
            <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
        {{ form_widget(form.id.nombre, { "attr": {"class": "form-control1"} }) }}
            </div>
            </div>
        <div style="float: right" class="col-sm-6">

        <p class="help-block">{{ form_errors(form.id.nombre) }}</p>
        </div>

    </div>



    <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(form.id.apellidos, 'Apellidos') }}</div>

        <div class="col-sm-8">
            <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(form.id.apellidos, { "attr": {"class": "form-control1"} }) }}
        </div>
        </div>

        <div style="float: right" class="col-sm-6">

        <p class="help-block"> {{ form_errors(form.id.apellidos) }}</p>
        </div>
    </div>


    <div class="input-group">
        <div class="col-sm-2 control-label"> {{ form_label(form.id.direccion, 'Dirección') }}</div>
        <div class="col-sm-8">
            <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(form.id.direccion, { "attr": {"class": "form-control1"} }) }}
        </div>
        </div>
        <div style="float: right" class="col-sm-6">

        <p class="help-block">  {{ form_errors(form.id.direccion) }}</p>
        </div>
    </div>


    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.id.image, 'Imagen') }}</div>


        <div class="col-sm-8">
            {{ form_widget(form.id.image) }}
            <p class="help-block">No debe exceder de los 500 kb.</p>
        </div>
        <div style="float: right" class="col-sm-6">

        <p class="help-block">   {{ form_errors(form.id.image) }}</p>
        </div>

    </div>





    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.centro) }}</div>
        <div class="col-sm-8">
            <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
        {{ form_widget(form.centro, { "attr": {"class": "form-control1"} }) }}
            </div>
            </div>
        <div style="float: right" class="col-sm-6">

        <p class="help-block">{{ form_errors(form.centro) }}</p>
        </div>

    </div>

     <div class="input-group">
         <div class="col-sm-2 control-label"> {{ form_label(form.cat_doc, 'Categoría Docente') }}</div>
         <div class="col-sm-3">
             <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
             {{ form_widget(form.cat_doc, { "attr": {"class": "form-control1 js-example-basic-single"} }) }}
         </div>
         </div>
         <div class="col-sm-2 control-label"> {{ form_label(form.cat_cien,'Categoría Científica') }}</div>
         <div class="col-sm-3">
             <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
             {{ form_widget(form.cat_cien, { "attr": {"class": "form-control1 js-example-basic-singles"} }) }}
         </div>
         </div>

     </div>



    

    <div class="panel-footer">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">

        {{ form_widget(form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
       
        <a href="{{ path('colaborador') }}">
            <button type="button" class="btn btn-warning warning_22">Cancelar</button>
        </a>
    </div>
    </div>
    </div>


<script type="text/javascript">
         $(function () {
        $('#gedeltur_bundle_colaborador_centro').keydown(letras);

        $('#gedeltur_bundle_colaborador_id_ci').keydown(ci);
         $('#gedeltur_bundle_colaborador_id_nombre').keydown(letras);
           $('#gedeltur_bundle_colaborador_id_apellidos').keydown(letras);

           $('#gedeltur_bundle_colaborador_id_direccion').keydown(adress);
       

})
</script>

<div class="alert alert-success">
        {% for flashMessage in app.session.flashbag.get('msg') %}
            <div class="msg">
                {{ flashMessage }}
            </div>
        {% endfor %}
    </div>
    {{ form_end(form) }}



     <script type="text/javascript">
         $(document).ready(function() {
             $(".js-example-basic-single").select2();
         });
     </script>

     <script type="text/javascript">
         $(document).ready(function() {
             $(".js-example-basic-singles").select2();
         });
     </script>

     <script type="text/javascript">
         $(document).ready(function() {
             $(".js-example-basic-singless").select2();
         });
     </script>
       
{% endblock %}
