{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}


{% block title %}
    Colaborador
{% endblock %}

{% block body -%}
   <div class="bs-example4" >
{{ form_start(delete_form) }}
    {{ form_errors(delete_form) }}
<div class="input-group">
        

        <div class="col-sm-8">
    

    <table class="table table-striped table-bordered table-hover dataTable no-footer">
   
        <tbody>
         
            <tr>
                <th>Image</th>
                <td>{{ entity.id.image }}</td>
            </tr>
            <tr>
                <th>Ci</th>
                <td>{{ entity.id.ci }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.id.direccion }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.id.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ entity.id.apellidos }}</td>
            </tr>
            <tr>
                <th>Centro</th>
                <td>{{ entity.centro }}</td>
            </tr>
        </tbody>
    </table>

       
        <a href="{{ path('colaborador') }}">
           <button type="button" class="btn btn-warning warning_22">Listar</button>
        </a>
    
        <a href="{{ path('colaborador_edit', { 'id': entity.id.id }) }}">
           <button type="button" class="btn btn-primary">Editar</button>
        </a>
  
    {{ form_widget(delete_form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
      {{ form_end(delete_form) }}
</div>
</div>
</div>

{% endblock %}
