{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block title %}Editar Servicio Científico Técnico{% endblock %}
{% block body -%}
    
<div class="bs-example4" >

 
{{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    
 <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(edit_form.nombre) }}</div>

        <div class="col-sm-8"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.nombre, { "attr": {"class": "form-control1"} }) }}
        </div>
        </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(edit_form.nombre) }}</p>
        </div>
    </div>


    <div class="input-group">
        <div class="col-sm-2 control-label"> {{ form_label(edit_form.tipo) }}</div>
        <div class="col-sm-3"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.tipo, { "attr": {"class": "form-control1 "} }) }}
        </div>
        </div>
<div class="col-sm-2 control-label"> {{ form_label(edit_form.tarifa,"Costo(CUP)") }}</div>
        <div class="col-sm-3"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.tarifa, { "attr": {"class": "form-control1",'placeholder':'Tarifa'} }) }}
        </div>
        </div>

    </div>












    <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(edit_form.insitucion, 'Instituciones') }}</div>

        <div class="col-sm-8"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.insitucion, { "attr": {"class": "form-control1 js-example-basic-instituciones"} }) }}
        </div>
        </div>



    </div>



    <div class="input-group">


        <div class="col-sm-2 control-label">{{ form_label(edit_form.tematica,"Temáticas") }}</div>

        <div class="col-sm-8"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.tematica, { "attr": {"class": "form-control1 js-example-basic-tematicas"} }) }}
        </div>
        </div>

    </div>



   



    <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(edit_form.descripcion,"Descripción") }}</div>

        <div class="col-sm-8"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.descripcion, { "attr": {"class": "form-control"} }) }}
        </div>
        </div>

        <div class="col-sm-2">
            <p class="help-block"> {{ form_errors(edit_form.descripcion) }}</p>
        </div>
    </div>



    <div id="contenido" class="input-group" {% if entity.tipo!="capacitación" %}style="visibility: hidden" {% endif %}>
        <div class="col-sm-2 control-label">{{ form_label(edit_form.contenido,"Contenido") }}</div>

        <div class="col-sm-8"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.contenido, { "attr": {"class": "form-control"} }) }}
        </div>
        </div>

        <div class="col-sm-2">
            <p class="help-block"> {{ form_errors(edit_form.contenido) }}</p>
        </div>


    </div>


    <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(edit_form.rrhh,"Responsable") }}</div>

        <div class="col-sm-4"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
                {{ form_widget(edit_form.rrhh, { "attr": {"class": "form-control1 js-example-basic-responsable"} }) }}
            </div>
        </div>

        <div class="col-sm-2">
            <p class="help-block"> {{ form_errors(edit_form.rrhh) }}</p>
        </div>
    </div>




    <div class="panel-footer">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {{ form_widget(edit_form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
       
        <a href="{{ path('servicioscienticotecnicos') }}">
            <button type="button" class="btn btn-warning warning_22">Cancelar</button>
        </a>
    </div>
    </div>
    </div>



    {{ form_end(edit_form) }}



    <script type="text/javascript">
        $(document).ready(function() {
            $(".js-example-basic-responsable").select2();
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".js-example-basic-tipo").select2();
        });
    </script>




    <script type="text/javascript">
        $(".js-example-basic-instituciones").select2();

        var $exampleMulti1 = $(".js-example-basic-curso").select2();
        $(".js-programmatic-multi-clear1").on("click", function () { $exampleMulti1.val(null).trigger("change"); });

    </script>


    <script type="text/javascript">
        $(".js-example-basic-tematicas").select2();

        var $exampleMulti = $(".js-example-basic-multiple").select2();
        $(".js-programmatic-multi-clear").on("click", function () { $exampleMulti.val(null).trigger("change"); });
    </script>
       

 <script type="text/javascript">
     function blur(obj)
     {
         obj.target.blur()
     }
         $(function () {
        $('#gedeltur_bundle_servicioscienticotecnicos_nombre').keydown(letras);
        $('#gedeltur_bundle_servicioscienticotecnicos_descripcion').keydown(letras);
         $('#gedeltur_bundle_servicioscienticotecnicos_tarifa').keydown(floats);
         $('#gedeltur_bundle_servicioscienticotecnicos_tipo').focus(blur);

          //$(".js-example-basic-tipo").prop("disabled", true);

})
</script> 

{% endblock %}
