{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block title %}Nuevo Servicio Científico Técnico{% endblock %}
{% block body -%}
    
<div class="bs-example4" >
  

    
{{ form_start(form) }}
    {{ form_errors(form) }}
    
<div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(form.nombre) }}</div>

        <div class="col-sm-8"> <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(form.nombre, { "attr": {"class": "form-control1"} }) }}
        </div>
        </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(form.nombre) }}</p>
        </div>
    </div>

    <div class="input-group">
        <div class="col-sm-2 control-label"> {{ form_label(form.tipo) }}</div>
        <div class="col-sm-3"> <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(form.tipo, { "attr": {"class": "form-control1 js-example-basic-tipo"} }) }}
        </div>
        </div>
<div class="col-sm-2 control-label"> {{ form_label(form.tarifa,"Costo(CUP)") }}</div>
        <div class="col-sm-3"> <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(form.tarifa, { "attr": {"class": "form-control1",'placeholder':''} }) }}
        </div>
        </div>
        <div class="col-sm-2">
            <p class="help-block"> {{ form_errors(form.tarifa) }}</p>
        </div>

    </div>






   



   

     <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(form.insitucion, 'Instituciones') }}</div>

        <div class="col-sm-8"> <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(form.insitucion, { "attr": {"class": "form-control1 js-example-basic-instituciones"} }) }}
        </div>
        </div>



     </div>

    <div class="input-group">


        <div class="col-sm-2 control-label">{{ form_label(form.tematica,"Temáticas") }}</div>

        <div class="col-sm-8"> <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(form.tematica, { "attr": {"class": "form-control1 js-example-basic-tematicas"} }) }}
        </div>
        </div>

    </div>











    <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(form.descripcion,"Descripción") }}</div>

        <div class="col-sm-8"> <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(form.descripcion, { "attr": {"class": "form-control"} }) }}
        </div>
        </div>

        <div class="col-sm-2">
            <p class="help-block"> {{ form_errors(form.descripcion) }}</p>
        </div>
    </div>


    <div id="contenido" class="input-group" style="visibility: hidden">
        <div class="col-sm-2 control-label">{{ form_label(form.contenido,"Contenido") }}</div>

        <div class="col-sm-8"> <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(form.contenido, { "attr": {"class": "form-control"} }) }}
        </div>
        </div>

        <div class="col-sm-2">
            <p class="help-block"> {{ form_errors(form.contenido) }}</p>
        </div>


    </div>

    <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(form.rrhh,"Responsable") }}</div>

        <div class="col-sm-4"> <div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
                {{ form_widget(form.rrhh, { "attr": {"class": "form-control1 js-example-basic-responsable"} }) }}
            </div>
        </div>

        <div class="col-sm-2">
            <p class="help-block"> {{ form_errors(form.rrhh) }}</p>
        </div>
    </div>






    <div class="panel-footer">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {{ form_widget(form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
       
        <a href="{{ path('servicioscienticotecnicos') }}">
            <button type="button" class="btn btn-warning warning_22">Cancelar</button>
        </a>
    </div>
    </div>
    </div>



    {{ form_end(form) }}




    <script type="text/javascript">
        $(document).ready(function() {
            $(".js-example-basic-responsable").select2();
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".js-example-basic-tipo").select2();
        });
    </script>




    <script type="text/javascript">
        $(".js-example-basic-instituciones").select2();

        var $exampleMulti1 = $(".js-example-basic-curso").select2();
        $(".js-programmatic-multi-clear1").on("click", function () { $exampleMulti1.val(null).trigger("change"); });

    </script>


    <script type="text/javascript">
        $(".js-example-basic-tematicas").select2();

        var $exampleMulti = $(".js-example-basic-multiple").select2();
        $(".js-programmatic-multi-clear").on("click", function () { $exampleMulti.val(null).trigger("change"); });
    </script>


      <script type="text/javascript">
         $(function () {
        $('#gedeltur_bundle_servicioscienticotecnicos_nombre').keydown(letras);
         $('#gedeltur_bundle_servicioscienticotecnicos_descripcion').keydown(let);
         $('#gedeltur_bundle_servicioscienticotecnicos_contenido').keydown(let);
       
         $('#gedeltur_bundle_servicioscienticotecnicos_tarifa').keydown(floats);

             if( $('#gedeltur_bundle_servicioscienticotecnicos_tipo').val()=="capacitación")

             {
                 $('#contenido').css('visibility', 'visible');
             }

             $('#gedeltur_bundle_servicioscienticotecnicos_tipo').on('change', function(obj) {
                 if(obj.target.value=="capacitación")
                 {
                     $('#contenido').css('visibility', 'visible');
                 }
                 else
                     $('#contenido').css('visibility', 'hidden');


             });
})
</script> 
{% endblock %}
