{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block title %}
  Servicio Científico Técnico
{% endblock %}

{% block body -%}
   <div class="bs-example4" >



{{ form_start(delete_form) }}
    {{ form_errors(delete_form) }}
<div class="input-group">
        

        <div class="col-sm-8">
    

    <table class="table table-striped table-bordered table-hover dataTable no-footer">
   
        <tbody>
           <tr>
                <th>Nombre del Servicio Cientifico Técnico</th>
                <td>{{ entity.nombre }}</td>
            </tr>

            <tr>
                <th>Entidad/es</th>
                {% for ins in entity.insitucion %}
                <td>

                            {{ ins.nombre }}


                      </td>
                      {% endfor %}
                      
            </tr>
            
            <tr>
                <th>Tarifa</th>
                <td>{{ entity.tarifa }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
        </tbody>
    </table>

      
        <a href="{{ path('servicioscienticotecnicos') }}">
        <button type="button" class="btn btn-warning warning_22">Listar</button>
        </a>
   
        <a href="{{ path('servicioscienticotecnicos_edit', { 'id': entity.id }) }}">
            <button type="button" class="btn btn-primary">Editar</button>
        </a>
    
    {{ form_widget(delete_form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
      {{ form_end(delete_form) }}
</div>
</div>
</div>
</div>
{% endblock %}
