{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block title %}
    Nueva Especialidad
{% endblock %}

{% block body -%}
 <div class="bs-example4" >
   

    
 {{ form_start(form) }}
    {{ form_errors(form) }}
    


    <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(form.titulo,"Nombre") }}</div>

        <div class="col-sm-8">
            {{ form_widget(form.titulo, { "attr": {"class": "form-control1"} }) }}
        </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(form.titulo) }}</p>
        </div>
    </div>



    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.perfilEgresado,"Perfil del Egresado") }}</div>
        <div class="col-sm-8">
        {{ form_widget(form.perfilEgresado, { "attr": {"class": "form-control"} }) }}
            </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(form.perfilEgresado) }}</p>
        </div>

    </div>

     <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.tituloEgresado,"Título del Egresado" ) }}</div>


        <div class="col-sm-8">
            {{ form_widget(form.tituloEgresado, { "attr": {"class": "form-control1"} }) }}
        </div>
        <div class="col-sm-2">
            <p class="help-block">   {{ form_errors(form.tituloEgresado) }}</p>
        </div>

    </div>



    <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(form.objetivos) }}</div>

        <div class="col-sm-8">
            {{ form_widget(form.objetivos, { "attr": {"class": "form-control"} }) }}
        </div>

        <div class="col-sm-2">
            <p class="help-block"> {{ form_errors(form.objetivos) }}</p>
        </div>
    </div>


     <div class="input-group">
         <div class="col-sm-2 control-label"> {{ form_label(form.inicio, 'Fecha de Inicio') }}</div>


         <div class="col-sm-3">
             {{ form_widget(form.inicio, { "attr": {"class": "form-control1 dtp"} }) }}
         </div>


         <div class="col-sm-2 control-label"> {{ form_label(form.tiempo, 'Duración(meses)') }}</div>
         <div class="col-sm-3">
             {{ form_widget(form.tiempo, { "attr": {"class": "form-control1"} }) }}
         </div>
         <div class="col-sm-2">
             <p class="help-block">  {{ form_errors(form.tiempo) }}</p>
         </div>

     </div>




    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.requisitos) }}</div>


        <div class="col-sm-8">
            {{ form_widget(form.requisitos, { "attr": {"class": "form-control"} }) }}
        </div>
        <div class="col-sm-2">
            <p class="help-block">   {{ form_errors(form.requisitos) }}</p>
        </div>

    </div>


   

    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.tarifa,"Tarifa(CUP)" ) }}</div>


        <div class="col-sm-8">
            {{ form_widget(form.tarifa, { "attr": {"class": "form-control1"} }) }}
        </div>
        <div class="col-sm-2">
            <p class="help-block">   {{ form_errors(form.tarifa) }}</p>
        </div>

    </div>

     <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.encargado,"Responsable" ) }}</div>


        <div class="col-sm-3">
            {{ form_widget(form.encargado, { "attr": {"class": "form-control1 js-example-basic-responsable"} }) }}
        </div>
        <div class="col-sm-2">
            <p class="help-block">   {{ form_errors(form.encargado) }}</p>
        </div>

    </div>

    



    <div class="panel-footer">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {{ form_widget(form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
       
        <a href="{{ path('programaacademico') }}">
            <button type="button" class="btn btn-warning warning_22">Cancelar</button>
        </a>
    </div>
    </div>
    </div>



    {{ form_end(form) }}


     <script type="text/javascript">
         $(document).ready(function() {
             $(".js-example-basic-responsable").select2();
         });
     </script>

    <script type="text/javascript">
    $(function () {
        //solo cuaando hay datepicker
        $('.dtp').datetimepicker({
            format: 'DD/MM/YYYY',
            locale: 'es'
        });
        //--------------------

        //validaciones js
        $('#gedeltur_bundle_programaacademico_inicio').keydown(function(){return false;});//para campos fecha

        
        //--------------------


              $('#gedeltur_bundle_programaacademico_titulo').keydown(letras);
            
        
            $('#gedeltur_bundle_programaacademico_tituloEgresado').keydown(letras);
           $('#gedeltur_bundle_programaacademico_perfilEgresado').keydown(let);
           $('#gedeltur_bundle_programaacademico_objetivos').keydown(let);
           $('#gedeltur_bundle_programaacademico_tiempo').keydown(floats);
           $('#gedeltur_bundle_programaacademico_requisitos').keydown(let);
           $('#gedeltur_bundle_programaacademico_tarifa').keydown(floats);

    })
</script>

       
{% endblock %}
