{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block title %}
  Especialidad 
{% endblock %}

{% block body -%}
   <div class="bs-example4" >



{{ form_start(delete_form) }}
    {{ form_errors(delete_form) }}
<div class="input-group">
        

        <div class="col-sm-8">
    

    <table class="table table-striped table-bordered table-hover dataTable no-footer">
    

   
        <tbody>
           
            <tr>
                <th>Nombre</th>
                <td>{{ entity.titulo }}</td>
            </tr>
            <tr>
                <th>Perfil del Egresado</th>
                <td>{{ entity.perfilEgresado }}</td>
            </tr>
            <tr>
                <th>Título del Egresado</th>
                <td>{{ entity.tituloEgresado }}</td>
            </tr>
            <tr>
                <th>Objetivos</th>
                <td>{{ entity.objetivos }}</td>
            </tr>

            <tr>
                <th>Fecha de Inicio</th>
                <td>{{ entity.inicio|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Tiempo</th>
                <td>{{ entity.tiempo }}</td>
            </tr>
            <tr>
                <th>Requisitos</th>
                <td>{{ entity.requisitos }}</td>
            </tr>
            
            <tr>
                <th>Tarifa</th>
                <td>{{ entity.tarifa }}</td>
            </tr>
        </tbody>
    </table>

       
        <a href="{{ path('programaacademico') }}">
           <button type="button" class="btn btn-warning warning_22">Listar</button>
        </a>
    
        <a href="{{ path('programaacademico_edit', { 'id': entity.id }) }}">
             <button type="button" class="btn btn-primary">Editar</button>
        </a>
    
    
 {{ form_widget(delete_form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
{{ form_end(delete_form) }}
</div>
</div>
</div>
</div>
</div>
{% endblock %}
