{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

 {% block title %}Editar  Evento {% endblock %}

{% block body -%}

 <div class="bs-example4" >
  
{{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    


    <div class="input-group">
         <div class="col-sm-2 control-label">{{ form_label(edit_form.nombre) }}</div>

        <div class="col-sm-8"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.nombre, { "attr": {"class": "form-control1"} }) }}
        </div>
        </div>
        <div style="float: right" class="col-sm-6">

        <p class="help-block">{{ form_errors(edit_form.nombre) }}</p>
        </div>
    </div>

<div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(edit_form.lugar) }}</div>
        <div class="col-sm-8"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
        {{ form_widget(edit_form.lugar, { "attr": {"class": "form-control1"} }) }}
            </div>
            </div>
    <div style="float: right" class="col-sm-6">

    <p class="help-block">{{ form_errors(edit_form.lugar) }}</p>
        </div>

    </div>

    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(edit_form.fecha, 'Fecha de Inicio') }}</div>
        <div class="col-sm-3"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
        {{ form_widget(edit_form.fecha, { "attr": {"class": "form-control1  dtp" } }) }}
            </div>
            </div>


        <div class="col-sm-2 control-label"> {{ form_label(edit_form.fin, 'Fecha de Fin') }}</div>
        <div class="col-sm-3"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.fin, { "attr": {"class": "form-control1  dtp" } }) }}
        </div>
        </div>
        <div style="float: right" class="col-sm-6">

        <p class="help-block">{{ form_errors(edit_form.fecha) }}</p>
        </div>

    </div>

    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(edit_form.convocatoria) }}</div>
        <div class="col-sm-8"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
        {{ form_widget(edit_form.convocatoria, { "attr": {"class": "form-control"} }) }}
            </div>
            </div>
        <div style="float: right" class="col-sm-6">

        <p class="help-block">{{ form_errors(edit_form.convocatoria) }}</p>
        </div>

    </div>



    <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(edit_form.cuotaInscripcion, 'Cuota de Inscripción(CUP)') }}</div>

        <div class="col-sm-3"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.cuotaInscripcion, { "attr": {"class": "form-control1 " } }) }}
        </div>
        </div>

        <div style="float: right" class="col-sm-6">

        <p class="help-block"> {{ form_errors(edit_form.cuotaInscripcion) }}</p>
        </div>
    </div>


    <div class="input-group">
        <div class="col-sm-2 control-label"> {{ form_label(edit_form.fechaResumen, 'Fecha de Envío de Resumen') }}</div>
        <div class="col-sm-3"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.fechaResumen, { "attr": {"class": "form-control1 dtp"} }) }}
        </div>
        </div>
        <div class="col-sm-2 control-label"> {{ form_label(edit_form.fechaAceptacion, 'Fecha de Aceptación') }}</div>


        <div class="col-sm-3"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.fechaAceptacion, { "attr": {"class": "form-control1 dtp" } }) }}
        </div>
        </div>
    </div>




    <div class="input-group">

        <div class="col-sm-2 control-label">{{ form_label(edit_form.encargado,"Organizadores") }}</div>

        <div class="col-sm-3"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.encargado, { "attr": {"class": "form-control1 js-example-basic-multiple"} }) }}
        </div>
        </div>
       <div class="col-sm-2 control-label"> {{ form_label(edit_form.norma) }}</div>


        <div class="col-sm-3"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.norma, { "attr": {"class": "form-control1 js-example-basic-norma"} }) }}
        </div>
        </div>
        <div style="float: right" class="col-sm-6">

        <p class="help-block">   {{ form_errors(edit_form.norma) }}</p>
        </div>

    </div>

     <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(edit_form.taller,"Talleres") }}</div>


        <div class="col-sm-3"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(edit_form.taller, { "attr": {"class": "form-control1 js-example-basic-talleres"} }) }}
        </div>
        </div>

         <div class="col-sm-2 control-label"> {{ form_label(edit_form.curso,"Cursos") }}</div>


         <div class="col-sm-3"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
             {{ form_widget(edit_form.curso, { "attr": {"class": "form-control1 js-example-basic-curso"} }) }}
         </div>
         </div>
         <div style="float: right" class="col-sm-6">

         <p class="help-block">   {{ form_errors(edit_form.taller) }}</p>
        </div>

    </div>







     <div class="input-group">
         <div class="col-sm-2 control-label"> {{ form_label(edit_form.image, 'Logo') }}</div>


         <div class="col-sm-8">
             {{ form_widget(edit_form.image, { "attr": {"id": "exampleInputFile"} }) }}
             <p class="help-block">No debe exceder de los 500 kb.</p>
         </div>
         <div style="float: right" class="col-sm-6">

         <p class="help-block">   {{ form_errors(edit_form.image) }}</p>
         </div>

     </div>




    <div class="panel-footer">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {{ form_widget(edit_form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
       
        <a href="{{ path('evento') }}">
            <button type="button" class="btn btn-warning warning_22">Cancelar</button>
        </a>
    </div>
    </div>
    </div>

     <div class="alert alert-success">
         {% for flashMessage in app.session.flashbag.get('msg') %}
             <div class="msg">
                 {{ flashMessage }}
             </div>
         {% endfor %}
     </div>


     <script type="text/javascript">
         $(document).ready(function() {
             $(".js-example-basic-norma").select2();
         });
     </script>


     <script type="text/javascript">
         $(".js-example-basic-curso").select2();

         var $exampleMulti1 = $(".js-example-basic-curso").select2();
         $(".js-programmatic-multi-clear1").on("click", function () { $exampleMulti1.val(null).trigger("change"); });

     </script>


     <script type="text/javascript">
         $(".js-example-basic-multiple").select2();

         var $exampleMulti = $(".js-example-basic-multiple").select2();
         $(".js-programmatic-multi-clear").on("click", function () { $exampleMulti.val(null).trigger("change"); });
     </script>


     <script type="text/javascript">
         $(".js-example-basic-talleres").select2();

         var $exampleMulti = $(".js-example-basic-talleres").select2();
         $(".js-programmatic-multi-clear").on("click", function () { $exampleMulti.val(null).trigger("change"); });
     </script>
   
    
<script type="text/javascript">
    $(function () {
        //solo cuaando hay datepicker
        $('.dtp').datetimepicker({
            format: 'DD/MM/YYYY',
            locale: 'es'
        });
        //--------------------

        //validaciones js
        $('#gedeltur_bundle_evento_fecha').keydown(function(){return false;});
         $('#gedeltur_bundle_evento_fechaResumen').keydown(function(){return false;});
         $('#gedeltur_bundle_evento_fechaAceptacion').keydown(function(){return false;});//para campos fecha
        $('#gedeltur_bundle_evento_cuotaInscripcion').keydown(floats);
        $('#gedeltur_bundle_evento_nombre').keydown(letras);
         $('#gedeltur_bundle_evento_lugar').keydown(adress);
         $('#gedeltur_bundle_evento_convocatoria').keydown(let);
        //--------------------
    })
</script>


    {{ form_end(edit_form) }}



      
{% endblock %}
