{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

    
     {% block boton %}
    
        <a  href="{{ path('evento_new') }}"><button type="button" class="btn btn-warning warning_22"><span class="glyphicon glyphicon-plus"  id="pencil"></span>   Nuevo</button></a>
         
    
</br>
        </br>
    {% endblock %}

    {% block title %}Eventos{% endblock %}

{% block body -%}


    


     



    

    <div class="table-responsive">
      <table class="table table-hover" id="dataTables-example"><!-- agregar id a la tabla-->
        <thead>
            <tr>
                <th>Logo</th>
                <th style="max-width: 10px">Nombre</th>
                <th style="max-width: 10px">Fecha del Evento</th>
                <th style="max-width: 50px">Norma</th>
                <th style="max-width: 50px">Fecha de Envío de  Resumen</th>
                <th style="max-width: 50px">Fecha de Aceptación</th>
                <th style="min-width:  200px">Convocatoria</th>
                <th style="min-width: 110px">Direccíon </th>

                <th style="min-width: 170px">Cursos </th>

                
                <th>Cuota de Inscripción(CUP)</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><img style="width: 80px; height: 60px" src="{{ asset('uploads/gedeltur/fotos/'~entity.image) }}"></td>
                <td>{{ entity.nombre}} </td>
                <td> Del {{ entity.fecha|date('d/m') }} al {{ entity.fin|date('d/m/Y') }}</td>
                <td>{{ entity.norma}} </td>
                <td>{% if entity.fechaResumen %}{{ entity.fechaResumen|date('d/m/Y ') }}{% endif %}</td>
                <td>{{ entity.fechaAceptacion|date('d/m/Y')  }}</td>
                <td><p style="text-align: justify">{{ entity.convocatoria}}.</p> </td>
                 <td>{{ entity.lugar }}</td>
                

                <td>


                        {% for cur in entity.curso %}
                            {{ cur.nombre}}. </br>
                        {% endfor %}


                </td>
                <td>{{ entity.cuotaInscripcion }}</td>
               

                <td> 

                        <a title="Editar" href="{{ path('evento_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                         </td>


                          <td>
                        <a title="Eliminar" data-toggle="modal" href="#{{ entity.id }}"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
             <div class="modal fade" id="{{ entity.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h2 class="modal-title">Confirmación de Eliminar</h2>
                            </div>
                            <div class="modal-body">
                                <h5 class="modal-title">¿Estás seguro que deseas eliminar el Evento: {{ entity.nombre|striptags|title}}? </h5>
                            </div>
                            <div class="modal-footer">

                                <a  href="{{ path('evento_delete', { 'id': entity.id }) }}"><button type="button" class="btn btn-primary">Sí</button></a>
                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                
           </div>
        {% endfor %}
        </tbody>

    </table>


    <div class="alert alert-success">
        {% for flashMessage in app.session.flashbag.get('msg') %}
            <div class="msg">
                {{ flashMessage }}
                {% endfor %}
            </div>
           
         
            
        <!-- incorporar javascript en los index -->
        <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('#dataTables-example').DataTable({
                    responsive: true
                });
            });
        </script>
        

    {% endblock %}
