{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}
{% block title %}Evento{% endblock %}
{% block body -%}

<div class="bs-example4" >
{{ form_start(delete_form) }}
    {{ form_errors(delete_form) }}
<div class="input-group">
        

        <div class="col-sm-8">
     

    <table class="table table-striped">
   
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Fecha para envio de resumen</th>
                <td>{{ entity.fechaResumen|date('Y-m-d ') }}</td>
            </tr>
            <tr>
                <th>Fecha de aceptación del trabajo</th>
                <td>{{ entity.fechaAceptacion|date('Y-m-d ') }}</td>
            </tr>
            <tr>
                <th>Convocatoria</th>
                <td>{{ entity.convocatoria }}</td>
            </tr>
            <tr>
                <th>Cuota de inscripción</th>
                <td>{{ entity.cuotaInscripcion }}</td>
            </tr>
            <tr>
                <th>Fecha del Evento</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Lugar</th>
                <td>{{ entity.lugar }}</td>
            </tr>
        </tbody>
    </table>

   
        <a href="{{ path('evento') }}">
            <button type="button" class="btn btn-warning warning_22">Listar</button>
        </a>
   
        <a href="{{ path('evento_edit', { 'id': entity.id }) }}">
            <button type="button" class="btn btn-primary">Editar</button>
        </a>
    
     {{ form_widget(delete_form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
      {{ form_end(delete_form) }}

</div>
</div>
</div>

{% endblock %}
