{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}
{% block title %}Nueva Temática{% endblock %}
{% block body -%}
   
<div class="bs-example4" >
    {{ form_start(form) }}
    {{ form_errors(form) }}
    


   



    <div class="input-group">
       <div class="col-sm-2 control-label"> {{ form_label(form.nombre) }}</div>
        <div class="col-sm-8"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
        {{ form_widget(form.nombre, { "attr": {"class": "form-control1"} }) }}
            </div>
            </div>
        <div class="col-sm-2">
            <p class="help-block">{{ form_errors(form.nombre) }}</p>
        </div>

    </div>



    <div class="input-group">
        <div class="col-sm-2 control-label">{{ form_label(form.descrpcion , "Descripción") }}</div>

        <div class="col-sm-8"><div class="input-group">
                                    <span class="input-group-addon">
                                       <span  class="glyphicon glyphicon-asterisk">

                                    </span>
                                    </span>
            {{ form_widget(form.descrpcion, { "attr": {"class": "form-control"} }) }}
        </div>
        </div>

        <div class="col-sm-2">
            <p class="help-block"> {{ form_errors(form.descrpcion) }}</p>
        </div>
    </div>

     


    <div class="panel-footer">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {{ form_widget(form.submit,{ "attr": {"class": "btn btn-primary"} }) }}
       
        <a href="{{ path('tematica') }}">
            <button type="button" class="btn btn-warning warning_22">Cancelar</button>
        </a>
    </div>
    </div>
    </div>
 


        <script type="text/javascript">
         $(function () {
        $('#gedeltur_bundle_tematica_nombre').keydown(letras);
        $('#gedeltur_bundle_tematica_descrpcion').keydown(let);

})
</script>
    {{ form_end(form) }}

       
{% endblock %}
