{% extends 'GEDELTURBundle:Default:menu.html.twig' %}
{% block evento %}

                {% if cant_eventos>0 %}





                <li><a href="#" >Evento</a>

                 <ul class="dropdown">
                 {% for entity in eventos %}

                
                 
               
                  <li><a href="{{ path('eventos', { 'id': entity.id }) }}" >{{ entity.nombre }}</a>
                  </li>
                    {% endfor %}

                </ul>
                </li>
               

                {% endif %}


                  {% endblock %}


 {% block nombre %}
           <h1><strong>Asignaturas  </strong></h1>
 {% endblock %} 


 
        
        
          


                   {% block contenido %}                     
                 
                    
                    
                    
                                     
                        <div class="panel-group" id="accordion">

                           

                            <!-- Start Accordion 2 -->

                              {% for entity in entities %}

                            <div class="panel panel-default">
                                <!-- Toggle Heading -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#{{entity.id}}" class="collapsed">
                                            <i class="fa fa-angle-up control-icon"></i>
                                          Nombre:{{entity.nombre|striptags|title      }} ,      Carrera: {{entity.carrera|striptags|title }}
                                        </a>
                                    </h4>
                                </div>
                                <!-- Toggle Content -->
                                <div id="{{entity.id}}" class="panel-collapse collapse">
                                    <div class="panel-body">


                                        <a  href="{{ path('trabajadores_show', { 'id': entity.plantilla.id.id }) }}"><h6> Docente:<strong> {{entity.plantilla.id.nombre |striptags|title }}  {{entity.plantilla.id.apellidos|striptags|title }}</strong></h6></a>
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Contactos</h3>
                                            </div>
                                            <div class="panel-body">
                                                {% for c in contactos %}

                                                    {%  if c.rrhh == entity.plantilla.id %}
                                                        <h6>Correo: <strong>{{c.correo }}</strong></h6>
                                                        <h6>Facebook: <strong>{{c.facebook }}</strong></h6>
                                                        <h6>Móvil: <strong>{{c.movil }}</strong></h6>

                                                    {% endif %}

                                                {% endfor %}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            
                            
                                {% endfor %}
                            
                            
                            
                            
                            
                            
                            <!-- End Accordion 3 -->

                            <!-- Start Accordion 3 -->

                            <!-- End Accordion 3 -->

                        </div>

                         {% endblock %} 
                    
                    
                    
                    
                    
                    
                    
                    
                    
            
                   
                




 