{% extends 'GEDELTURBundle:Default:superacion.html.twig' %}

 {% block titulo %}
		<h1>Maestrías</h1>

{% endblock %}


{% block especifica %}

<h6>Programa: <strong>{{entity.programa }}</strong></h6>
<h6>Acreditada :{% if entity.acreditada ==0 %}
                <strong>No
                 {% endif %}{% if entity.acreditada ==1 %}
                Si</strong>
                 {% endif %}</h6>

{% endblock %}
 