{% extends 'GEDELTURBundle:Default:rrhh.html.twig' %}

 {% block evento %}

     {% if cant_eventos>0 %}





         <li><a href="#" >Evento</a>

             <ul class="dropdown">
                 {% for entity in eventos %}




                     <li><a href="{{ path('eventos', { 'id': entity.id }) }}" >{{ entity.nombre }}</a>
                     </li>
                 {% endfor %}

             </ul>
         </li>


     {% endif %}


 {% endblock %}

 {% block titulo %}
          <h1> <strong> Colaboradores </strong></h1>
           
{% endblock %}

         
         {% block especifico %}
         
           
              </br>
              <!-- Start Progress Bar 1 -->

              <div class="progress-label">Categoría Docente : {{ entity.catDoc|striptags|title }}    </div>
              


              <!-- Start Progress Bar 2 -->
              
              <div class="progress-label">Categoría Científica: {{ entity.catCien|striptags|title }}</div>
              


              <div class="progress-label">Centro: {{ entity.centro|striptags|title }}</div>
              
              <!-- Start Progress Bar 3 -->

           


 {% endblock %}







             
           

          

       



 