{% extends 'layout.html.twig' %}

{% block evento %}

                {% if cant_eventos>0 %}





                <li><a href="#" >Evento</a>

                 <ul class="dropdown">
                 {% for entity in eventos %}

                
                 
               
                  <li><a href="{{ path('eventos', { 'id': entity.id }) }}" >{{ entity.nombre }}</a>
                  </li>
                    {% endfor %}

                </ul>
                </li>
               

                {% endif %}


                  {% endblock %}

{% block superacion %}


    <div class=" servicio" xmlns="http://www.w3.org/1999/html">
            <div class="main">
                <div class="container">

                    <div class="row">


                        <h2 class="comments-title">({{ contador }}) Comentarios</h2>




                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <a href="{{path('correo_superacion')}}" ><button type="button" style="background: #0B5111 none repeat scroll 0%" class="btn btn-primary">Superación  ({{ superacion }})</button></a>

                        <!-- Indicates a successful or positive action -->
                        <a href="{{path('correo_sct')}}" ><button style="background: rgb(19, 42, 141) none repeat scroll 0% 0%;" type="button" class="btn btn-success">Servicios Científico Técnicos  ({{ servicio }})</button></a>

                        <!-- Contextual button for informational alert messages -->
                            <a href="{{path('correo_inv')}}" > <button type="button" class="btn btn-info">Investigación  ({{ investigacion }})</button></a>

                        <!-- Indicates caution should be taken with this action -->

                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                <a href="{{path('correo_otro')}}" ><button type="button" class="btn btn-danger">Otro  ({{ otro }}) </button></a>



                        <div class="col-md-8">



                            <div id="comments" class="scrollbar">


                                {% for c in correo %}

                            <ol class="comments-list">
                                <li>
                                    <div class="comment-box clearfix">

                                        <div class="avatar"><img src="{{asset('bundles/gedeltur/iconos/pregunta.jpg')}}" alt=""></div>

                                        <div class="comment-content">
                                            <div class="comment-meta">
                                                <span class="comment-by">{{ c.nombre|striptags|title }} {{ c.apellidos|striptags|title }}   </span>
                                                <span class="comment-date">{{ c.fecha|date('d/m/Y') }}</span>
                                                {% if is_granted('ROLE_ADMIN') %}
                                                <span class="reply-link"><a  href="{{ path('correo_edit', { 'id': c.id }) }}">Atender</a></span>

                                                <span class="reply-link"><a  href="{{ path('correo_eliminar', { 'id': c.id }) }}">Eliminar</a></span>

                                                {% endif %}
                                            </div>

                                            <p>Sujeto:<strong>  {{ c.sujeto|striptags|title }}</strong></p>

                                            <p>Mensaje: <strong> {{ c.mensaje|striptags|title }}</strong></p>
                                        </div>
                                    </div>
                                    {% if c.respuesta!="" %}
                                    <ul>
                                        <li>
                                            <div class="comment-box clearfix">
                                                <div class="avatar"><img src="{{asset('bundles/gedeltur/iconos/índice.jpg')}}" alt=""></div>
                                                <div class="comment-content">
                                                    <div class="comment-meta">
                                                        <span class="comment-by">Responde:{{ c.nombreresponde|striptags|title }} {{ c.apellidosresponde|striptags|title }} </span>
                                                        <span class="comment-date"></span>

                                                    </div>
                                                    <p>{{ c.respuesta|striptags|title }}</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    {% endif %}

                                </li>

                            {% endfor %}

                            </ol>
                                </div>



















                            <!-- Classic Heading -->
                            <h4 style="background-color: rgb(255, 255, 255);text-align: justify;" class="classic-title"><span>Contáctenos</span></h4>

                            <!-- Start Contact Form -->


                            {{ form_start(form) }}
                            {{ form_errors(form) }}



                            <div class="contact-form" id="contact-form">



                                <div class="form-group">

                                    <div class="col-sm-2 control-label">{{ form_label(form.tematica) }}</div>

                                    <div class="col-sm-8">
                                        {{ form_widget(form.tematica, { "attr": {"class": "controls","placeholder":"Temática" } }) }}
                                    </div>

                                    <div class="col-sm-2">
                                        <p class="help-block"> {{ form_errors(form.tematica) }}</p>
                                    </div>
                                </div>


                                </br>
                                </br>




                            <div class="form-group">


                                <div class="col-sm-8">
                                    {{ form_widget(form.sujeto, { "attr": {"class": "controls","placeholder":"Sujeto" } }) }}
                                </div>

                                <div class="col-sm-2">
                                    <p class="help-block"> {{ form_errors(form.sujeto) }}</p>
                                </div>
                            </div>



                            <div class="form-group">


                                <div class="col-sm-8">
                                    {{ form_widget(form.mensaje, { "attr": {"class": "controls","placeholder":"Mensaje" } }) }}
                                </div>

                                <div class="col-sm-2">
                                    <p class="help-block"> {{ form_errors(form.mensaje) }}</p>
                                </div>
                            </div>



                                <div class="form-group">
                                    <div class="col-sm-8">

                                            {{ form_widget(form.submit,{ "attr": {"class": "btn btn-info ","float":"left"} }) }}

                                        <a href="{{ path('correo_nuevo') }}">
                                            <button type="button" class="btn btn-success">Cancelar</button>
                                        </a>

                                    </div>
                                </div>



                            </div>

                            {{ form_end(form) }}



                            <!-- End Contact Form -->


                            </div>

                        <div class="col-md-4">

                            <!-- Classic Heading -->
                            <h4 class="classic-title"><span style="color: rgb(251, 251, 251);">Información</span></h4>

                            <!-- Some Info -->
                            <p>Por motivo de seguridad almacenamos su nombre y contacto en cada uno de sus mensajes para garantizar una atención personal y  la integridad de nuestro sitio.</p>

                            <!-- Divider -->
                            <div class="hr1" style="margin-bottom:10px;"></div>

                            <!-- Info - Icons List -->
                            <ul class="icons-list">

                                <li><i class="fa fa-envelope-o"></i> <strong>Correo:</strong> admin@gedeltur.com</li>
                                <li><i class="fa fa-mobile"></i> <strong>Teléfono:</strong> 48781669</li>
                            </ul>

                            <!-- Divider -->
                            <div class="hr1" style="margin-bottom:15px;"></div>

                            <!-- Classic Heading -->


                            <!-- Info - List -->


                        </div>

                    </div>

                </div>
    </div>
            <!-- .container -->
        </div>





{% endblock %}
