{% set pagina = 'curso' %}
{% extends 'layout.html.twig' %}

{% block evento %}

                {% if cant_eventos>0 %}





                <li><a href="#" >Evento</a>

                 <ul class="dropdown">
                 {% for entity in eventos %}

                
                 
               
                  <li><a href="{{ path('eventos', { 'id': entity.id }) }}" >{{ entity.nombre }}</a>
                  </li>
                    {% endfor %}

                </ul>
                </li>
               

                {% endif %}


                  {% endblock %}

 {% block superacion %}


 <div id="superacion" style="padding-bottom: 50px; padding-top: 10px">
        </br>
        </br>
        
        <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
          <h1><strong>Cursos</strong></h1>
        </div>
        
          
                <div class="row sidebar-page">


                    <!-- Page Content -->
                    <div class="col-md-7 page-content">


                        <!-- Divider -->


                        <!-- Accordion -->
                        <div class="panel-group" id="accordion">

                           

                            <!-- Start Accordion 2 -->

                              {% for entity in entities %}

                            <div class="panel panel-default">
                                <!-- Toggle Heading -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#{{entity.id}}" class="collapsed">
                                            <i class="fa fa-angle-up control-icon"></i>
                                         {{entity.nombre }}
                                        </a>
                                    </h4>
                                </div>
                                <!-- Toggle Content -->
                                <div id="{{entity.id}}" class="panel-collapse collapse">
                                    <div class="panel-body">

                                        <a  href="{{ path('trabajadores_show', { 'id': entity.plantilla.id.id}) }}"><h6> <strong>Docente:</strong> {{entity.plantilla.id.nombre|striptags|title }}  {{entity.plantilla.id.apellidos|striptags|title }}</h6></a>
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Objetivos</h3>
                                            </div>
                                            <div class="panel-body">
                                                <p>{{entity.objetivos }}</p>
                                            </div>
                                        </div>

                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Descripción</h3>
                                            </div>
                                            <div class="panel-body">
                                                <p>{{entity.descripcion }}</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            
                            
                                {% endfor %}
                            
                            
                            
                            
                            
                            
                            <!-- End Accordion 3 -->

                            <!-- Start Accordion 3 -->

                            <!-- End Accordion 3 -->

                        </div>
                        <!-- End Accordion -->

                    </div>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    <!-- End Page Content-->


                    <!--Sidebar-->
                    <div class="col-md-3 sidebar right-sidebar" style="float: right">

                        <!--
                        <div class="widget widget-search">
                            <form action="#">
                                <input type="search" placeholder="Enter Keywords..." />
                                <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>

                        <!-- Categories Widget -->

                        <div class="widget widget-categories">

                            <h4> Pregrado <span class="head-line"></span></h4>
                            <ul>
                                <li>
                                    <a href="{{path('asignaturas')}}">Asignaturas</a>
                                </li>

                            </ul>

                            </br>
                            <h4>Postgrado <span class="head-line"></span></h4>
                            <ul>
                                <li>
                                    <a href="{{path('cursos')}}">Cursos</a>
                                </li>
                                <li>
                                    <a href="{{path('diplomados')}}">Diplomados </a>
                                </li>
                                <li>
                                    <a href="{{path('maestrias')}}">Maestrías</a>
                                </li>
                                <li>
                                    <a href="{{path('especialidades')}}">Especialidades</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>


 {% endblock %}

 