{% extends 'GEDELTURBundle:Default:superacion.html.twig' %}

 {% block titulo %}
		<h1>Diplomados</h1>

{% endblock %}


{% block especifica %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Cursos</h3>
        </div>
        <div class="panel-body">
            {% for cur in entity.curso %}


                <a  href="{{ path('cursos_show', { 'id': cur.id }) }}"> <h6> <strong>{{ cur.nombre }}</strong></h6></a>


            {% endfor %}
        </div>
    </div>



{% endblock %}
 