
 {% extends 'GEDELTURBundle:Default:menu.html.twig' %}

 {% block evento %}

     {% if cant_eventos>0 %}





         <li><a href="#" >Evento</a>

             <ul class="dropdown">
                 {% for entity in eventos %}




                     <li><a href="{{ path('eventos', { 'id': entity.id }) }}" >{{ entity.nombre }}</a>
                     </li>
                 {% endfor %}

             </ul>
         </li>


     {% endif %}


 {% endblock %}

 {% block superacion %}





 <div id="superacion" style="padding-bottom: 100px; padding-top: 10px">
        
        <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
          <h1>Especialidades</h1>
        </div>
        
          
                <div class="row sidebar-page">


                    <!-- Page Content -->
                    <div class="col-md-7 page-content">


                        <!-- Divider -->


                        <!-- Accordion -->
                        <div class="panel-group" id="accordion">

                           

                            <!-- Start Accordion 2 -->

                              {% for entity in entities %}

                            <div class="panel panel-default">
                                <!-- Toggle Heading -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#{{entity.id.id}}" class="collapsed">
                                            <i class="fa fa-angle-up control-icon"></i>
                                         {{entity.id.titulo }}
                                        </a>
                                    </h4>
                                </div>
                                <!-- Toggle Content -->
                                <div id="{{entity.id.id}}" class="panel-collapse collapse">
                                    <div class="panel-body">

                                        <h6><span class="glyphicon glyphicon-calendar"></span><strong>Inicia:</strong>{{entity.id.inicio|date('d/m/Y') }}  <strong>Termina:</strong> {{entity.id.fin|date('d/m/Y') }}</h6>

                                        <a  href="{{ path('trabajadores_show', { 'id': entity.id.encargado.id.id }) }}"><h6> Responsable:<strong> {{entity.id.encargado.id.nombre |striptags|title }}  {{entity.id.encargado.id.apellidos|striptags|title }}</strong></h6></a>

                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Título del Egresado</h3>
                                            </div>
                                            <div class="panel-body">
                                                <p> {{entity.id.tituloEgresado }}</p>
                                            </div>
                                        </div>


                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Perfil del Egresado</h3>
                                            </div>
                                            <div class="panel-body">
                                                <p>{{entity.id.perfilEgresado }}</p>
                                            </div>
                                        </div>

                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Objetivos</h3>
                                            </div>
                                            <div class="panel-body">
                                                <p>{{entity.id.objetivos }}</p>
                                            </div>
                                        </div>


                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Requisitos</h3>
                                            </div>
                                            <div class="panel-body">
                                                <p>{{entity.id.requisitos }}</p>
                                            </div>
                                        </div>


                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Cursos</h3>
                                            </div>
                                            <div class="panel-body">
                                                {% for c in entity.curso %}
                                                    <a  href="{{ path('cursos_show', { 'id': c.id }) }}"><h6><strong> {{c.nombre}}  </strong></h6></a>

                                                {% endfor %}
                                            </div>
                                        </div>
                                        </br>


                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Costo(CUP)</h3>
                                            </div>
                                            <div class="panel-body">
                                                {% if entity.id.tarifa !="" %} {{entity.id.tarifa }}
                                                {% else %}-
                                                {% endif %}

                                            </div>
                                        </div>



                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Contactos</h3>
                                            </div>
                                            <div class="panel-body">
                                                {% for c in contactos %}

                                                    {%  if c.rrhh == entity.id.encargado.id %}
                                                        <h6><strong>Contactos</strong></h6>
                                                        <h6>Correo :<strong>{{c.correo }}</strong></h6>
                                                        <h6>Fijo: <strong>{{c.fijo }}</strong></h6>
                                                        <h6>Móvil :<strong>{{c.movil }}</strong></h6>

                                                    {% endif %}

                                                {% endfor %}
                                            </div>
                                        </div>








                                    

                                    </div>
                                </div>
                            </div>
                            
                            
                                {% endfor %}
                            
                            
                            
                            
                            
                            
                            <!-- End Accordion 3 -->

                            <!-- Start Accordion 3 -->

                            <!-- End Accordion 3 -->

                        </div>
                        <!-- End Accordion -->

                    </div>




                    
                    
                    
                    
                    
                    
                    
                    
                    <!-- End Page Content-->


                    <!--Sidebar-->
                    <div class="col-md-3 sidebar right-sidebar" style="float: right">

                        <!--
                        <div class="widget widget-search">
                            <form action="#">
                                <input type="search" placeholder="Enter Keywords..." />
                                <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>

                        <!-- Categories Widget -->

                        <div class="widget widget-categories">

                            <h4> Pregrado <span class="head-line"></span></h4>
                            <ul>
                                <li>
                                    <a href="{{path('asignaturas')}}">Asignaturas</a>
                                </li>

                            </ul>

                            </br>
                            <h4>Postgrado <span class="head-line"></span></h4>
                            <ul>
                                <li>
                                    <a href="{{path('cursos')}}">Cursos</a>
                                </li>
                                <li>
                                    <a href="{{path('diplomados')}}">Diplomados </a>
                                </li>
                                <li>
                                    <a href="{{path('maestrias')}}">Maestrías</a>
                                </li>
                                <li>
                                    <a href="{{path('especialidad')}}">Especialidades</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>


 {% endblock %}

 