         {% extends 'layout.html.twig' %}

         {% block evento %}

                {% if cant_eventos>0 %}


                    <li xmlns="http://www.w3.org/1999/html"><a href="#" >Evento</a>

                 <ul class="dropdown">
                 {% for entity in evento %}

                
                 
               
                  <li><a href="{{ path('eventos', { 'id': entity.id }) }}" >{{ entity.nombre }}</a>
                  </li>
                    {% endfor %}

                </ul>
                </li>
               

                {% endif %}


                  {% endblock %}

 {% block superacion %}
 
 
 
 
    
    


          
        <div class="section service">




             <section id="home">
     
    
    
    
    
    
    <!-- End Home Page Slider -->

     {% for entity in eventos %}

     <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
         <h3 style="color: rgb(48, 170, 211);background-color: transparent" class="classic-title">{{ entity.nombre }}</h3>
     </div>



      <div class="container">


      
      
        <div class="col-md-4">

        <img  style=" width:850px; " class="img-thumbnail image-text" alt="" src="{{ asset('uploads/gedeltur/fotos/'~entity.image) }}">



            </div>
          <div class=" col-sm-4">


              <div class="row pricing-tables">



                  <div class="col-md-12 col-sm-5">
                      <div class="pricing-table highlight-plan">
                          <div class="plan-name">
                              <h4>Detalles</h4>
                          </div>

                          <div class="plan-list">
                              <ul>
                                  <li><h5><strong>Fecha del Evento: </strong> {{ entity.fecha|date('d/m/Y') }}</h5> </li>
                                  <li><h5><strong> Fecha tope para el envio del Resumen: </strong>{{ entity.fechaResumen|date('d/m/Y ') }}</h5> </li>
                                  <li> <h5><strong> Lugar: </strong>{{ entity.lugar }}</h5> </li>
                                  <li><h5><strong> Cuota de Inscripción(CUP): <strong>{{ entity.cuotaInscripcion }}</h5> </li>

                              </ul>
                          </div>

                      </div>
                  </div>








              </div>












            </div>

          <div class="row pricing-tables">
            <div class="col-md-3 col-sm-5">
              <div class="pricing-table highlight-plan">
                  <div class="plan-name">
                      <h4>Organizadores</h4>
                  </div>



                  <div class="plan-list">
                      <ul>
                          {% for enc in entity.encargado %}
     <li><strong>{{ enc.id.nombre }}  {{ enc.id.apellidos }}</strong></li>
 {% endfor %}
                      </ul>
                  </div>

              </div>
          </div>
          </div>

          <div class="col-md-9 ">
          <h3 class="classic-title"  style="text-align: center"><span style="color: rgb(255, 255, 255);">Convocatoria</span></h3>

              <!-- Some Text -->
              <p> {{ entity.convocatoria|striptags|title }} </p>

</div>











     <div class="col-md-6">

         </br>
         </br>
         <h3 class="classic-title"><span style="color: rgb(255, 255, 255);">Norma</span></h3>

         <!-- Accordion -->
         <div class="panel-group" id="accordion">

             <!-- Start Accordion 1 -->




                 <div class="panel panel-default">
                     <!-- Toggle Heading -->
                     <div class="panel-heading">
                         <h4 class="panel-title">
                             <a class="collapsed" aria-expanded="false" data-toggle="collapse" data-parent="#accordion" href="#-1">
                                 <i class="fa fa-angle-up control-icon"></i>
                                 {{ entity.norma.nombre|striptags|title }}
                             </a>
                         </h4>
                     </div>
                     <!-- Toggle Content -->
                     <div style="height: 0px;" aria-expanded="false" id="-1" class="panel-collapse collapse">
                         <div class="panel-body">

                             <h6><strong>Nombre:</strong > {{ entity.norma.nombre|striptags|title }}</h6>



                             <div class="panel panel-primary">
                                 <div  style="background-color: #29A865;" class="panel-heading">
                                     <h3 class="panel-title">Idiomas</h3>
                                 </div>
                                 <div class="panel-body">

                                     {% for idi in entity.norma.idioma %}
                                         {{ idi.nombre|striptags|title }}. </br>

                                        {% endfor %}



                                 </div>
                             </div>

                             <div class="panel panel-primary">
                                 <div  style="background-color: #29A865;" class="panel-heading">
                                     <h3 class="panel-title">Pautas</h3>
                                 </div>
                                 <div class="panel-body">
                                     <p>{{ entity.norma.pautas|striptags|title }}</p>
                                 </div>
                             </div>


                             <div class="panel panel-primary">
                                 <div style="background-color: #29A865;" class="panel-heading">
                                     <h3 class="panel-title">Estructura del Trabajo</h3>
                                 </div>
                                 <div class="panel-body">
                                     <p>{{ entity.norma.estructuraTrabajo|striptags|title }}</p>
                                 </div>
                             </div>


                         </div>
                     </div>
                 </div>

             <!-- End Accordion 1 -->

             <!-- Start Accordion 2 -->

             <!-- End Accordion 2 -->

             <!-- Start Accordion 3 -->

             <!-- End Accordion 3 -->

         </div>



















     </div>







     <div class="col-md-6">



         </br>
         </br>

         {% if cant>0 %}

         <!-- Classic Heading -->
         <h3 class="classic-title"><span style="color: rgb(255, 255, 255);">Cursos</span></h3>

         <!-- Accordion -->
         <div class="panel-group" id="accordion">

             <!-- Start Accordion 1 -->


            {% for cur in entity.curso %}

                 <div class="panel panel-default">
                     <!-- Toggle Heading -->
                     <div  class="panel-heading">
                         <h4 class="panel-title">
                             <a class="collapsed" aria-expanded="false" data-toggle="collapse" data-parent="#accordion" href="#curs{{ cur.id }}">
                                 <i class="fa fa-angle-up control-icon"></i>
                                 {{ cur.nombre|striptags|title }}
                             </a>
                         </h4>
                     </div>
                     <!-- Toggle Content -->
                     <div style="height: 0px;" aria-expanded="false" id="curs{{ cur.id }}" class="panel-collapse collapse">
                         <div class="panel-body">

                             <div class="panel panel-primary">
                                 <div style="background-color: #29A865;" class="panel-heading">
                                     <h3 class="panel-title">Descripción</h3>
                                 </div>
                                 <div class="panel-body">
                                     <p> {{ cur.descripcion|striptags|title }} </p>
                                 </div>
                             </div>


                         </div>
                     </div>
                 </div>

             {% endfor %}

             {% endif %}
             <!-- End Accordion 1 -->

             <!-- Start Accordion 2 -->

             <!-- End Accordion 2 -->

             <!-- Start Accordion 3 -->

             <!-- End Accordion 3 -->

         </div>











</div>


          <div class="col-md-6">
   </br>
              </br>

              <h3 class="classic-title"><span style="color: rgb(255, 255, 255);">Temáticas</span></h3>

              <!-- Accordion -->
              <div class="panel-group" id="accordion">

                  <!-- Start Accordion 1 -->


                  {% for tem in res %}

                      <div class="panel panel-default">
                          <!-- Toggle Heading -->
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a class="collapsed" aria-expanded="false" data-toggle="collapse" data-parent="#accordion" href="#tema{{ tem.nombre }}">
                                      <i class="fa fa-angle-up control-icon"></i>
                                      {{ tem.nombre|striptags|title }}
                                  </a>
                              </h4>
                          </div>
                          <!-- Toggle Content -->
                          <div style="height: 0px;" aria-expanded="false" id="tema{{ tem.nombre }}" class="panel-collapse collapse">
                              <div class="panel-body">

                                  <div class="panel panel-primary">
                                      <div  style="background-color: #29A865;" class="panel-heading">
                                          <h3 class="panel-title">Descripción</h3>
                                      </div>
                                      <div class="panel-body">
                                          <p> {{ tem.descrpcion|striptags|title }} </p>
                                      </div>
                                  </div>


                              </div>
                          </div>
                      </div>

                  {% endfor %}
                  <!-- End Accordion 1 -->

                  <!-- Start Accordion 2 -->

                  <!-- End Accordion 2 -->

                  <!-- Start Accordion 3 -->

                  <!-- End Accordion 3 -->

              </div>




























</div>


          <div class="col-md-6">
              </br>
              </br>



              <!-- Classic Heading -->
              <h3 class="classic-title"><span style="color: rgb(255, 255, 255);">Talleres</span></h3>

              <!-- Accordion -->
              <div class="panel-group" id="accordion">

                  <!-- Start Accordion 1 -->


                  {% for tall in entity.taller %}

                      <div class="panel panel-default">
                          <!-- Toggle Heading -->
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a class="collapsed" aria-expanded="false" data-toggle="collapse" data-parent="#accordion" href="#taller{{ tall.id }}">
                                      <i class="fa fa-angle-up control-icon"></i>
                                      {{ tall.nombre|striptags|title }}
                                  </a>
                              </h4>
                          </div>
                          <!-- Toggle Content -->
                          <div style="height: 0px;" aria-expanded="false" id="taller{{ tall.id }}" class="panel-collapse collapse">
                              <div class="panel-body">


                                  <a  href="{{ path('trabajadores_show', { 'id': tall.encargado.id.id}) }}"><h6> <strong>Responsable:</strong> {{tall.encargado.id.nombre|striptags|title }}  {{tall.encargado.id.apellidos|striptags|title }}</h6></a>

                                  <div class="panel panel-primary">
                                      <div  style="background-color: #29A865;" class="panel-heading">
                                          <h3 class="panel-title">Descripción</h3>
                                      </div>
                                      <div class="panel-body">
                                          <p>{{ tall.descripcion|striptags|title }}</p>
                                      </div>
                                  </div>


                                  <div class="panel panel-primary">
                                      <div style="background-color: #29A865;" class="panel-heading">
                                          <h3 class="panel-title">Temáticas</h3>
                                      </div>
                                      <div class="panel-body">
                                        {% for tem in tall.tematica %}
                                            <p>{{ tem.nombre|striptags|title }}.</p>
                                        {% endfor %}
                                      </div>
                                  </div>




                              </div>
                          </div>
                      </div>

                  {% endfor %}
                  <!-- End Accordion 1 -->

                  <!-- Start Accordion 2 -->

                  <!-- End Accordion 2 -->

                  <!-- Start Accordion 3 -->

                  <!-- End Accordion 3 -->

              </div>
          </div>


      </div>


     </section>







            <!-- .container -->




        
         {% endfor %}
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    
     
     
     
     
     
    

 
 
  {% endblock %}