{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

      

 {% block title %}Bienvenidos a GEDELTUR

 {% endblock %}

{% block body %}





















		  <div class="but_list">
       <div class="alert alert-success" role="alert">
       
       <h1>GEDELTUR</h1>
        <p>El Centro de Estudios de Gerencia, Desarrollo Local y Turismo (GEDELTUR) adscrito a la Facultad de Ciencias Económicas y Empresariales de la Universidad de Pinar del Río, surgió en el año 2003 .Participa activamente en redes internacionales .Se dirigen como promedio unos 15 proyectos de investigación e innovación de carácter nacional, institucional y empresarial.
                        </p>
       </div>
       
      </div>
      

       <div class="but_list">
       <div class="alert alert-success" role="alert">
       <h1>Misión</h1>
        <p>  Contribuir a la eficacia y eficiencia en la gestión empresarial y la administración pública, particularizando en el turismo, mediante la coordinación de las tareas relativas a las Funciones Estatales de “Dirección y control de la preparación y superación de dirigentes” e “Introducción de técnicas avanzadas de dirección” y la realización de actividades directas de capacitación, consultorías e investigaciones en las Ciencias Administrativas y en todas las esferas que contribuyan al desarrollo local, bajo los principios de la sustentabilidad con énfasis en el  Turismo. </p>
       </div>
       
      </div>

       <div class="but_list">
       <div class="alert alert-success" role="alert">
       <h1>De Interés</h1>
       <p>Posee una plantilla de 15 profesores de los cuales el 67% son doctores, el 20% Master y el 80% posee categoría docente superior de Titular o Auxiliar.
                            Brinda servicios científico – técnicos en cantidad (62%) y en financiamiento (68%) captado por este concepto. Participa activamente en redes internacionales tales como: 1) Unión Iberoamericana de Municipalitas; 2) Red de Desarrollo Sostenible y Medio Ambiente; 3) Red Latino Americana y del Caribe de Monitoreo y Evaluación de Políticas Públicas;etc</p>
       </div>
       
     
     
{% endblock %}