{% extends 'GEDELTURBundle:Default:menu.html.twig' %}

{% block evento %}

    {% if cant_eventos>0 %}





        <li><a href="#" >Evento</a>

            <ul class="dropdown">
                {% for entity in eventos %}




                    <li><a href="{{ path('eventos', { 'id': entity.id }) }}" >{{ entity.nombre }}</a>
                    </li>
                {% endfor %}

            </ul>
        </li>


    {% endif %}


{% endblock %}






 {% block superacion %}





     <div id="superacion" style="padding-bottom: 100px; padding-top: 10px">

         <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
             <h1>Líneas de Investigación</h1>
         </div>


         <div class="row sidebar-page">


             <!-- Page Content -->
             <div class="col-md-7 page-content">


                 <!-- Divider -->


                 <!-- Accordion -->
                 <div class="panel-group" id="accordion">



                     <!-- Start Accordion 2 -->

                     {% for li in lineas %}

                         <div class="panel panel-default">
                             <!-- Toggle Heading -->
                             <div class="panel-heading">
                                 <h4 class="panel-title">
                                     <a data-toggle="collapse" data-parent="#accordion" href="#{{li.id}}" class="collapsed">
                                         <i class="fa fa-angle-up control-icon"></i>
                                         {{li.titulo }}
                                     </a>
                                 </h4>
                             </div>
                             <!-- Toggle Content -->
                             <div id="{{li.id}}" class="panel-collapse collapse">
                                 <div class="panel-body">


                                     <div class="panel panel-primary">
                                         <div class="panel-heading">
                                             <h3 class="panel-title">Objetivos</h3>
                                         </div>
                                         <div class="panel-body">
                                             <p>{{ li.objetivo }}</p>
                                         </div>
                                     </div>

                                     <div class="panel panel-primary">
                                         <div class="panel-heading">
                                             <h3 class="panel-title">Impacto</h3>
                                         </div>
                                         <div class="panel-body">
                                             <p>{{li.impacto }}</p>
                                         </div>
                                     </div>

                                     <div class="panel panel-primary">
                                         <div class="panel-heading">
                                             <h3 class="panel-title">Resumen</h3>
                                         </div>
                                         <div class="panel-body">
                                             <p>{{li.resumen }}</p>
                                         </div>
                                     </div>

                                     <div class="panel panel-primary">
                                         <div class="panel-heading">
                                             <h3 class="panel-title">Proyectos Asociados</h3>
                                         </div>
                                         <div class="panel-body">

                                             {% for p in li.proyecto %}


                                                 <a  href="{{ path('proyectos_show', { 'id': p.id}) }}">  <h5><strong>{{ p.titulo|striptags|title }}  </strong> </h5></a>


                                             {% endfor %}
                                         </div>
                                     </div>

                                    <!-- <div class="panel panel-primary">
                                         <div class="panel-heading">
                                             <h3 class="panel-title">Integrantes</h3>
                                         </div>
                                         <div class="panel-body">

                                             {% for p in li.proyecto %}
                    {% for trabajadores in p.rrhh %}





                                                 <a  href="{{ path('trabajadores_show', { 'id': trabajadores.id }) }}"><h6> <strong> {{trabajadores.nombre |striptags|title }}  {{trabajadores.apellidos|striptags|title }}</strong></h6></a>



                     {% endfor %}
                    {% endfor %}





                                         </div>-->
                                     </div>








                                 </div>
                             </div>
                         </div>


                     {% endfor %}






                     <!-- End Accordion 3 -->

                     <!-- Start Accordion 3 -->

                     <!-- End Accordion 3 -->

                 </div>
                 <!-- End Accordion -->

             </div>













             <!-- End Page Content-->


             <!--Sidebar-->
             <div class="col-md-3 sidebar right-sidebar" style="float: right">

                 <!-- Search Widget
                 <div class="widget widget-search">
                     <form action="#">
                         <input type="search" placeholder="Enter Keywords..." />
                         <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                     </form>
                 </div>

                 <!-- Categories Widget -->


                 <div class="widget widget-categories">
                     <h4>Investigacón,Desarrollo e Innovación <span class="head-line"></span></h4>
                     <ul>
                         <li>
                             <a href={{ path('pro')}} >Proyectos</a>
                         </li>
                         <li>
                             <a href="{{ path('li') }}">Líneas de Investigación</a>
                         </li>



                     </ul>
                 </div>

                 <!-- Popular Posts widget -->

                 <!--End sidebar-->


             </div>
         </div>
     </div>


 {% endblock %}

















































 



 