<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Auntentificación</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bundles/vocacional/bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ asset('bundles/vocacional/bower_components/metisMenu/dist/metisMenu.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('bundles/vocacional/dist/css/sb-admin-2.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset('bundles/vocacional/bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div  style="background-color: #26A6D1;" class="panel-heading">
                    <h3 style="color: #fff;" class="panel-title">GEDELTUR</h3>
                </div>
                <div class="panel-body">
                    <form action="{{ path('login_check') }}" method="post">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Usuario" name="_username" type="TEXT" autofocus for="username" value="{{ last_username }}">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Contraseña" name="_password" type="password" value="">

                               

                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="_remember_me" type="checkbox" value="Remember Me">Recordar
                                </label>

                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button class="btn btn-lg btn-success btn-block" type="submit">Aceptar</button>

                        </fieldset>
                    </form>

                    {% if error %}
                   <div  style="text-align: center;color: #ff0000" class="error">Usuario o Contraseña Incorrectos{#{ error.message }#}</div>

                        {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="{{ asset('bundles/vocacional/bower_components/jquery/dist/jquery.min.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('bundles/vocacional/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{{ asset('bundles/vocacional/bower_components/metisMenu/dist/metisMenu.min.js') }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ asset('bundles/vocacional/dist/js/sb-admin-2.js') }}"></script>

</body>

</html>
