{% extends 'GEDELTURBundle:Default:superacion.html.twig' %}

 {% block titulo %}
		<h1>Maestrías</h1>

{% endblock %}


{% block especifica %}


<div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Diplomados</h3>
        </div>
        <div class="panel-body">

            {% for d in entity.diplomado %}

    <a  href="{{ path('diplomados_show', { 'id':d.id.id}) }}"> <h5><strong>{{d.id.titulo }}</strong> </h5></a>


            {% endfor %}
        </div>
    </div>
    </br>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Programa</h3>
        </div>
        <div class="panel-body">
            <p>{{entity.programa }}</p>
        </div>
    </div>
    </br>





   <!-- <div class="alert alert-info">

        <h6><strong></strong>{% if entity.acreditada ==0 %}
            <strong> No Acreditada!</strong>
            {% endif %}{% if entity.acreditada ==1 %}
                <strong>Acreditada!</strong>
            {% endif %}</h6>

    </div>-->



{% endblock %}
 