{% set pagina = 'curso' %}
{% extends 'layout.html.twig' %}



 {% block superacion %}


 

<div id="superacion" style="padding-bottom: 100px; padding-top: 10px">
       
        <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">


         {% block nombre %}
           <h1><strong>Asignaturas  </strong></h1>

          {% endblock %} 


        </div>
        
          

        <div class="row sidebar-page">


                    <!-- Page Content -->

                    <div class="col-md-7 page-content">


                     {% block contenido %}                     

                    
                    
                    
                    
                      {% endblock %}
                    
                    </div>
                    
                    
                    
                    
                    
                    
                    
                   


                    <!--Sidebar-->
                    <div class="col-md-3 sidebar right-sidebar" style="float: right">

                        <!--
                        <div class="widget widget-search">
                            <form action="#">
                                <input type="search" placeholder="Enter Keywords..." />
                                <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>

                        <!-- Categories Widget -->

                        <div class="widget widget-categories">

                        <h4> Pregrado <span class="head-line"></span></h4>
                            <ul>
                                <li>
                                    <a href="{{path('asignaturas')}}">Asignaturas</a>
                                </li>
                                
                            </ul>

                            </br>
                            <h4>Postgrado <span class="head-line"></span></h4>
                            <ul>
                                <li>
                                    <a href="{{path('cursos')}}">Cursos</a>
                                </li>
                                <li>
                                    <a href="{{path('diplomados')}}">Diplomados </a>
                                </li>
                                <li>
                                    <a href="{{path('maestrias')}}">Maestrías</a>
                                </li>
                                <li>
                                    <a href="{{path('especialidad')}}">Especialidades</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                        


                   
        </div>
</div>
              


 {% endblock %}

 