{% extends 'base.html.twig' %}


 

  


 




 {% block user %}
 {% if is_granted('IS_AUTHENTICATED_FULLY') %} 
 
 Bienvenido: {{ app.user.getNombre()|striptags|title  }}  {{ app.user.getApellido()|striptags|title  }}
 
 {% endif %}

 {% endblock %}

 {% block usuario %}

<!--<li><a  href="{{ path('usuarios_edit', { 'id': app.user.getId()}) }}"><i class="fa fa-wrench"></i>    Editar</a>
                        </li>-->

 {% endblock %}