{% extends 'layout.html.twig' %}
{% block evento %}

                {% if cant_eventos>0 %}





                <li><a href="#" >Evento</a>

                 <ul class="dropdown">
                 {% for entity in eventos %}

                
                 
               
                  <li><a href="{{ path('eventos', { 'id': entity.id }) }}" >{{ entity.nombre }}</a>
                  </li>
                    {% endfor %}

                </ul>
                </li>
               

                {% endif %}


                  {% endblock %}

{% block superacion %}



<div class="section service">
            <div class="main">
      <div class="container">

      {% for mensaje in app.session.flashbag.get('info') %}
            <p class="info">{{ mensaje }}</p>
        {% endfor %}
        
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN SIDEBAR -->
          
          <!-- END SIDEBAR -->

          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12">
            <h1>Crear una cuenta</h1>
            <div class="content-form-page">
              <div class="row">
                <div class="col-md-7 col-sm-7">

                  <form class="form-horizontal" role="form">
                    <fieldset>
                      <legend>Detalles personales</legend>
                      <div class="form-group">
                        <label for="firstname" class="col-lg-4 control-label">Nombre <span class="require">*</span></label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" id="firstname">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="lastname" class="col-lg-4 control-label">Apellido <span class="require">*</span></label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" id="lastname">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="email" class="col-lg-4 control-label">Email <span class="require">*</span></label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" id="email">
                        </div>
                      </div>
                    </fieldset>
                    <fieldset>
                      <legend>Tu contraseña</legend>
                      <div class="form-group">
                        <label for="password" class="col-lg-4 control-label">Contraseña <span class="require">*</span></label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" id="password">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="confirm-password" class="col-lg-4 control-label">Confirmar Contraseña <span class="require">*</span></label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" id="confirm-password">
                        </div>
                      </div>
                    </fieldset>
                    
                    <div class="row">
                      <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20">                        
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-default">Cancelar</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-md-4 col-sm-4 pull-right">
                  <div class="form-info">
                    <h2><em>Important</em> Information</h2>
                    <p>Lorem ipsum dolor ut sit ame dolore  adipiscing elit, sed sit nonumy nibh sed euismod ut laoreet dolore magna aliquarm erat sit volutpat. Nostrud exerci tation ullamcorper suscipit lobortis nisl aliquip  commodo quat.</p>

                    <p>Duis autem vel eum iriure at dolor vulputate velit esse vel molestie at dolore.</p>

                    <button type="button" class="btn btn-default">More details</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>
            <!-- .container -->
        </div>
		
		
		
		
		
{% endblock %}
