{% extends 'layout.html.twig' %}

{% block evento %}

                {% if cant_eventos>0 %}





                <li><a href="#" >Evento</a>

                 <ul class="dropdown">
                 {% for entity in eventos %}

                
                 
               
                  <li><a href="{{ path('eventos', { 'id': entity.id }) }}" >{{ entity.nombre }}</a>
                  </li>
                    {% endfor %}

                </ul>
                </li>
               

                {% endif %}


                  {% endblock %}

 {% block superacion %}


 <div id="trabajadores">
    <div class="section" style="background:#fff;">
      <div class="container">

        <!-- Start Big Heading -->
        <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">

           <h1>{{ rrhh.nombre|striptags|title }}  {{ rrhh.apellidos|striptags|title  }}</h1>

           <img style="width: 250px; height: 200px " src="{{ asset('uploads/gedeltur/fotos/'~rrhh.image) }}">

           

        </div>
        <!-- End Big Heading -->

        <!-- Some Text -->
        

       <div class="row">
        <!-- Start Team Members -->
        

          <!-- Start Memebr 1 -->
 
           <div class="bs-example">
           <div class="table-responsive">
      <table   class="table table-hover" id="dataTables-example">
        <thead>
          <tr>

              <th>Contactos</th>
            <th>Asignaturas</th>
            <th>Programas Académicos</th>
            <th>Líneas de Investigación</th>
            <th>Proyectos</th>
          </tr>
        </thead>
        <tbody>
          <tr>



              <td>
                  {%  if con >0 %}

                      <h5>Correo: <strong>{{contactos.correo}}</strong></h5>
                      <h5>Celular: <strong>{{contactos.movil}}</strong></h5>
                      <h5>Facebook: <strong>{{contactos.facebook}}</strong></h5>
                      <h5>Twiter: <strong>{{contactos.twiter}}</strong></h5>
                  {% endif %}

              </td>


          
            
           
            

            <td>{% for a in asignaturas %}

              <a  href="{{ path('asignaturas_show', { 'id': a.id}) }}"> <h5><strong>{{ a.nombre|striptags|title }}      Carrera: {{ a.carrera|striptags|title }}</strong> </h5></a>


                 

                {% endfor %}
            </td>

            <td>
            {% for c in aca %}


            

                  <a style="padding-top: 28px; padding-bottom: 28px;"  href="{{ path('diplomados_show', { 'id': c.id}) }}"> <h5><strong>{{ c.titulo|striptags|title }}</strong> </h5>
                  </a>

                {% endfor %}
            </td>

             <td>



            {% for l in li %}

                {% for p in l.proyecto %}

                    {% for r in p.rrhh %}

                 {%  if r.id == rrhh.id %}

                 <a  href="{{ path('li_show', { 'id': l.id}) }}">  <h5><strong>{{ l.titulo|striptags|title }}</strong> </h5></a>

                 {% endif %}

                {% endfor %}
                {% endfor %}


                {% endfor %}
            </td>

            <td>

            {% for p in pro %}


                {% for r in p.rrhh %}

                {%  if r.id == rrhh.id %}

                <a  href="{{ path('proyectos_show', { 'id': p.id}) }}">  <h5><strong>{{ p.titulo|striptags|title }}  </strong> </h5></a>
                {% endif %}

                {% endfor %}

                {% endfor %}
            </td>

          </tr>
          
        </tbody>
</table>

    </div>
    </div>
          <!-- End Memebr 1 -->

          

        </div>
        <!-- End Team Members -->

      </div>
      <!-- .container -->
    </div>
    
    </div>




 {% endblock %}

 