{% extends 'layout.html.twig' %}


 {% block superacion %}


     <div id="trabajadores" xmlns="http://www.w3.org/1999/html">
    <div class="section" style="background:#fff;">
      <div class="container">

        <!-- Start Big Heading -->
        <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">

           {% block titulo %}
         
           
            {% endblock %}

        </div>
        <!-- End Big Heading -->

        <!-- Some Text -->


       <div class="row">
        <!-- Start Team Members -->
        

          <!-- Start Memebr 1 -->

           {% for entity in entities %}



             <div class="col-md-3 col-sm-6 col-xs-12" data-animation="fadeIn" data-animation-delay="03" style="padding-bottom: 100px;">
               <div class="team-member modern">


              <!-- Memebr Photo, Name & Position -->
              <div class="member-photo">
                <img style="width: 250px; height: 200px " alt="" src="{{ asset('uploads/gedeltur/fotos/'~entity.id.image) }}" />
                <div class="member-name">{{ entity.id.nombre|striptags|title }} <span>{{ entity.id.apellidos|striptags|title }}</span>
                </div>
              </div>

                     


               {% block especifico %}
         
           
              {% endblock %}
              <!-- Start Progress Bar 3 -->


              {% block asignaturas %}

               {% endblock %}




        <a class="btn btn-default"  href="{{ path('trabajadores_show', { 'id': entity.id.id }) }}">Ver detalles »</a>


                 </div>
          </div>



            {% endfor %}
          <!-- End Memebr 1 -->

          

        </div>
        <!-- End Team Members -->

      </div>
      <!-- .container -->
    </div>
    
    </div>


 {% endblock %}

 