{% extends 'GEDELTURBundle:Default:menu.html.twig' %}


{% block evento %}

    {% if cant_eventos>0 %}





        <li><a href="#" >Evento</a>

            <ul class="dropdown">
                {% for entity in eventos %}




                    <li><a href="{{ path('eventos', { 'id': entity.id }) }}" >{{ entity.nombre }}</a>
                    </li>
                {% endfor %}

            </ul>
        </li>


    {% endif %}


{% endblock %}

 {% block superacion %}





 <div id="superacion" style="padding-bottom: 100px; padding-top: 10px">
       
        <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
          <h1>Servicios Científico Técnicos</h1>
        </div>
        
          
                <div class="row sidebar-page">


                    <!-- Page Content -->
                    <div class="col-md-7 page-content">


                        <!-- Divider -->


                        <!-- Accordion -->
                        <div class="panel-group" id="accordion">

                           

                            <!-- Start Accordion 2 -->

            {% for entity in entities %}

                            <div class="panel panel-default">
                                <!-- Toggle Heading -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#{{entity.id}}" class="collapsed">
                                            <i class="fa fa-angle-up control-icon"></i>
                                           {{entity.nombre }} ,  Tipo:{{entity.tipo|striptags|title }}
                                        </a>
                                    </h4>
                                </div>
                                <!-- Toggle Content -->
                                <div id="{{entity.id}}" class="panel-collapse collapse">
                                    <div class="panel-body">


                                        <a  href="{{ path('trabajadores_show', { 'id': entity.rrhh.id.id}) }}"><h6> <strong>Responsable:</strong> {{entity.rrhh.id.nombre|striptags|title }}  {{entity.rrhh.id.apellidos|striptags|title }}</h6></a>


                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Descripción</h3>
                                            </div>
                                            <div class="panel-body">
                                                <p>{{entity.descripcion }}</p>
                                            </div>
                                        </div>

                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Temáticas</h3>
                                            </div>
                                            <div class="panel-body">
                                                {% for tema in entity.tematica %}



                                                    <h6><strong>{{tema.nombre }}.</strong></h6>

                                                    <div class="panel panel-info">
                                                        <div class="panel-heading">
                                                            <h3 class="panel-title">Integrantes</h3>
                                                        </div>
                                                        <div class="panel-body">
                                                            {% for p in tema.plantilla %}

                                                                <h6><strong>{{p.id.nombre|striptags|title }} {{p.id.apellidos|striptags|title }}.</strong></h6>
                                                            {% endfor %}
                                                        </div>
                                                    </div></br>



                                                {% endfor %}
                                            </div>
                                        </div>



                                        {%  if entity.tipo == "capacitación" %}

                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Contenido</h3>
                                                </div>
                                                <div class="panel-body">
                                                    {% for con in contenidos %}

                                                        {%  if con.id.id == entity.id %}


                                                             <p>{{con.contenido }}</p>

                                                        {% endif %}

                                                    {% endfor %}
                                                </div>
                                            </div>



                                        {% endif %}


                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Contactos</h3>
                                            </div>
                                            <div class="panel-body">
                                                {% for c in contactos %}


                                                    {%  if c.rrhh.id == entity.rrhh.id.id %}

                                                        <h5><strong>Contactos</strong></h5>
                                                        <h6><strong>Correo :</strong>{{c.correo }}</h6>
                                                        <h6><strong>Facebook:</strong> {{c.facebook }}</h6>
                                                        <h6><strong>Móvil :</strong>{{c.movil }}</h6>


                                                    {% endif %}


                                                {% endfor %}
                                            </div>
                                        </div>


                                         
                                    </div>
                                </div>
                            </div>
                            
                            
             {% endfor %}
                            
                            
                            
                            
                            
                            
                            <!-- End Accordion 3 -->

                            <!-- Start Accordion 3 -->

                            <!-- End Accordion 3 -->

                        </div>
                        <!-- End Accordion -->

                    </div>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    <!-- End Page Content-->


                    <!--Sidebar-->
                    <div class="col-md-3 sidebar right-sidebar" style="float: right">

                        <!-- Search Widget
                        <div class="widget widget-search">
                            <form action="#">
                                <input type="search" placeholder="Enter Keywords..." />
                                <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>

                        <!-- Categories Widget -->
                        

                            <div class="widget widget-categories">
                            <h4>Servicios Científico Técnicos <span class="head-line"></span></h4>
                            <ul>
                            <li>
                                    <a href={{ path('sct_filtro', { 'tipo':'capacitacion'}) }} >Capacitaciones</a>
                                </li>
                                <li>
                                    <a href="{{ path('sct_filtro', { 'tipo':'consultoría'}) }}">Consultorías</a>
                                </li>
                                <li>
                                    <a href="{{ path('sct_filtro', { 'tipo':'asesoría'}) }}">Asesorías </a>
                                </li>


                            </ul>
                        </div>
                       
                        <!-- Popular Posts widget -->

                        <!--End sidebar-->


                    </div>
                </div>
            </div>


 {% endblock %}

 



 