{% extends 'GEDELTURBundle:Default:menu.html.twig' %}


{% block evento %}

    {% if cant_eventos>0 %}





        <li><a href="#" >Evento</a>

            <ul class="dropdown">
                {% for entity in eventos %}




                    <li><a href="{{ path('eventos', { 'id': entity.id }) }}" >{{ entity.nombre }}</a>
                    </li>
                {% endfor %}

            </ul>
        </li>


    {% endif %}


{% endblock %}

 {% block superacion %}





 <div id="superacion" style="padding-bottom: 100px; padding-top: 10px">
       
        <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
          <h1>GEDELTUR</h1>
        </div>

     <div class="col-md-7 page-content">

         <!-- Classic Heading -->
         <h4 style="text-align:left;background-color: transparent" class="classic-title"><span > GEDELTUR.</span></h4>

         <!-- Some Text -->
         <p> Esta es una aplicación web  para la gestión y promoción de la información de los procesos del Centro de Estudios de Gerencia, Desarrollo Local y Turismo (GEDELTUR).</p>

         <div class="alert alert-info">
             <h5><strong>Diseñador:</strong>Wilfredo Lugo Caraballo</h5>

         </div>

         <div class="alert alert-info">
             <h5><strong>Programador:</strong>Wilfredo Lugo Caraballo</h5>

         </div>




         <h5><strong> Departamento de Informática, Universidad de Pinar del Río,Cuba.2016</strong></h5>

         <!-- Divider -->
         <div class="hr5" style="margin-top:30px; margin-bottom:45px;"></div>

         <!-- Accordion -->

         <!-- End Accordion -->

     </div>
     <div class="col-md-5 page-content">

     <div class="post-head">



             <div class="thumb-overlay"></div>
             <img alt="" src="{{asset('bundles/gedeltur/principal/images/slider/bg1.jpg')}}">

     </div>

         <div class="thumb-overlay"></div>
             <img alt="" src="{{asset('bundles/gedeltur/principal/images/slider/upr.jpg')}}">

     </div>

     </div>

            </div>


 {% endblock %}

 



 