{% extends 'GEDELTURBundle:Default:plantilla.html.twig' %}

{% block boton %}
     
        <a  href="{{ path('especialidad_new') }}"><button type="button" class="btn btn-warning warning_22"><span class="glyphicon glyphicon-plus"  id="pencil"></span>   Nuevo</button></a>
         
   
</br>
        </br>
    {% endblock %}

    {% block title %}Especialidades{% endblock %}


{% block body -%}





<div class="table-responsive">


    <table class="table table-striped table-bordered table-hover dataTable no-footer"  id="dataTables-example">



        <thead>
        <tr>

            <th>Nombre</th>
            <th style="min-width:  200px">Título del Egresado</th>
            <th style="min-width:  200px">Perfil del Egresado</th>

            <th style="min-width:  200px">Objetivos</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Fin</th>
            <th style="min-width:  200px">Requisitos</th>
            <th style="min-width:  200px" >Cursos</th>

            <th>Tarifa(CUP)</th>

            <th>Responsable</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>

                <td>{{ entity.id.titulo }}</td>

                <td><p>{{ entity.id.tituloEgresado }}</p></td>
                <td><p>{{ entity.id.perfilEgresado }}</p></td>
                <td><p>{{ entity.id.objetivos }}</p></td>
                <td>{{ entity.id.inicio|date('d/m/Y') }}</td>
                <td>{{ entity.id.fin|date('d/m/Y') }}</td>
                <td><p>{{ entity.id.requisitos }}</p></td>

                <td>
                    {% for cur in entity.curso %}

                            {{ cur.nombre }}. </br>


                         {% endfor %}

                </td>


                <td>{{ entity.id.tarifa}}</td>


                <td>{{ entity.id.encargado.id.nombre}} {{ entity.id.encargado.id.apellidos|striptags|title}}</td>
                <td>







                    <a title="Editar" href="{{ path('especialidad_edit', { 'id': entity.id.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                </td>


                <td>
                    <a title="Eliminar" data-toggle="modal" href="#{{ entity.id.id }}"><span class="glyphicon glyphicon-trash"></span></a>

                </td>
            </tr>

            <div class="modal fade" id="{{entity.id.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h2 class="modal-title">Confirmación de Eliminar</h2>
                        </div>
                        <div class="modal-body">
                            <h5lass="modal-title">¿Estás seguro que deseas eliminar el Diplomado: {{ entity.id.titulo|striptags|title}} ? </h5>
                        </div>
                        <div class="modal-footer">

                            <a  href="{{ path('especialidad_delete', { 'id': entity.id.id }) }}"><button type="button" class="btn btn-primary">Sí</button></a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            </div>
        {% endfor %}
        </tbody>
    </table>

    <div class="alert alert-success">
        {% for flashMessage in app.session.flashbag.get('msg') %}
        <div class="msg">
            {{ flashMessage }}
            {% endfor %}
        </div>





        <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('#dataTables-example').DataTable({
                    responsive: true
                });
            });
        </script>
        {% endblock %}
