{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Especialidad</h1>

    <table class="record_properties">
        <tbody>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('especialidad') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('especialidad_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
